<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch demo modal
    </button> -->

<section>
  <div class="container-fluid">
    <div class="row single-pg">
      <div class="col-md-6 logo-section-left">

        <ngb-carousel class="carousel-fade">
          <ng-template ngbSlide *ngFor="let data of scrollBlocks">
            <div class="wrapper">
              <img [src]="data.src" alt="{{data.title}}">
            </div>
            <div class="carousel-caption">
              <h1 class="font-weight-bold">{{ data.title }}</h1>
              <h3 class="font-weight-normal">{{ data.short }}</h3>
            </div>
          </ng-template>
        </ngb-carousel>

      </div>
      <div class="col-md-6 p-3 bg-color d-flex">
        <div class="login-logo">
          <div class="login-section pb-3 ">
            <div class="otp forgot mt-5" *ngIf="forgotPassword">
              <div class="form-cover text-center">
                <img src="assets/img/forgot-password.png" class="w-50 mt-4" alt="otp">
                <h3>Forgot Password?</h3>
                <p class="pt-2 mb-0">Enter the email or mobile number associated with your account and we'll send you
                  the
                  OTP
                  to reset your password</p>
                <!-- <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
                  </ngx-otp-input> -->
              </div>
              <div class="form-cover forgot-password">
                <!-- <input id="partitioned" type="text" maxlength="6" /> -->

                <form class="pb-3 needs-validation" [formGroup]="fPwordForm" (ngSubmit)="submitFP(captcha);"
                  autocomplete="off">
                  <!-- <input type="text" class="form-control custom-otp" required maxlength="6" minlength="6"> -->
                  <label for="enter"></label>
                  <input type="text" class="form-control py-4" placeholder="Enter your email or mobile"
                    formControlName="userEmail" (keypress)="keyPressEmail($event)" required>
                  <span *ngIf="(isSumitted || fpcontrols.userEmail.dirty) && fpcontrols.userEmail.errors">
                    <span class="error" *ngIf="fpcontrols.userEmail.errors.required">
                      Please enter email or mobile number
                    </span>
                    <span class="error" *ngIf="fpcontrols.userEmail.errors.pattern">
                      Please enter valid email or mobile number
                    </span>
                  </span>
                  <div class="form-group mb-2 mt-3 ">
                    <!-- <re-captcha id="recaptcha" name="recaptcha" formControlName="token" required [class.is-invalid]="isSumitted && fpcontrols.token.errors"></re-captcha> -->
                    <p-captcha siteKey={{sitekey}} #captcha (onResponse)="showResponse($event)"
                      initCallback="loadCaptcha"></p-captcha>
                    <span *ngIf="isSumitted && fpcontrols.token.errors ">
                      <span class="error" *ngIf="fpcontrols.token.errors?.['required']">Please confirm captcha to
                        proceed</span>
                    </span>
                  </div>
                  <button type="submit" class="submit-btn mt-3" [disabled]="!isClickedOnce">Submit</button>
                </form>

                <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p"
                  style="margin: 12px auto;" *ngIf="loading">
                <a class="link d-block text-center" (click)="login()">Back to login</a>
              </div>
            </div>

            <div class="otp forgot mt-5" *ngIf="setPassword">
              <!-- <div class="otp forgot mt-5"> -->
              <div class="text-center">
                <img src="assets/img/forgot-password.png" class="w-50 mt-4" alt="otp">
                <h3>Set New Password</h3>
              </div>
              <div class="form-cover forgot-password">
                <form class="pb-4 needs-validation" [formGroup]="resetPForm" (ngSubmit)="resetPwd(modalResponse)"
                  autocomplete="off">
                  <div class="form-inner w-100 mb-3">
                    <label class="d-block">New Password <span class="star">*</span></label>
                    <input [type]="showPword ? 'text' : 'password'" class="form-control py-4" placeholder=" "
                      formControlName="password" minlength="6" maxlength="20" (paste)="onPaste($event)" required>
                    <span class="input-group-append field-icon">
                      <img [src]="showPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
                        (mousedown)="showPassword()" (mouseleave)="hidePassword()">
                    </span>
                    <span *ngIf="(isSumitted || resetPcontrols.password.dirty) && resetPcontrols.password.errors">
                      <span class="error" *ngIf=" resetPcontrols.password.errors.required">
                        Please enter new password
                      </span>
                      <span class="error" *ngIf="resetPcontrols.password.errors.pattern">
                        Password should contain minimum 6 characters containing at least one uppercase letter, one number, one special character and no white space.
                      </span>
                      <!-- <span class="error" *ngIf="resetPcontrols.password.errors.minlength">
                        Minimum 6 characters required
                      </span> -->
                      <span class="error" *ngIf="resetPcontrols.password.errors.maxlength">
                        Maximum 20 characters only accepted
                      </span>
                    </span>

                  </div>
                  <div class="form-inner w-100 mb-3">
                    <label class="d-block">Confirm Password <span class="star">*</span></label>
                    <input [type]="showCPword ? 'text' : 'password'" class="form-control py-4" placeholder=" "
                      formControlName="confirmPassword" required minlength="6" maxlength="20" (paste)="onPaste($event)">
                    <span class="input-group-append field-icon">
                      <img [src]="showCPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
                        (mousedown)="showCPassword()" (mouseleave)="hideCPassword()">
                    </span>
                    <span
                      *ngIf="(isSumitted || resetPcontrols.confirmPassword.dirty) && resetPcontrols.confirmPassword.errors">
                      <span class="error" *ngIf=" resetPcontrols.confirmPassword.errors.required">
                        Please enter confirm password
                      </span>

                    </span>
                    <span class="error" *ngIf="resetPForm.errors?.notSame">
                      New password and confirm password should be same
                    </span>
                  </div>
                  <button type="submit" class="submit-btn mt-3" [disabled]="!isClickedOnce">Submit</button>
                  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p"
                    style="margin: 12px auto;" *ngIf="loading">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Modal Success -->
<ng-template #modalResponse let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="assets/img/success 1.png" class="w-50" alt="success">
      <h2 class="font-weight-bold">Your password has<br>been reset successfully</h2>
      <p>Please login to continue</p>
      <button type="submit" class="btn btn-primary my-3 mb-4" (click)="login()">Login</button>
    </div>
    <!-- <div class="text-center" *ngIf="fpOtpFailure">
      <img src="assets/img/Error.png" class="w-25" alt="Verification Failed">
      <h3>Failed</h3>
      <p>OTP is not valid.</p>
    </div> -->
  </div>
</ng-template>