
<div class="modal-header">
  <!-- <h4 class="modal-title" id="modal-basic-title">Applicant Signature</h4> -->
  <button type="button" class="close mr-2" aria-label="Close" (click)="cancelpop()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="w-content mx-auto">
    <img class=" mt-2 " width="140" height="140" src="../../../../../../assets/img/tick.png">
  </div>
  <div class="popup-text mx-auto">
    <h1 class="text-center popup-h">{{split1Content}} <span class="popup-id">{{popupid}} </span> {{split2Content}} </h1>
  </div>
  <div class="popup-text mx-auto">
    <button type="button" class="btn btn-primary mx-2 w-100 py-2" (click)="done()">Done</button>
  </div>
  <div class="popup-text mx-auto my-4">
    <a class="w-100 text-center" target="_blank" (click)="track()">Track Status</a>
  </div>
</div>