.error {
    color: red !important;
    font-size: 11px;
  }
  
  .custom-file-label i {
  
    z-index: 1;
  }
  
  .custom-file-label::after {
    content: '' !important;
    z-index: 0;
  }
  
  .custom-file-input {
    cursor: pointer;
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: #1d4386;
    border-color: #1d4386;
  }
  
  .w-content {
    width: max-content;
  }
  
  .popup-text {
    width: 70%;
    font-weight: bold;
    text-align: center;
  }
  
  .popup-h {
    font-weight: 500 !important;
    font-size: 22px !important;
  }
  
  .popup-id {
    font-weight: bold;
    font-size: 22px;
    color: #1d4386;
  }
  
  .headerh {
    color: #1d4386 !important;
  }
  
  ::ng-deep .modal-content {
    width: 90% !important;
    margin: auto;
    margin-top: 80px;
  }
  
  .accordion {
    background-color: #fff;
    color: #1d4386;
    cursor: pointer;
    padding: 14px 10px 14px 14px;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: bold;
    outline: none;
    /* font-size: 15px; */
    /* transition: 0.4s; */
    margin-right: -15px !important;
    margin-left: -15px !important;
    width: auto;
    border-radius: 5px;
  }
  
  .af-box {
    border-radius: 5px;
    margin-bottom: 16px;
  }
  
  .active,
  .accordion:hover {
    background-color: #fff;
  }
  
  .accordion:after {
    content: '\25BC';
    color: #777;
    font-weight: bold;
    float: right;
    font-size: 13px;
    float: right;
    padding: 0px 6px;
    background-color: #edf3fe;
    border-radius: 3px;
    margin-left: 0px;
  }
  
  .active {
    margin-bottom: 0px !important;
  }
  
  .active:after {
    content: "\25B2";
  }
  .activesingle:after{
    content: unset !important;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .viewimage {
    font-size: 11px !important;
  }
  
  .download {
    height: 22px;
    margin-bottom: 10px;
    width: 28px;
    float: right;
    text-align: center;
  }
  
  .download a i {
    font-size: 15px;
    text-align: center;
    color: #888;
  }
  .pholder{
  color: #999 !important;
  }
  select:invalid { color: #999; }
  option:first {
    color: #999 !important;
  }
  /* 
  input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      margin: 0 5px 0 0;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid #1d4386;
  }
  
  input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #1d4386;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid #1d4386;
  } */
  
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 13px;
    height: 13px;
  
    /* background-color only for content */
  
    border: 1px solid #1d4386;
    background-color: #f0f0f1;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    padding: 2px;
    background-clip: content-box;
    background-color: #1d4386;
  }
  
  
  .btn-radio .lab i {
    color: #666;
  }
  
  @media (max-width: 375px) {
    .h-tab .list-inline-item {
      width: 100% !important;
    }
  }
  