<img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="products.length==0">

<!-- <div class="calculatefullpage " *ngIf="isloading">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading-c">
</div> -->
<div class="row" *ngIf="products.length>0">
  <div class="col-sm-8 ">
    <h3 class="pl-0 mb-4">Loan Calculator</h3>
  </div>
  <div class="col-sm-4 select-type">
    <select class="form-control loanType float-right" #changeProd [(ngModel)]="loantype"
      (change)="onChange(changeProd.value)">
      <option disabled>Select loan type</option>
      <option *ngFor="let item of products" [value]="item['id']">{{item.LoanName}}</option>
    </select>
  </div>
</div>

<!-- <div class="w-100 p-5 text-center">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div> -->
<div class="row mx-0 pb-4 af-box c-loan" *ngIf="products.length>0">
  <div class="row  mx-0 pb-4 af-box">
    <div class="col-md-6">

      <div class="row mx-2 mt-4 w-100 loan-status-list p-3">
        <div class="col-12 pl-0 pr-0">
          <div class="ml-auto amounttext"> <!--mask="{{getAmountMask(9,amountlength)}}" prefix="$" [showMaskTyped]="false"-->
            <input   type="text" [(ngModel)]="inputamount"   
            (focusout)="changeAmountLength($event)" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.',align: 'left' }" (change)="changeAmount($event)" class="form-control">
            <span *ngIf="invalidminamount" class="errorfield">Loan amount should be above ${{numberWithCommas(defaultValues?.MinAmount)}} </span>
            <span *ngIf="invalidmaxamount" class="errorfield">Loan amount should be below ${{numberWithCommas(defaultValues?.MaxAmount)}} </span>
          </div>
        </div>
        <div class="pb-1">
          <h4 class="loan-text">Loan Amount</h4>
          <span>Minimum loan of ${{numberWithCommas(defaultValues?.MinAmount)}}</span>
        </div>
        <div class="ml-auto pt-3 pb-1">
          <h3 class="text-primary">${{numberWithCommas(loanamount)}}</h3>
        </div>
        <mat-slider class="max" tickInterval="1000" #lamount (change)="sliderLoanamount(lamount.value)" [step]="500"
          [min]="defaultValues?.MinAmount" [max]="defaultValues.MaxAmount" [(ngModel)]="loanamount"></mat-slider>

        <div class="pt-1">
          <h5 class="loan-text">${{numberWithCommas(defaultValues?.MinAmount)}}</h5>
        </div>
        <div class="ml-auto pt-1">
          <h5 class="loan-text">${{numberWithCommas(defaultValues?.MaxAmount)}}</h5>
        </div>
      </div>
      <!-- <div class="row mx-2 mt-4 w-100 loan-status-list p-3" style="border: 1px solid red;">
        <div class="col-12 pl-0 pr-0">
          <div class="ml-auto amounttext">
            <input type="number" [(ngModel)]="inputamount" (keypress)="keyPressNumbers($event)"
              (change)="changeAmount($event)" class="form-control">
            <span *ngIf="invalidminamount" class="errorfield">Loan amount above {{defaultValues?.MinAmount}} </span>
            <span *ngIf="invalidmaxamount" class="errorfield">Loan amount below {{defaultValues?.MaxAmount}} </span>
          </div>
        </div>
        <div class="pb-1">
          <h4 class="loan-text">Interest Rate</h4>
          <span>Minimum loan of ${{numberWithCommas(defaultValues?.MinAmount)}}</span>
        </div>
        <div class="ml-auto pt-3 pb-1">
          <h3 class="text-primary">${{numberWithCommas(loanamount)}}</h3>
        </div>
        <mat-slider class="max" tickInterval="1000" #lamount (change)="sliderLoanamount(lamount.value)" [step]="500"
          [min]="defaultValues?.MinAmount" [max]="defaultValues.MaxAmount" [(ngModel)]="loanamount"></mat-slider>

        <div class="pt-1">
          <h5 class="loan-text">${{numberWithCommas(defaultValues?.MinAmount)}}</h5>
        </div>
        <div class="ml-auto pt-1">
          <h5 class="loan-text">${{numberWithCommas(defaultValues?.MaxAmount)}}</h5>
        </div>
      </div> -->

      <div class="row mx-2 mt-4 w-100 loan-status-list p-3">
        <div class="col-12 pl-0 pr-0">
          <div class="ml-auto amounttext">
            <input type="number" [(ngModel)]="inputmonth" (change)="changeMonth($event)"
              (keypress)="keyPressNumbers($event)" class="form-control">
            <span *ngIf="invalidminmonth" class="errorfield">Loan tenure should be above {{minimummonth}} {{lnType == 1? 'month' : 'week'}} </span>
            <span *ngIf="invalidmaxmonth" class="errorfield">Loan tenure should be below {{maxmummonth}} {{lnType == 1? 'months' : 'weeks'}}</span>
          </div>
        </div>
        <div class="pb-1">
          <h4 class="loan-text">Loan Tenure</h4>
          <span>Select the duration of the loan</span>
        </div>
        <div class="ml-auto pt-3 pb-1">
          <h3 class="text-primary">{{loanmonth}} <span
              *ngIf="lnType == 1 || lnType == 0">Month{{loanmonth==1?'':'s'}}</span> <span
              *ngIf="lnType == 2">Week{{loanmonth==1?'':'s'}}</span></h3>
        </div>
        <mat-slider class="max" #smonth (change)="sliderLoanmonth(smonth.value)" tickInterval="1000" min="1"
          max="{{maxmummonth}}" [(ngModel)]="loanmonth"></mat-slider>
        <div class="pt-1">
          <h5 class="loan-text">{{defaultValues.MinTenure}} <span *ngIf="lnType == 1 || lnType == 0">Month</span><span
              *ngIf="lnType == 2">Week</span></h5>
        </div>
        <div class=" ml-auto pt-1">
          <h5 class="loan-text">{{defaultValues.MaxTenure}} <span *ngIf="lnType == 1 || lnType == 0">Months</span><span
              *ngIf="lnType == 2">Weeks</span></h5>
        </div>
      </div>

      <div class="row mx-2 mt-4 w-100 loan-status-list p-3" *ngIf="lnType == 2">
        <div class="col-12 pl-0 pr-0">
          <div class="ml-auto amounttext"> <!--mask="{{getAmountMask(9,amountlength)}}" prefix="$" [showMaskTyped]="false"-->
            <input   type="text" [(ngModel)]="inputNetamount"   
            (focusout)="changeNetAmountLength($event)" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.',align: 'left' }" (change)="changeNetAmount($event)" class="form-control">
            <span *ngIf="invalidminnetamount" class="errorfield">Average income/net sales should be above ${{numberWithCommas(defaultValues?.MinNetSalaes)}} </span>
            <span *ngIf="invalidmaxnetamount" class="errorfield">Average income/net sales should be below ${{numberWithCommas(defaultValues?.MaxNetSales)}} </span>
          </div>
        </div>

        <div class="col-12 pl-0 pr-0">
          <h4 class="loan-text">Average Income/Net Sales</h4>
        </div>
        <div class="pb-1">
          <span>Minimum income or net sales ${{numberWithCommas(netsales)}}</span>
        </div>
        <mat-slider class="max" tickInterval="1000" #netsal (change)="sliderNetIncome(netsal.value)" [step]="100"
          [min]="defaultValues?.MinNetSalaes" [max]="defaultValues?.MaxNetSales" [(ngModel)]="netsales"></mat-slider>
          <div class="pt-1">
            <h5 class="loan-text">${{numberWithCommas(defaultValues?.MinNetSalaes)}}</h5>
          </div>
          <div class="ml-auto pt-1">
            <h5 class="loan-text">${{numberWithCommas(defaultValues?.MaxNetSales)}}</h5>
          </div>
      </div>


      <!-- *ngIf="tenurMonths" -->
      <div class="row mx-2 mt-4 w-100 loan-status-list p-5">
        <div class="col-md-12 text-center">
          <span>Selected loan tenure is</span>
          <ng-container *ngIf="lnType == 1 || lnType == 0">
            <h3 class="font-weight-bold mb-0 cl-txt" *ngIf="tenurYears || tenurMonths">{{tenurYears}} Years and
              {{tenurMonths}} Months</h3>
            <h3 class="font-weight-bold mb-0 cl-txt" *ngIf="!tenurYears && !tenurMonths">0 Years and 0 Months</h3>
          </ng-container>

          <ng-container *ngIf="lnType == 2">
            <h3 class="font-weight-bold mb-0 cl-txt" *ngIf="tenurYears || tenurMonths">{{loanmonth}}
              Week{{loanmonth>1?'s': ''}}</h3>
            <h3 class="font-weight-bold mb-0 cl-txt" *ngIf="!tenurYears && !tenurMonths">1 Week</h3>
          </ng-container>
        </div>
        <!-- <div class="col-md-12 mt-3">
          <input type="text" class="form-control" [(ngModel)]="numyrs" name="numyrs" maxlength="12"
            (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)">
        </div> -->
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card">
        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading-c mb-5 pb-5" *ngIf="isloading">
        <!-- <div class="col-md-12 text-center chart" *ngIf="chartPreview">
          <img src="../../../assets/img/chart.png" alt="">
          <h2 class="font-weight-bold" style="margin-bottom: 200px"> The result will be appear here</h2>
        </div> -->
        <div>
          <div *ngIf="!isloading" id="container" class="center-div"></div>
          <div class=" center-div-foot mb-3">
            <h3 class="font-weight-bold text-center ">Result</h3>
          </div>
          <div class="row center-div-foot">
            <div class="col-md-1 px-0">

            </div>
            <div class="col-md-6">
              <h5 class="loan-text ">Interest Rate 
                <!-- <span class="star dark">*</span> -->
              </h5>
            </div>
            <div class="col-md-5">
              <h5 class="loan-text-value">{{interestrate}}</h5>
            </div>
            <div class="col-md-1 px-0">

            </div>
            <div class="col-md-6 mt-2">
              <!-- <h5 class="loan-text">{{lnType == 2 ? 'Weekly':'Monthly'}} installment</h5> -->
              <h5 class="loan-text">Monthly installment</h5>
            </div>
            <div class="col-md-5 mt-2">
              <h5 class="loan-text-value">${{numberWithCommas(monthlyinstalment)}}</h5>
              <!-- <h5 class="loan-text-value">${{numberWithCommas(minMonthInstal)}} - ${{numberWithCommas(maxMonthInstal)}}
              </h5> -->
            </div>
            <div class="col-md-1 mt-2 px-0">
              <div class='box principal-box'></div>
            </div>
            <div class="col-md-6 mt-2">

              <h5 class="loan-text">Principal Amount</h5>
            </div>
            <div class="col-md-5 mt-2 ">

              <h5 class="loan-text-value">${{numberWithCommas(principalamount)}}</h5>
            </div>
            <div class="col-md-1 mt-2 px-0">
              <div class='box interest-box'></div>
            </div>
            <div class="col-md-6 mt-2">
              <h5 class="loan-text">Interest Amount</h5>
            </div>
            <div class="col-md-5 mt-2">
              <h5 class="loan-text-value">${{numberWithCommas(interestamount)}}</h5>
              <!-- <h5 class="loan-text-value">${{minInterest}} - ${{maxInterest}}</h5> -->
            </div>
            <div class="col-md-1 px-0">

            </div>
            <div class="col-md-6 mt-2">
              <h5 class="loan-text">Total Amount Payable</h5>
            </div>
            <div class="col-md-5 mt-2">
              <h5 class="loan-text-value">${{numberWithCommas(totalamount)}}</h5>
              <!-- <h5 class="loan-text-value">${{numberWithCommas(minTotAmnt)}} - ${{numberWithCommas(maxTotAmnt)}}</h5> -->
            </div>
          </div>
          <div class="col-lg-12 text-center py-3" *ngIf="tenurYears || tenurMonths">
            <button type="button" class="btn btn-primary mx-auto" (click)="loanApply()">Apply Now</button>
          </div>
          <div class="col-md-5 mt-3">
            <h5 class="loan-text-foot-title">Disclaimer  <span class="star dark r-color">*</span></h5>
          </div>
          <div class="col-md-12 pb-3">
            <h5 class="loan-text-foot">The information obtained from this calculator is intended for general information and is to be used  only as a guide. This simulation and resulting calculation do not constitute an offer or loan application and has no legal effect. All interest rates displayed are guides only, and may not include any fees, charges or government taxes which may apply. Repayments as a result have no legal offering. The figures and formulae used within this calculator may change at any time without notice. Access Financial Services Limited accepts no responsibility for any losses arising from any use of, or reliance upon any calculations or conclusions reached using this calculator. All loans are subject to assessment against established lending criteria, including your individual circumstances, and approval.
              <!-- <br> <span class="star dark">*</span> In subject to employer, the interest rate may vary. -->
              </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="products.length>0">
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <button type="button" class="btn btn-primary mx-3"
        [disabled]="invalidmaxamount || invalidminamount || invalidmaxmonth || invalidminmonth"
        (click)="calculateLoan()">Calculate</button>
      <button type="button" class="btn btn-secondary mx-3" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
