mat-slider {
  width: 100%;
  /* min-width: 450px; */
  min-width: unset;
}

mat-slider ::ng-deep .mat-slider-wrapper ::ng-deep .mat-slider-thumb {
  /* background-color: #CFE1F9; */
  border-radius: 2px;
  background-image: url(../../../assets/img/slider.svg);
  background-position: center;
  background-size: cover;
}
.r-color{
  color:crimson;
}

/* ::ng-deep  .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 0px !important;
    width: 100%;
} */
::ng-deep .mat-slider-has-ticks.cdk-focused:not(.mat-slider-hide-last-tick) .mat-slider-wrapper::after,
.mat-slider-has-ticks:hover:not(.mat-slider-hide-last-tick) .mat-slider-wrapper::after {
  opacity: 0;
}

::ng-deep .mat-slider-horizontal .mat-slider-ticks-container {
  height: 0px !important;
  width: 100%;
}

::ng-deep .mat-slider-horizontal .mat-slider-ticks {
  height: 0px !important;
  width: 100%;
}

mat-slider ::ng-deep .mat-slider-wrapper {
  height: 5px;
}

mat-slider ::ng-deep .mat-slider-wrapper {
  height: 5px;
}

mat-slider ::ng-deep .mat-slider-wrapper ::ng-deep .mat-slider-track-wrapper {
  height: 10px;
}

mat-slider ::ng-deep .mat-slider-wrapper ::ng-deep .mat-slider-track-wrapper ::ng-deep .mat-slider-track-background {
  height: 5px;
  background-color: #fff
}

mat-slider ::ng-deep .mat-slider-wrapper ::ng-deep .mat-slider-track-wrapper ::ng-deep .mat-slider-track-fill {
  height: 5px;
  background-color: #ffcf01;
}

.w-content-loan {
  width: 50%;

}

.loan-text {
  margin-bottom: 0px !important;
  font-size: 13px;
  font-weight: 700 !important;
  color: #444;

}

.loan-text-foot-title {
  margin-bottom: 0px !important;
  font-weight: 600 !important;
  color: #6681ae;
  text-decoration: underline !important;

}

.loan-text-foot {
  margin-bottom: 0px !important;
  font-weight: 500 !important;
  color: #929aa6;

}

.loan-text-value {
  margin-bottom: 0px !important;
  font-weight: bold;
  color: #1d4386;
}

.loanType {
  width: max-content;
  border-radius: 20px;
}

.center-div {

  width: 60%;
  margin: auto;

}
.center-div-foot{
  width: 90%;
  margin: auto;
}
.amounttext{
  width: 30%;
}
.principal-box {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 5px;
  background: #1d4386;
}

.interest-box {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 5px;
  background: #ffcf01;

}

.calculatefullpage {
  position: absolute;
  /* /top: 30%; */
  /* left: 0; */
  width: 80%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.04);
}

.af-loading-c {
  display: block;
  margin: 22% auto;
}

.w-content-loading {
  width: 400px !important;
}
.errorfield{
 /* margin-left: 5px;*/
  color: red;
  font-size: 10px;
}
@media (max-width: 767.98px) {
  .select-type .form-control,
  .select-type .btn {
    margin-bottom: 10px !important;
  }
}