.error{
    color: red !important;
}

#login .fullpage.cus-loading {
    top: 102px;
    left: 50%;
    width: 50%;
    height: 104%;
}
#sign .fullpage {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: transparent;
}