<div class="page-wrap">
  <!-- <div class="page-header">
    <div class="apptitle">
      <div class="af-logo">
        <img src="assets/img/afs-logo.png" alt="">
      </div>
    </div>
    <button class="btn ml-auto cstm-back" (click)="goBack()">Back</button>
  </div> -->

  <div class="content">
    <div class="container pb-5">

      <h3 class="mb-4 text-center">Terms Of Use</h3>
      <div class="row mx-0 pb-3 pt-3 af-box">
        <!-- <div class="fullpage nor-loading"> -->
        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading">
        <!-- </div> -->
        <div class="w-100 mx-5 py-3">
          <div [innerHtml]="descrption"></div>
        </div>
        <!-- <div class="w-100 mx-3 py-5" *ngIf="!loading">
    <p class="text-center mt-5">No data found</p>
  </div> -->
      </div>

    </div>

  </div>
</div>
