.page-header {
  background: #1f4384;
  border-bottom: 8px solid #ffcf01;
  position: fixed;
  width: 100%;
}

.apptitle {
  background: #ffcf01;
  position: relative;
}

.af-logo {
  background: #1d4386 url(../../../assets/img/corner-curve.jpg) no-repeat left top;
  height: 57px;
  padding-top: 5px;
}

.page-header img {
  width: 100px;
  margin: 5px 0 0 30px;
  display: block;
}

.content {
  /* padding-top: 85px; */
  padding-top: 30px;
}

.cstm-back {
  background: #ffcf01;
  position: absolute;
  right: 20px;
  top: 10px;
}
