<!-- <h3 class="pl-4 animated infinite bounce delay-2s">Products</h3> -->
<h3>Products</h3>
<!-- <div class="row mx-0 text-center" *ngIf="products.length>0; else empty"> -->
  <div class="w-100 mx-0 p-5 mb-4 af-box p-10m">
  <div class="row text-center">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading text-center" *ngIf="loading">
    <div class="col-lg-6 col-md-6 col-sm-12 px-4 mb-4 mbl-view" *ngFor="let item of products">
      <div class="d-block bg-lightblue br-rdus p-5">
        <img [src]="item.image_url" alt="" class="w-50 mb-3 br-rdus" loading="lazy">
        <h3 class="mb-2">{{item.LoanName}}</h3>
        <p class="w-50 mx-auto">{{item.description}}</p>
        <button type="button" class="btn btn-primary mt-2 w-50 p-3" (click)="goTo(item)">Apply Now</button>
        <a type="button" [href]="item.ReferenceLink" rel="noopener noreferrer" target="_blank"
          class="btn btn-link cstm-link mt-3 w-50 d-block mx-auto">Learn
          More</a>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template #loading> -->
<!-- <ng-template *ngIf="loading">
  <div class="w-100 p-5 text-center af-box">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
</ng-template> -->
<ng-template #empty>
  <!-- <app-page-not-found></app-page-not-found> -->
  <div class="w-100 p-5 text-center af-box">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="text-center">No Data found</p>
  </div>
</ng-template>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openMarket(exampleModal)" >
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade bd-example-modal-lg" #exampleModal id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center pb-0">
        <h2 class="modal-title font-weight-bold mt-3" style="margin-left: 40%;" id="exampleModalLabel">Marketing Info
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="list-inline h-tab mt-4 text-center">
          <li class="list-inline-item mr-4">
            <button type="button" class="btn " [class.btn-primary]="generalDetail"
              [class.btn-secondary]="!generalDetail" (click)="setTab('G')">General Info
            </button> </li>
          <li class="list-inline-item mr-4">
            <button type="button" class="btn " [class.btn-primary]="!generalDetail"
              [class.btn-secondary]="generalDetail" (click)="setTab('H')">House Hold Info
            </button> </li>
        </ul>
        <ng-container>
          <form *ngIf="generalDetail" class="mx-4 mt-5" [formGroup]="marketingInfo" (ngSubmit)="setTab('H')"
            autocomplete="off">
            <div class="row">
              <ng-container *ngFor="let item of getdropdownList('QuestionName')">
                <div class="col-lg-6" *ngIf="item['type']=='1' && item['fieldtype']=='Dropdown'">
                  <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
                  <div class="form-inner mb-3">

                    <select class="form-control" formControlName="{{item['id']}}">
                      <option *ngFor="let drop of getdropdownAns(item['id'])" [value]="drop['id']">{{drop['name']}}
                      </option>
                    </select>

                  </div>
                </div>
                <div class="col-lg-6" *ngIf="item['type']=='1' && item['fieldtype']=='Textfield'">
                  <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
                  <div class="form-inner mb-3">
                    <input type="text" class="form-control" placeholder=" " formControlName="{{item['id']}}" required>
                  </div>
                </div>
              </ng-container>
              <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-primary mb-5 mt-4" [disabled]="!isClickedOnce">Next</button>
              </div>
            </div>
          </form>

          <form *ngIf="!generalDetail" class="mx-4 mt-5" [formGroup]="houseInfoForm" (ngSubmit)="submitData()"
            autocomplete="off">
            <div class="row">
              <ng-container *ngFor="let item of getdropdownList('QuestionName')">
                <div class="col-lg-4" *ngIf="item['type']=='2' && item['fieldtype']=='Dropdown'">
                  <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
                  <div class="form-inner mb-3">

                    <select class="form-control" formControlName="{{item['id']}}">
                      <option *ngFor="let drop of getdropdownAns(item['id'])" [value]="drop['id']">{{drop['name']}}
                      </option>
                    </select>

                  </div>
                </div>
                <div class="col-lg-4" *ngIf="item['type']=='2' && item['fieldtype']=='Textfield'">
                  <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
                  <div class="form-inner mb-3">
                    <input type="text" class="form-control" placeholder=" " formControlName="{{item['id']}}" required>
                  </div>
                </div>
              </ng-container>
              <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-primary mb-5 mt-4"
                  [disabled]="marketingInfo.invalid||houseInfoForm.invalid">Submit</button>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
