
  <h1>Payment <button type="submit" class="btn btn-primary float-right" (click)="back()">back</button></h1>


  <div class="row mx-0 pb-4 af-box" >
    <div class="row w-100 mx-3 py-1" >
     
      <div class="col-lg-4">
        <h4 class="my-2 font-weight-bold">Payment status</h4>
    
      </div>
      <div class="col-lg-2 d-flex  align-items-center">
      <span>{{paymentstatus}}</span>
      </div>
    </div>
    <div class="row w-100 mx-3 py-1" >
     
      <div class="col-lg-4">
        <h4 class="my-2 font-weight-bold">Transaction Id</h4>
    
      </div>
      <div class="col-lg-2 d-flex  align-items-center">
      <span>{{transactionId}}</span>
      </div>
    </div>
    <div class="row w-100 mx-3 py-1" >
     
      <div class="col-lg-4">
        <h4 class="my-2 font-weight-bold">Amount</h4>
    
      </div>
      <div class="col-lg-2 d-flex  align-items-center">
      <span>{{ formatCurrency(amount,'blur')}}</span>
      </div>
    </div>
  </div>

