<div class="row mb-4">
  <div class="col-lg-4 ">
    <h3>Comment Details</h3>
  </div>
  <div class="col-lg-8 d-flex justify-content-end align-items-end">
    <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
    <button class="btn btn-primary" (click)="addComment()">New</button>
  </div>
</div>
<img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading">

<div class="p-4 af-box" *ngIf="viewComment">
  <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="!viewComment"> -->
  <ng-container *ngIf="viewComment.length==0 && !loading">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="text-center mt-5">No data found</p>
  </ng-container>
  <ng-container>
    <p>{{viewComment?.name}}
    </p>
    <div class="col-lg-6 p-4 bg-lightblue br-rdus">
      <h4 class="font-weight-bold mb-0">
        {{viewComment?.loan_comments}}
      </h4>
    </div>
    <p>{{viewComment?.createdat | date: 'dd-MM-yyyy h:mm a'}}</p>
    <div class="w-100 comment-img">
      <ng-container *ngFor="let image of viewComment?.loan_image">
        <img [src]="image" alt="">
      </ng-container>
      <!-- <img src="../../../../assets/img/comment-img.png" alt="" class="br-rdus" *ngIf="viewComment?.loan_image.length == ''"> -->
    </div>
  </ng-container>
</div>
