<h3 class="mb-4">Services</h3>
<ul class="list-inline h-tab mt-4 d-flex " [ngClass]="{ 'serv-tab': selectedId == 2}">
  <li class="list-inline-item mr-4 " *ngFor="let tab of tabsData" [ngClass]="{ 'selected': tab.id == sectionId}">
    <button type="button" ngbTooltip="{{tab.name}}" class="btn py-2 px-2 w-100"
      [ngClass]="{ 'btn-tab': tab.id != sectionId,'btn-tab-selected': tab.id == sectionId }"
      (click)="goTo(tab.id)">{{tab.name}}
    </button>
  </li>
</ul>
<div class="fullpage cus-loading" *ngIf="loading || loanidload">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div>
<div *ngIf="!addbooking && sectionId=='4'" class=" mt-3 mx-auto pl-3 pr-3 af-box br-rdus pl-form position-relative">
  <div class=" w-100 mt-3 px-2 py-4">
    <h3 class="mb-4 float-left text-primary">Appointments</h3>
    <div class="col-lg-6 filter-button select-type float-right">
      <div class="filter-button float-right book w-75 d-flex" *ngIf="!timeLoader">
        <a class="btn btn-primary font-weight-bold p-2 mr-3 txt-whit" rel="noopener noreferrer" href="tel:{{phoneNumber}}">Call Now</a>
        <!-- <button type="button" class="btn btn-primary font-weight-bold p-2 mr-3">Call Now </button> -->
        <button type="button" class="btn btn-primary font-weight-bold p-2" (click)="booking()">Book an
          Appointment</button>
      </div>
    </div>
  </div>
  <br>
  <div class="mt-1">
    <app-appoinments (phoneNumEvent)="changePhone($event)" (isLoadEvent)="isLoaderCange()"></app-appoinments>
  </div>
</div>
<div *ngIf="addbooking && sectionId=='4'"
  class="row mt-3 mx-auto pl-3 pr-3 pb-4 pt-4 af-box br-rdus pl-form position-relative h-auto">

  <form [formGroup]="bookingForm" class="filter-form w-100" autocomplete="off">
    <div class="row pb-4  mx-auto">
      <div class="col-md-4">
        <div class="form-group">
          <label>Appointment Type <span class="star">*</span></label>
          <select formControlName="appointmenttype" class="form-control">
            <option value="null" class="pholder" disabled>Select appointment type</option>
            <option *ngFor="let vl of getdropdownList('AppointmentTypes')" [value]="vl['id']">{{vl['name']}}</option>
          </select>
          <span
            *ngIf="(submitted || bookingForm.controls.appointmenttype.dirty) && bookingForm.controls.appointmenttype.errors">
            <span *ngIf="bookingForm.controls.appointmenttype.errors.required" class="error">
              Please select appointment type
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>AFS Branch <span class="star">*</span></label>
          <select formControlName="BranchId" class="form-control" (change)="changeBranch()">
            <option value="null" class="pholder" disabled>Select AFS branch</option>
            <option *ngFor="let vl of getdropdownList('BankBranch')" [value]="vl['id']">{{vl['name']}}</option>

          </select>
          <span *ngIf="(submitted || bookingForm.controls.BranchId.dirty) && bookingForm.controls.BranchId.errors">
            <span *ngIf="bookingForm.controls.BranchId.errors.required" class="error">
              Please select AFS branch
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Preferred date <span class="star">*</span>   <span
            class="float-right ml-2 cstm-tooltip"  placement="top"
            ngbTooltip="Please select year first, followed by month and date
            (YYYY/MM/DD)"><i class="ri-information-line text-primary"></i>

          </span></label>
          <!-- <input type="date" formControlName="appointmentDate" min={{currentdate}} class="form-control"
            onkeydown="return false" /> -->
            <input type="text" placeholder="YYYY/MM/DD" bsDatepicker [minDate]="mindate" [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
            [daysDisabled]="[6,0]" class="form-control calendar" formControlName="appointmentDate" onkeydown="return false" >

          <span
            *ngIf="(submitted || bookingForm.controls.appointmentDate.dirty) && bookingForm.controls.appointmentDate.errors">
            <span *ngIf="bookingForm.controls.appointmentDate.errors.required" class="error">
              Please select preferred date
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Time Slot <span class="star">*</span></label>
          <input [ngxMatTimepicker]="pickerA" placeholder="hh:mm" formControlName="timeslot" class="form-control calendar clock" 
            (closed)="gethourminutesMinMax($event)" />

            <!-- <mat-form-field> 
             <input matInput
                     name="selected_time_A"
                     formControlName="timeslot"
                     [ngxMatTimepicker]="pickerA"
                     placeholder="4:00 PM"
                     readonly />
              <mat-icon matSuffix
                        (click)="pickerA.open()">
                  watch_later
              </mat-icon> 
        </mat-form-field>  -->
         <ngx-mat-timepicker   #pickerA></ngx-mat-timepicker>
          <span *ngIf="(submitted || bookingForm.controls.timeslot.dirty) && bookingForm.controls.timeslot.errors">
            <span *ngIf="bookingForm.controls.timeslot.errors.required" class="error">
              Please select time slot
            </span>
            <span *ngIf="bookingForm.controls.timeslot.errors.minMaxError" class="error">
              Please select time between {{get12HourFormat(startTime)}} to {{get12HourFormat(toTime)}}
            </span>
            <span *ngIf="bookingForm.controls.timeslot.errors.minTodayError" class="error">
              This time is not available today
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-8 mb-5">
        <div class="form-group">
          <label>Reason <span class="star">*</span></label>
          <textarea class="form-control" formControlName="reason" placeholder="Enter">

      </textarea>
          <span *ngIf="(submitted || bookingForm.controls.reason.dirty) && bookingForm.controls.reason.errors">
            <span *ngIf="bookingForm.controls.reason.errors.required" class="error">
              Please enter reason
            </span>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="sectionId=='1'"
  class="row mt-3 mx-auto pl-3 pr-3 pb-4 pt-4 af-box br-rdus pl-form position-relative h-auto">
  <form [formGroup]="billingForm" class="w-100 pro-update" autocomplete="off">
    <div class="row mt-4">
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Loan ID <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <select class="form-control" #loanId formControlName="billingLoanId" (change)="getCurrentValue(loanId.value)"
            required>
            <option value="null" class="pholder" disabled>Select loan ID</option>
            <!-- <option>Select</option> -->
            <option *ngFor="let data of getLoanId" [value]="data.LoanId">{{data.LMSLoanId}}</option>
          </select>
          <span
            *ngIf="(submitted || billingForm.controls.billingLoanId.dirty) && billingForm.controls.billingLoanId.errors">
            <span *ngIf="billingForm.controls.billingLoanId.errors.required" class="error">
              Please select loan id
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Customer Name</label>
        <div class="form-inner mb-4">
          <!-- <input type="text" class="form-control cstm-input" formControlName="customerName" readonly> -->
          <div class="w-100 cstm-box">
            <!-- <p>{{customerName?customerName:''}}</p> -->
            <p *ngIf="repayDetails">{{repayDetails?repayDetails.FirstName:''}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Current Billing Cycle</label>
        <div class="form-inner mb-4">
          <div class="w-100 cstm-box">
            <!-- <p *ngIf="billingValue == 2">Weekly</p>
            <p *ngIf="billingValue == 3">BiWeekly</p>
            <p *ngIf="billingValue == 4">Monthly</p> -->
            <!-- <p>{{billingValue?billingValue:''}}</p> -->
            <p *ngIf="repayDetails">{{repayDetails?repayDetails.BillingCycleTypeName:''}}</p>
          </div>
          <!-- <input type="text" class="form-control cstm-input" formControlName="billingValue" placeholder="" readonly> -->
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Desired Billing Cycle <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <!-- <select class="form-control" required>
            <option>Select</option>
            <option>Value 1</option>
            <option>Value 2</option>
            <option>Value 3</option>
          </select> -->
          <!-- <select formControlName="appointmenttype" class="form-control"> -->
          <select class="form-control" formControlName="billPaymentType">
            <option value="null" class="pholder" disabled>Select desired billing cycle</option>
            <ng-container *ngFor="let vl of getdropdownList('BillingCycle')">
              <option *ngIf="repayDetails?.BillingCycleTypeName !=vl['name']" [value]="vl['id']">{{vl['name']}}</option>
            </ng-container>

          </select>
          <span
            *ngIf="(submitted || billingForm.controls.billPaymentType.dirty) && billingForm.controls.billPaymentType.errors">
            <span *ngIf="billingForm.controls.billPaymentType.errors.required" class="error">
              Please select desired billing cycle
            </span>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="sectionId=='2'"
  class="row mt-3 mx-auto pl-3 pr-3 pb-4 pt-4 af-box br-rdus pl-form position-relative h-auto">
  <form class="w-100 pro-update" [formGroup]="rePaymentForm" autocomplete="off">
    <div class="row mt-4">
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Loan ID <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <select class="form-control" #loanId formControlName="repayLoanId" [value]=""
            (change)="getCurrentValue(loanId.value)" required>
            <option class="pholder" disabled value="null">Select loan ID</option>
            <option *ngFor="let data of getLoanId" [value]="data.LoanId">{{data.LMSLoanId}}</option>
          </select>
          <span
            *ngIf="(submitted || rePaymentForm.controls.repayLoanId.dirty) && rePaymentForm.controls.repayLoanId.errors">
            <span *ngIf="rePaymentForm.controls.repayLoanId.errors.required" class="error">
              Please select loan id
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Loan Amount</label>
        <div class="form-inner mb-4">
          <!-- <input type="text" class="form-control cstm-input" formControlName="repayAmount" readonly> -->

          <div class="w-100 cstm-box">
            <!-- <p><span *ngIf="repayAmount">{{getdropdownList('Currency')[0]['code']}}</span>{{repayAmount?repayAmount:''}}</p> -->
            <p>
              <!-- <span *ngIf="repayDetails">{{getdropdownList('Currency')[0]['code']}}</span> -->
              {{repayDetails?.LoanAmount | currency}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Current Repayment Mode</label>
        <div class="form-inner mb-4">
          <!-- <input type="text" class="form-control cstm-input" formControlName="currentRepayMode" placeholder=" "
            readonly> -->
          <div class="w-100 cstm-box">
            <!-- <p>{{currentRepayMode?currentRepayMode:''}}</p> -->
            <p *ngIf="repayDetails">{{repayDetails?repayDetails.PaymentTypeName:''}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Desired Repayment Mode <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <select class="form-control" formControlName="desiredRepayMode" required>
            <option class="pholder" disabled value="null">Select desired repayment mode</option>
            <ng-container *ngFor="let vl of getdropdownList('PaymentType')">
              <option *ngIf="repayDetails?.PaymentTypeName !=vl['name']" [value]="vl['id']">{{vl['name']}}</option>
            </ng-container>
          </select>
          <span
            *ngIf="(submitted || rePaymentForm.controls.desiredRepayMode.dirty) && rePaymentForm.controls.desiredRepayMode.errors">
            <span *ngIf="rePaymentForm.controls.desiredRepayMode.errors.required" class="error">
              Please select desired repayment mode
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-8 mb-5">
        <div class="form-group">
          <label>Comments </label>
          <textarea class="form-control" formControlName="comments" placeholder="Enter">
      </textarea>
          <span
            *ngIf="(submitted || rePaymentForm.controls.comments.dirty) && rePaymentForm.controls.comments.errors">
            <span *ngIf="rePaymentForm.controls.comments.errors.required" class="error">
              Please enter comments
            </span>
          </span>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Employer rrr<span class="star">*</span></label>
        <div class="form-inner mb-4">
          <select class="form-control" formControlName="repayEmployer">
            <option class="pholder" disabled value="null">Select employer</option>
            <option *ngFor="let vl of getdropdownList('Employer')" [value]="vl['id']">{{vl['name']}}</option>
          </select>
          <span
            *ngIf="(submitted || rePaymentForm.controls.repayEmployer.dirty) && rePaymentForm.controls.repayEmployer.errors">
            <span *ngIf="rePaymentForm.controls.repayEmployer.errors.required" class="error">
              Employer required
            </span>
          </span>
        </div>
      </div> -->
    </div>
  </form>
</div>


<div *ngIf="sectionId=='3'"
  class="row mt-3 mx-auto pl-3 pr-3 pb-4 pt-4 af-box br-rdus pl-form position-relative h-auto">

  <form class="filter-form w-100" [formGroup]="raiseEnquiryForm" autocomplete="off">
    <div class="row pb-4  mx-auto">
      <div class="col-md-4">
        <div class="form-group">
          <label for="confirm_pwd" class="pt-2">Loan ID <span class="star">*</span></label>
          <div class="form-inner mb-4">
            <select class="form-control" formControlName="loanId" required>
              <option class="pholder" disabled value="null">Select loan ID</option>
              <option *ngFor="let data of getLoanId" [value]="data.LoanId">{{data.LMSLoanId}}</option>
            </select>
            <span
              *ngIf="(submitted || raiseEnquiryForm.controls.loanId.dirty) && raiseEnquiryForm.controls.loanId.errors">
              <span *ngIf="raiseEnquiryForm.controls.loanId.errors.required" class="error">
                Please select loan id
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Enquiry Type <span class="star">*</span></label>
          <div class="form-inner mb-4">
            <select class="form-control" formControlName="enquiryType" required>
              <option class="pholder" disabled value="null">Select enquiry type</option>
              <option *ngFor="let item of getdropdownList('EnquiryTypes')" [value]="item['id']">{{item['name']}}
              </option>
            </select>
            <span
              *ngIf="(submitted || raiseEnquiryForm.controls.enquiryType.dirty) && raiseEnquiryForm.controls.enquiryType.errors">
              <span *ngIf="raiseEnquiryForm.controls.enquiryType.errors.required" class="error">
                Please select enquiry type
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Attachments </label>
          <div class="custom-file ">
            <input type="file" (change)="fileChange($event,'attachments')" class="custom-file-input" id="customFile"
              required>
            <label class="custom-file-label" for="customFile">
              {{raiseEnquiryForm.controls['attachments'].value && raiseEnquiryForm.controls['attachments'].value!=''?raiseEnquiryForm.controls['attachments'].value:'Add image'}}
              <i class="ri-upload-2-line"></i>
            </label>
            <a class="viewimage" *ngIf="geturl(raiseEnquiryForm.controls['attachments'].value) !=false"
              href="{{geturl(raiseEnquiryForm.controls['attachments'].value)}}" rel="noopener noreferrer" target="_blank">View file/image</a>
            <div *ngIf="fieldname.includes('attachments')">
              <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
            </div>
            <span
              *ngIf="(submitted || raiseEnquiryForm.controls.attachments.dirty) && raiseEnquiryForm.controls.attachments.errors">
              <!-- <span *ngIf="raiseEnquiryForm.controls.attachments.errors.required" class="error">
                Attachments required
              </span> -->
              <span class="error" *ngIf="raiseEnquiryForm.controls.attachments.errors.notSupportedFileType">
                The image must be a file of type: jpg, jpeg, png, pdf
              </span>
              <span class="error" *ngIf="raiseEnquiryForm.controls.attachments.errors.filleSizeincorrect">
                Please upload the file size below 25 MB
              </span>
            </span>

          </div>
        </div>
      </div>
      <div class="col-md-8 mb-5">
        <div class="form-group">
          <label>Comments <span class="star">*</span></label>
          <textarea class="form-control" formControlName="comments" placeholder="Enter">
      </textarea>
          <span
            *ngIf="(submitted || raiseEnquiryForm.controls.comments.dirty) && raiseEnquiryForm.controls.comments.errors">
            <span *ngIf="raiseEnquiryForm.controls.comments.errors.required" class="error">
              Please enter comments
            </span>
          </span>
        </div>
      </div>
    </div>

  </form>
</div>


<div *ngIf="sectionId=='5'"
  class="row mt-3 mx-auto pl-3 pr-3 pb-4 pt-4 af-box br-rdus pl-form position-relative h-auto">

  <form class="filter-form w-100" [formGroup]="loanPreclosureForm" autocomplete="off">
    <div class="row pb-4  mx-auto">
      <div class="col-md-4">
        <div class="form-group">
          <label for="confirm_pwd" class="pt-2">Loan ID <span class="star">*</span></label>
          <div class="form-inner mb-4">
            <select class="form-control" #loanId formControlName="preClosureloanId"
              (change)="getPreCloseValue(loanId.value)" required>
              <option class="pholder" disabled value="null">Select loan ID</option>
              <option *ngFor="let data of getLoanId" [value]="data.LoanId">{{data.LMSLoanId}}</option>
            </select>
            <span
              *ngIf="(submitted || loanPreclosureForm.controls.preClosureloanId.dirty) && loanPreclosureForm.controls.preClosureloanId.errors">
              <span *ngIf="loanPreclosureForm.controls.preClosureloanId.errors.required" class="error">
                Please select loan id
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="confirm_pwd" class="pt-2">Payoff balance <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <!-- <input type="text" class="form-control" maxlength="7" formControlName="preClosureAmount" placeholder=" "
            (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)" required> -->

          <div class="w-100 cstm-box">
            <!-- <p><span
                *ngIf="preClosureAmount">{{getdropdownList('Currency')[0]['code']}}</span>{{(preClosureAmount?preClosureAmount:'') | number:'1.0':'en-US' }}
            </p> -->
            <p>
              <!-- <span *ngIf="preClosureDetails?.amount">{{getdropdownList('Currency')[0]['code']}}</span> -->
              {{preClosureDetails?.amount | currency}}</p>
          </div>
          <span *ngIf="submitted && !(preClosureDetails?.amount)" class="error">
            Payoff balance is empty
          </span>
        </div>
      </div>
    </div>
  </form>
</div>



<div class="row btm-btn" *ngIf="sectionId=='4' && addbooking">
  <!--*ngIf="showForm"-->
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <!--filterForm.invalid-->
      <button type="button" class="btn btn-primary mx-3" (click)="submit()">Submit</button>
      <button type="button" class="btn btn-secondary mx-3" (click)="cancelbooking()">Cancel</button>
    </div>
  </div>
</div>
<div class="row btm-btn" *ngIf="sectionId=='1' || sectionId=='2' || sectionId=='3' || sectionId=='5' ">
  <!--*ngIf="showForm"-->
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <!--filterForm.invalid-->
      <button type="button" class="btn btn-primary mx-3" *ngIf="sectionId !=='5'"
        (click)="submittab(sectionId)">Submit</button>
      <button type="button" class="btn btn-primary mx-3" *ngIf="preClosureDetails?.status=='2' && preClosureDetails?.amount && preClosureDetails?.amount>0" data-toggle="modal"
          data-target="#view_popup" data-dismiss="modal" (click)="gotoPayment(preClosureDetails?.id)">Pay Now</button>
      <button type="button" class="btn btn-primary mx-3" *ngIf="sectionId=='5'&& preClosureDetails?.amount && preClosureDetails?.amount>0 && (preClosureDetails?.status=='0'|| preClosureDetails?.status=='1'|| preClosureDetails?.status=='3')" [disabled]="preClosureDetails?.status=='1'" (click)="reqPreClose()">{{(preClosureDetails?.status=='0'||preClosureDetails?.status=='3')?'Submit':'Pending'}}</button>
      <button type="button" class="btn btn-primary mx-3" *ngIf="sectionId=='5' && (preClosureDetails?.status=='4' || (preClosureDetails&&preClosureDetails?.amount <=0))" [disabled]="preClosureDetails?.status=='4'" >Closed</button>
      <!-- <button type="button" class="btn btn-secondary mx-3" (click)="cancelBillingForm()">Cancel</button> -->
      <button type="button" class="btn btn-secondary mx-3" (click)="cancelForm(sectionId)">Cancel</button>
    </div>
  </div>
</div>


<!-- Modal Pay Early -->
<div class="modal fade" id="view_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="fullpagepop" *ngIf="popupDeleteLoading">
          <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
        </div>
        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="popupLoading">
        <div class="col-md-12 text-center" *ngIf="preClosureDetails?.amount">
          <h4>Pay Total Outstanding Amount</h4>
          <p class="font-weight-bold">
            {{getdropdownList('Currency')[0]['code']}}{{(preClosureDetails?.amount)?preClosureDetails?.amount:'00.00'}}</p>
          <button class="btn btn-primary w-100 font-weight-bold my-4" (click)="gotoPayment(preClosureDetails?.id)"
            *ngIf="proceedToPay">Proceed to pay</button>
        </div>
        <div class="col-md-12">
          <div class="col-md-12" *ngIf="cardInfo">
            <div class="card-details">
              <div class="card-head my-2 d-flex justify-content-between">
                <h4 class="font-weight-bold mb-0">Card Details</h4>
                <i class="ri-add-circle-fill" *ngIf="openButton" (click)="addNewCard()"></i>
                <!-- <span *ngIf="closeButton" (click)="closeCardForm()">x</span> -->
                <i class="ri-close-line" *ngIf="closeButton" (click)="closeCardForm()"></i>
              </div>
              <div class="w-100" *ngIf="newCard">
                <form [formGroup]="newCardForm" autocomplete="off">
                  <div class="form-group">
                    <label>Card Holder Name<span class="star">*</span></label>
                    <input type="text" class="form-control" (keypress)="keyPressAlpha($event)" placeholder=""
                      formControlName="holderName" required>
                    <span
                      *ngIf="(paysubmitted || newCardForm.controls.holderName.dirty) && newCardForm.controls.holderName.errors">
                      <span *ngIf="newCardForm.controls.holderName.errors.required" class="error">
                        Please enter card holder name
                      </span>
                    </span>
                  </div>
                  <div class="form-group ">
                    <label>Card Number<span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="#### #### #### ####"
                      formControlName="cardNumber" maxlength="19" required mask="0000 0000 0000 0000">
                    <span
                      *ngIf="(paysubmitted || newCardForm.controls.cardNumber.dirty) && newCardForm.controls.cardNumber.errors">
                      <span *ngIf="newCardForm.controls.cardNumber.errors.required" class="error">
                        Please enter card number
                      </span>
                    </span>
                  </div>
                  <div class="row">
                  <div class="form-group col-6 ">
                    <label>Expiry Date<span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="MM/YYYY" formControlName="expiryDate"
                      mask="00/0000">
                    <span
                      *ngIf="(paysubmitted || newCardForm.controls.expiryDate.dirty) && newCardForm.controls.expiryDate.errors">
                      <span *ngIf="newCardForm.controls.expiryDate.errors.required" class="error">
                        Please enter expiry date
                      </span>
                      <span *ngIf="newCardForm.controls.expiryDate.errors.validateDate" class="error">
                        Please enter valid expiry date
                      </span>
                    </span>
                  </div>
                  <!-- <div class="form-group">
                  <label>Expiry Year <span class="star">*</span></label>
                  <input type="text" class="form-control" placeholder="YYYY" formControlName="expiryYear" maxlength="4"
                    required mask="0000">

                    <span
                    *ngIf="(submitted || newCardForm.controls.expiryYear.dirty) && newCardForm.controls.expiryYear.errors">
                    <span *ngIf="newCardForm.controls.expiryYear.errors.required" class="error">
                      Please enter expiry year
                    </span>
                  </span>
          </div> -->
                  <div class="form-group col-6 ">
                    <label>CVV <span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="CVV" formControlName="cardCvv" maxlength="3"
                      required mask="000">
                    <span
                      *ngIf="(paysubmitted || newCardForm.controls.cardCvv.dirty) && newCardForm.controls.cardCvv.errors">
                      <span *ngIf="newCardForm.controls.cardCvv.errors.required" class="error">
                        Please enter cvv
                      </span>
                    </span>
                  </div>
                </div>
                  <!-- <div class="checkbox mt-2 mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Save this card for future transactions
                    </label>
                  </div> -->

                  <div class="custom-control custom-checkbox mt-2 ">
                    
                    <input type="checkbox" class="custom-control-input" id="savecard" value="remember-me">
                    <label class="custom-control-label" for="savecard"> Save this card for future transactions
                  </label>
                  </div>
                  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                </form>
              </div>
              <div class="w-100 card-block" *ngIf="cardData && showCards">
                <div class="row card-add mx-0 mb-2" *ngFor="let data of cardData">
                  <div class="col-md-3 pl-0">
                    <img src="../../../assets/img/card.svg" alt="card" class="af-card">
                  </div>
                  <div class="col-md-8 px-0 position-relative">
                  
                    <h5 class="font-weight-bold mr-2 mb-0">{{(data.cardholder_name).substring(0,20) }}{{((data.cardholder_name).length>20)?'..':''}}</h5>
                    <h6 class="font-weight-bold mb-0">**** **** {{data.card_number}}</h6>
                    <p class="mb-0">{{data.card_expiry_month}}/{{data.card_expiry_year}} ***</p>
                    <div class="d-flex btn-ctrl">
                      <button class="btn remove mr-2" (click)="removeCard(data.cardid)">Remove</button>
                      <button type="submit" class="btn btn-primary" *ngIf="data.IsDefault==1">Primary</button>
                    </div>
                  </div>
                  <div class="col-md-1 pr-0 text-right">
                    <input type="radio" class="form-check-input mt-5" name="selectCard" [value]="data.card_token"
                    [ngModel]="data.IsDefault==1?data.card_token:false"  (ngModelChange)="onSelectedCard($event,data.cardid)" />
                  </div>
                </div>
              </div>
              <!-- <div class="checkbox mt-1 ">
                <label>
                  <input type="checkbox" [(ngModel)]="makeDefault"> Make as default
                </label>
                </div> -->


                <div class="custom-control custom-checkbox mt-1 ">
                
                  <input type="checkbox" [(ngModel)]="makeDefault" class="custom-control-input" id="makas"  > 
                  <label class="custom-control-label" for="makas">Make as default</label>
              </div>
              <div class="powered_by my-2">
                <img src="../../../assets/img/powered-by.svg" alt="powered by" class="w-100">
              </div>
              <div class="custom-control custom-checkbox  mb-2">
                <!-- <input type="checkbox" [(ngModel)]="tempcondition"  class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">I have read and accept the <a
                  href="https://payment.myamberpay.com/gateway/v1/amberpayterms" target="_blank" class="txt-11p">Terms
                  &
                  Conditions</a></label> -->
                  <input type="checkbox" [(ngModel)]="tempcondition"  class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">I have read and accept the <a
                  href="https://payment.myamberpay.com/gateway/v1/amberpayterms" rel="noopener noreferrer" target="_blank" class="txt-11p">Terms
                  &
                  Use</a></label>
              </div>
              
              <!-- <button type="submit" class="btn btn-primary w-100 font-weight-bold">Make Payment</button> -->
              <button type="button" class="btn btn-primary w-100 font-weight-bold my-4" (click)="makePayment()">Make
                Payment</button>
            </div>

          </div>
        </div>

        <!-- <button type="button" class="btn btn-primary w-100 font-weight-bold my-4"
        *ngIf="(preClosureData && preClosureAmount) || (payEarlyData && earlyAmount)" (click)="makePayment()">Make
        Payment</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Dynamic form for payment gateway -->
<ng-container *ngIf="cardCheckout">
  <form ngNoForm #myFormPost name="myFormPost" action="https://paymentdemo.myamberpay.com/gateway/v1/quick-checkout"
    method="POST" autocomplete="off">
    <ng-container *ngFor="let input of inputData">
      <input type="hidden" [name]="input.name" [value]="input.value" />
    </ng-container>
  </form>
</ng-container>
<ng-container *ngIf="tokenCheckout">
  <form ngNoForm #myFormPost name="myFormPost" action="https://paymentdemo.myamberpay.com/gateway/v1/tokenize-checkout"
    method="POST" autocomplete="off">
    <ng-container *ngFor="let input of inputData">
      <input type="hidden" [name]="input.name" [value]="input.value" />
    </ng-container>
  </form>
</ng-container>
