.fullpage {
  position: absolute;
  top: 100px;
  left: 15%;
  width: 85%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.04);
}

.fullpage .af-loading {
  margin: 20% auto;
}
.fullpagepop{
  position: absolute;
  top: 100px;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.04);
}
.list-inline-item {
  width: 18% !important;
}

.book .btn {
  font-size: 12px;
  min-width: inherit;
  width: 100%;
}

.pholder {
  color: #999 !important ;
}

.pl-form .ng-invalid {
  color: #999 !important;
}

option:first {
  color: #999 !important;
}

.viewimage {
  font-size: 11px;
}

::ng-deep .cdk-overlay-container {
  z-index: 999999 !important;
}

/* ::ng-deep .mat-toolbar.mat-primary{
  background: #1f4384 !important;
} */
/* @media (min-width: 576px) and (max-width: 767.98px) { */
@media (max-width: 767.98px) {
  .serv-tab {
    display: block !important;
  }

  .h-tab .list-inline-item {
    width: 46% !important;
  }

  .select-type .form-control {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 375px) {
  .h-tab .list-inline-item {
    width: 100% !important;
  }

  .serv-tab .btn {
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  .serv-tab .btn {
    font-size: 10px;
    line-height: normal;
  }
}

/* 
@media (max-width: 392px) {
  .h-tab .list-inline-item {
    width: 46% !important;
  }
} */
