<div class="row">
  <div class="col-lg-7">
    <h3 class="mb-0">Track Request/Enquiry</h3>
  </div>
  <div class="col-lg-5">

    <form [formGroup]="trackEnquiryForm" autocomplete="off">
      <div class="row select-type">
        <div class="col-sm-6 col-md-6 col-lg-5">
          <!-- <select class="form-control" id="select_all" formControlName="EnquiryStatus" (change)="changeInputValue($event)" required> -->
          <!-- <select class="form-control" [(ngModel)]="statusfilter"> -->
          <!-- <select class="form-control" [(ngModel)]="statusfilter" required>
          <option value="" checked disabled>Status</option>
          <option [value]="'Open'">Open</option>
        </select> -->
          <select class="form-control" formControlName="enquiryType" (change)="changeInputValue()" required>
            <option value="" checked>All</option>
            <option *ngFor="let item of getdropdownList('EnquiryStatus')" [value]="item['id']">{{item['name']}}
            </option>
          </select>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-5">
          <!-- <input type="text" placeholder="" class="form-control" bsDaterangepicker formControlName="transactionDuration"
        (onHidden)="getAllTransactions()"> -->
          <input type="text" placeholder="YYYY/MM/DD" bsDatepicker [maxDate]="today" [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
            class="form-control calendar" formControlName="enquiryDate"  (onHidden)="changeInputValue()">
        </div>

      </div>
    </form>
  </div>
</div>
<div class="fullpage cus-loading" *ngIf="loading">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div>
<div *ngIf="!addbooking" class=" mt-3 mx-auto pl-3 pr-3 af-box br-rdus pl-form position-relative">

  <div class="mt-3">
    <app-tracklist></app-tracklist>
  </div>
</div>
