.fullpage {
  position: absolute;
  top: 100px;
  left: 15%;
  width: 85%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.04);
}

.fullpage .af-loading {
  margin: 20% auto;
}

.list-inline-item {
  width: 18% !important;
}

.book .btn {
  font-size: 14px;
  min-width: inherit;
  width: 100%;
}

input.calendar {
  background: #fff url('../../../assets/img/calendar.png') no-repeat 95% center/15px 15px !important;
}

body {
  position: relative;
}

bs-datepicker-container {
  right: 10% !important;
  left: inherit !important;
}

@media (max-width: 767.98px) {
  .select-type .form-control {
    margin-bottom: 10px !important;
  }
}
