.fullpage {
    position: absolute;
    top: 100px;
    left: 15%;
    width: 85%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
}
.fullpage .af-loading {
    margin: 20% auto;
}

.fullpagepop{
    position: absolute;
    top: 100px;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
}
.status-btn .button-left button {
    background: #fff;
    padding: 0rem 1rem !important;
    border-radius: 10px;
    font-weight: bold;
}
.container-b {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .w-70{
      width: 70% !important;
      margin: auto;
  }
  .unselectbtn{
      background-color: #edf3fe;
  }