<h3 class="mb-4">My Loans
  <button type="submit" class="btn btn-primary float-right" (click)="allTransactions()">All Transactions</button>
</h3>
<div class="row mx-0 af-box p-4" *ngIf="!loansData">
  <ngx-skeleton-loader count="8" appearance="line"></ngx-skeleton-loader>
</div>

<!-- <div class="w-100 p-5 text-center" *ngIf="!loansData">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div> -->

<div class="row mx-0 pb-4 af-box" *ngIf="loansData?.data.length>0">
  <div class="fullpage" *ngIf="loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <!-- <div class="col-md-12 py-4">
    <input type="text" class="form-control" placeholder="" [showMaskTyped]="false" mask="(000) 000-0000" prefix="+7">
  </div> -->
  <!-- <div class="row mx-4 mt-4 w-100 loan-status-list" *ngFor="let item of loansData?.data; let i=index  | paginate: { itemsPerPage: loansData.total_items, currentPage: loansData.current_page }"> -->
  <div class="row mx-4 mt-4 w-100 loan-status-list" *ngFor="let item of loansData?.data; let i=index">
    <div class="w-100 px-3 d-flex d-sm-block"
      *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'N' && item.LoanStatus=='Active'">
      <div class="w-20">
        <h4>{{item.LoanName}}</h4>
        <span>#{{item.Id}}</span>
      </div>
      <div class="w-20" *ngIf="item.LMSLoanId && item.LMSLoanId != item.Id">
        <h4>Loan ID</h4>
        <span>{{item.LMSLoanId}}</span>
      </div>
      <!-- <div class="w-20"> -->
      <!-- <div class="w-20" *ngIf="item.isViewFlag=='Y'">
        <h4>Next Due Date</h4>
        <span>{{loanDetails?.Duedate}}</span>
      </div> -->
      <div class="w-20">
        <h4>Loan Amount</h4>
        <!-- <span>{{getdropdownList('Currency')[0]['code']}}{{item.LoanAmount | number}}</span> -->
        <span>{{item.LoanAmount | currency:'$'}}</span>
      </div>
      <!-- <div class="w-20"> -->
      <!-- <div class="w-20" *ngIf="item.isViewFlag=='Y'">
        <h4>Total Outstanding</h4>
        <span>{{getdropdownList('Currency')[0]['code']}}{{loanDetails?.PrincipalOutStanding}}</span>
      </div> -->
      <!-- <div class="w-20 text-right" [ngClass]="{'w-75': item.isViewFlag=='N'}"> -->
      <div class="w-75 text-right">
        <button class="btn-status btn-active"
          *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'N' && item.LoanStatus=='Active'">Active</button>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <ng-container
        *ngIf="!(item.LoanSectionType == 'COMPLETED' && item.isEditable == 'N' && item.LoanStatus=='Active')">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <h4>{{item.LoanName}}</h4>
            <span>#{{item.Id}}</span>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4" *ngIf="item.LMSLoanId && item.LMSLoanId != item.Id">
            <h4>Loan ID</h4>
            <span>{{item.LMSLoanId}}</span>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <h4>Loan Amount</h4>
            <!-- <span>{{getdropdownList('Currency')[0]['code']}}{{item.LoanAmount | number}}</span> -->
            <span>{{item.LoanAmount | currency:'$'}}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row m-view">
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex d-sm-block justify-content-start align-items-start">
          <button class="btn-status incomplete"
            *ngIf="item.LoanSectionType == 'DRAFT' && item.isEditable == 'Y' && item.level !== 100">{{item.level?item.level:'0'}}%
            done</button>
          <!-- <button class="btn-status"
            [ngClass]="[item.LoanStatus == 'Additional Documents Required' ? 'btn-secondary': '', item.LoanStatus == 'Additional Info Required' ? 'btn-secondary': '', item.LoanStatus == 'In Progress' ? 'completed': '', item.LoanStatus == 'InProgress' ? 'completed': '', item.LoanStatus == 'Completed' ? 'completed': '', item.LoanStatus == 'Submitted' ? 'submitted': '', item.LoanStatus == 'SubmitToLMS' ? 'submitted': '', item.LoanStatus == 'Cancelled' ? 'cancelled': '', item.LoanStatus == 'Approved' ? 'completed': '', item.LoanStatus == 'Rejected' ? 'btn-danger': '', item.LoanStatus == 'Disbursed' ? 'btn-danger': '']"
            *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'Y' || item.isEditable == 'N' && item.LoanStatus !== 'Active'">{{item.LoanStatus}}</button> -->
          <button class="btn-status"
            [ngClass]="[item.LoanStatus == 'Additional Documents Required' ? 'btn-secondary': '', item.LoanStatus == 'SubmitToLMS' ? 'completed': '', item.LoanStatus == 'Rejected' ? 'btn-danger': '', item.LoanStatus == 'Cancelled' ? 'btn-danger': '',item.LoanStatus == 'In Progress' ? 'completed': '', item.LoanStatus == 'InProgress' ? 'completed': '', item.LoanStatus == 'Submitted' ? 'submitted': '', item.LoanStatus == 'Approved' ? 'submitted': '', item.LoanStatus == 'Paid Off' ? 'completed': '', item.LoanStatus == 'Written Off' ? 'submitted': '', item.LoanStatus == 'Provided' ? 'submitted': '']"
            *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'Y' || item.isEditable == 'N' && item.LoanStatus !== 'Active'">{{item.LoanStatusDescription}}</button>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 d-flex d-sm-block justify-content-end align-items-end">
          <ng-container
            *ngIf="(item.LoanStatus == 'In Progress' || item.LoanStatus == 'InProgress' || item.LoanStatus == 'Completed' || item.LoanStatus == 'Submitted' || item.LoanStatus == 'Rejected' || item.isEditable == 'N' && item.LoanStatus !== 'Active')">
            <!-- *ngIf="(item.LoanStatus == 'In Progress' || item.LoanStatus == 'InProgress' || item.LoanStatus == 'Completed' || item.LoanStatus == 'Submitted' || item.LoanStatus == 'Rejected' || item.isEditable == 'N' && item.LoanStatus !== 'Active') && item.isViewFlag=='Y'"> -->
            <!-- <button class="btn btn-primary mr-3"
              *ngIf="(item.LoanSectionType == 'COMPLETED' && item.isEditable == 'Y') || item.isEditable == 'N' || (item.LoanSectionType == 'Submitted' && item.isEditable == 'Y') && (item.LoanStatus == 'Submitted' ||  item.LoanStatus == 'In Progress')"
              (click)="viewLoanStatus(item.Id, i)">Status</button> -->
            <button class="btn btn-primary"
              *ngIf="(item.LoanSectionType == 'COMPLETED' && item.isEditable == 'Y') || item.isEditable == 'N'"
              (click)="viewLoanStatus(item.Id, i)">Status</button>
            <ng-container *ngIf="item.LoanStatus == 'Submitted'">
              <button class="btn btn-primary continue-complete ml-3"
                *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'Y' || item.isEditable == 'N' || (item.LoanSectionType == 'Submitted' && item.isEditable == 'Y') && (item.LoanStatus == 'Submitted' || item.LoanStatus == 'In Progress' || item.LoanStatus == 'InProgress')"
                (click)="viewDetail(item.DraftId,item.LoanTypeId)">View
                Details</button>
            </ng-container>
          </ng-container>
          <button class="btn btn-primary continue-complete ml-3" *ngIf="item.isEditable == 'Y'"
            (click)="continueForm(item.LoanTypeId,item.DraftId)">Continue</button>
          <button class="btn btn-danger continue-complete ml-3"
            *ngIf="(item.isEditable == 'Y') && !(item.LoanSectionType == 'COMPLETED')"
            (click)="deleteLoan(item.LoanTypeId,item.DraftId)">Delete</button>
        </div>
      </div>
    </div>


    <ng-container
      *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'N' && item.LoanStatus=='Active' && item.isViewFlag=='Y' && activeLoanPosition.includes(i) && loanDetails">

      <!-- *ngIf="item.LoanSectionType == 'COMPLETED' && item.isEditable == 'N' && item.LoanStatus=='Active' && activeLoanPosition.includes(i) && loanDetails"> -->
      <!-- <ng-container
      *ngIf="item.LoanSectionType == 'DRAFT' && item.isEditable == 'Y' && i == activeLoanPosition &&loanDetails"> -->
      <!-- <ng-container
      *ngIf="item.LoanSectionType == 'Completed' && item.isEditable == 'N' && i == activeLoanPosition &&loanDetails"> -->
      <div class="w-100 mt-4 mx-3 p-3 af-box sub-status loan-details">
        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="waitingLoanDetails">

        <ul class="list-group list-group-horizontal-lg justify-content-between" *ngIf="!waitingLoanDetails">
          <li class="list-group-item">
            <span>Disbursement Date</span>
            <p>{{(loanDetails[i]?.DisbursalDate && loanDetails[i]?.DisbursalDate!='-')?(loanDetails[i]?.DisbursalDate |
              date:'yyyy/MM/dd'):'-'}}</p>
          </li>
          <li class="list-group-item">
            <span>Loan Amount</span>
            <p>{{(loanDetails[i]?.DisbursedAmount.toString()) | currency:'$'}}</p>
          </li>
          <li class="list-group-item">
            <span>Repayment Amount</span>
            <!-- <p>{{getdropdownList('Currency')[0]['code']}}{{loanDetails.MonthlyRepayment | number}}</p> -->
            <p>{{loanDetails[i]?.MonthlyRepayment | currency:'$'}}</p>
          </li>
          <li class="list-group-item">
            <span>Payment Frequency</span>
            <p>{{loanDetails[i]?.InstallmentFrequency}}</p>
          </li>
          <li class="list-group-item">
            <span>Interest Rate Per Annum</span>
            <p *ngIf="loanDetails[i]?.InterestRate">{{(loanDetails[i]?.InterestRate)}}%</p>
            <p *ngIf="!loanDetails[i]?.InterestRate">-</p>
          </li>
          <li class="list-group-item">
            <span>Maturity Date</span>
            <p>{{(loanDetails[i]?.MaturityDate &&loanDetails[i]?.MaturityDate!='-')?(loanDetails[i]?.MaturityDate |
              date:'yyyy/MM/dd'):'-'}}</p>
          </li>
          <li class="list-group-item">
            <span>Loan Term</span>
            <p >{{loanDetails[i]?.Tenure}} {{(loanDetails[i]?.InstallmentFrequency).replace("ly","s")}}</p>
           
            <!-- <p *ngIf="item.LoanTypeId == '1'">{{loanDetails[i]?.Tenure}} Month{{loanDetails[i]?.Tenure>1?'s': ''}}</p>
            <p *ngIf="item.LoanTypeId == '2'">{{loanDetails[i]?.Tenure}} Week{{loanDetails[i]?.Tenure>1?'s': ''}}</p> -->
          </li>
        </ul>

        <ul class="list-group list-group-horizontal-lg justify-content-between" *ngIf="!waitingLoanDetails">
          <li class="list-group-item">
            <span>Loan Purpose</span>
            <p>{{loanDetails[i]?.LoanPurp?loanDetails[i]?.LoanPurp:'-'}}</p>
          </li>
          <li class="list-group-item">
            <span>Next Payment Due Date</span>
            <p>{{(loanDetails[i]?.Duedate&&loanDetails[i]?.Duedate!='-')?(loanDetails[i]?.Duedate|
              date:'yyyy/MM/dd'):'-'}}</p>
          </li>
          <li class="list-group-item">
            <span>Current Loan Payment Term</span>
            <!-- <p>{{loanDetails.CurrentTerm}}</p> -->
            <p >{{loanDetails[i]?.CurrentTerm}} {{(loanDetails[i]?.InstallmentFrequency).replace("ly","s")}}</p>
            <!-- <p *ngIf="item.LoanTypeId == '1'">{{loanDetails[i]?.CurrentTerm}}
              Month{{loanDetails[i]?.CurrentTerm>1?'s': ''}}</p>
            <p *ngIf="item.LoanTypeId == '2'">{{loanDetails[i]?.CurrentTerm}}
              Week{{loanDetails[i]?.CurrentTerm>1?'s': ''}}</p> -->
          </li>
          <li class="list-group-item">
            <span>Loan Term Balance</span>
            <p >{{loanDetails[i]?.BalanceTenure}} {{(loanDetails[i]?.InstallmentFrequency).replace("ly","s")}}</p>
            <!-- <p *ngIf="item.LoanTypeId == '1'">{{loanDetails[i]?.BalanceTenure}}
              Month{{loanDetails[i]?.BalanceTenure>1?'s': ''}}
            </p>
            <p *ngIf="item.LoanTypeId == '2'">{{loanDetails[i].BalanceTenure}}
              Week{{loanDetails[i]?.BalanceTenure>1?'s': ''}}
            </p> -->
          </li>
          <li class="list-group-item">
            <span>Principal Balance</span>
            <!-- <p>{{getdropdownList('Currency')[0]['code']}}{{loanDetails.PrincipalOutStanding | number}}</p> -->
            <p>{{loanDetails[i]?.PrincipalOutStanding | currency:'$'}}</p>

          </li>
          <li class="list-group-item">
            <span>Payoff Balance</span>
            <!-- <p>{{getdropdownList('Currency')[0]['code']}}{{loanDetails.TotalOutstanding | number}}</p> -->
            <p>{{loanDetails[i]?.TotalOutstanding | currency:'$'}}</p>
          </li>
          <li class="list-group-item">
            <span>Repayment Method</span>
            <p>{{loanDetails[i]?.RepaymentMode}}</p>
          </li>
        </ul>
        <!-- <ul class="list-group list-group-horizontal-lg justify-content-between">
          <li class="list-group-item">
            <span>Monthly Repayment</span>
            <p>{{getdropdownList('Currency')[0]['code']}}{{loanDetails.MonthlyRepayment | number}}</p>
          </li>
          <li class="list-group-item">
            <span>Disbursal Date</span>
            <p>{{loanDetails.DisbursalDate | date: 'dd-MM-yyyy'}}</p>
          </li>
          <li class="list-group-item">
            <span>Disbursed Amount</span>
            <p>{{getdropdownList('Currency')[0]['code']}}{{loanDetails.DisbursedAmount | number}}</p>
          </li>
          <li class="list-group-item">
            <span>Tenure</span>
            <p *ngIf="item.LoanTypeId == '1'">{{loanDetails.Tenure}} Months</p>
            <p *ngIf="item.LoanTypeId == '2'">{{loanDetails.Tenure}} Weeks</p>
          </li>
          <li class="list-group-item">
            <span>Maturity Date</span>
            <p>{{loanDetails.MaturityDate | date: 'dd-MM-yyyy'}}</p>
          </li>
          <li class="list-group-item">
            <span>Loan Purpose</span>
            <p>{{loanDetails.LoanPurp}}</p>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal-lg">
          <li class="list-group-item">
            <span>Installment Frequency</span>
            <p>{{loanDetails.InstallmentFrequency}}</p>
          </li>
          <li class="list-group-item">
            <span>Balance Tenure</span>
            <p *ngIf="item.LoanTypeId == '1'">{{loanDetails.BalanceTenure}} Months</p>
            <p *ngIf="item.LoanTypeId == '2'">{{loanDetails.BalanceTenure}} Weeks</p>
          </li>
          <li class="list-group-item">
            <span>Repayment Mode</span>
            <p>{{loanDetails.RepaymentMode}}</p>
          </li>
          <li class="list-group-item">
            <span>Repayment A/C No</span>
            <p>{{loanDetails.RepaymentAC}}</p>
          </li>
          <li class="list-group-item">
            <span>Interest Rate</span>
            <p>{{(loanDetails.InterestRate).toFixed(2)}}</p>
          </li>
          <li class="list-group-item">
            <span>Current Loan Payment Term </span>
            <p>{{loanDetails.CurrentTerm}}</p>
          </li>
        </ul> -->
      </div>

      <div class="status-btn row col-md-12 mt-4">
        <div class="button-left ml-3 row">
          <button class="btn mr-2 container-b" (click)="emiSchedule(item.Id)"><i
              class="ri-calendar-event-fill mr-2"></i>
            Payment Schedule</button>
          <!-- <button class="btn mr-2" (click)="loanPreClosure(item.Id)" data-toggle="modal" data-target="#view_popup"
            data-dismiss="modal"><i class="ri-currency-fill"></i>
            Loan Pre-closure</button> -->

          <button class="btn mr-2 container-b" *ngIf="loanDetails[i]?.TotalOutstanding>0"
            (click)="loanPreClosure(item.Id)"><i class="ri-currency-fill mr-2"></i>
            Loan Pre-closure</button>
          <!-- <button class="btn container-b" (click)="changeRepayMode(item.Id)"><i class="ri-bank-card-fill mr-2"></i>
            Repayment Mode Change</button> -->
        </div>
        <div class="button-right pt-2 ml-auto">
          <button type="submit" class="btn btn-secondary mr-2 p-2 px-4" data-toggle="modal" data-target="#view_popup"
            data-dismiss="modal" *ngIf="loanDetails[i]?.TotalOutstanding>0" (click)="payEarly(item.Id)">Pay
            Early</button>
          <button type="button" class="btn btn-primary p-2 px-4" (click)="transactions(item.Id)">Transactions</button>
        </div>
      </div>
    </ng-container>

    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-40p"
      *ngIf="forLoanDetails && statusPosition == i">

    <ng-container *ngIf="loanStatus && statusPosition == i && viewLoanDetails && !forLoanDetails">
      <!-- <ng-container> -->
      <div class="w-100 mt-4 mx-3 p-3 af-box sub-status loan-details">
        <ul class="list-group list-group-horizontal-lg justify-content-between">
          <ng-container *ngFor="let data of loanStatusData">
            <li class="list-group-item">
              <span>Applied On</span>
              <p>{{(data.LoanDate&&data.LoanDate!='-')?(data.LoanDate | date:'yyyy/MM/dd'):'-'}}</p>
            </li>
            <li class="list-group-item">
              <span>Tenure</span>
              <p *ngIf="item.LoanTypeId == '1'">{{data.Terms}} Months</p>
              <p *ngIf="item.LoanTypeId == '2'">{{data.Terms}} Weeks</p>
            </li>
            <li class="list-group-item">
              <span>Repayment A/C No</span>
              <p>{{data.AccountNumber?data.AccountNumber:'-'}}</p>
            </li>
            <!-- <li class="list-group-item">
            <span>Interest Rate</span>
          </li> -->
          </ng-container>

          <li class="list-group-item">
            <span>Interest Rate</span>
            <p>{{viewLoanDetails.intereset_rate?viewLoanDetails.intereset_rate:'0.00'}} %</p>
          </li>
        </ul>
      </div>

      <div class="w-100 mx-3 mt-4" *ngIf="viewLoanDetails.status.length !== 0">
        <!-- <div class="w-100 mt-4"> -->
        <h4 class="font-weight-bold">Status
          <button type="submit" class="btn btn-secondary mr-3 mb-0 float-right" *ngIf="item.comments == 'Y'"
            (click)="viewComments(item.Id)">Comments</button>
        </h4>
        <div class="row w-100">
          <div class="col-md-3 mt-3" *ngFor="let data of viewLoanDetails.status">
            <div class="af-box p-3">
              <p class="mb-0 font-weight-bold"><i class="ri-calendar-event-fill"></i>
                {{data.currentstatus}}
              </p>
              <span>{{(data.createdon && data.createdon!='-')?(data.createdon | date: 'yyyy/MM/dd h:mm a'):'-'}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
  <mat-paginator class="mr-5" #page *ngIf="paginationSettings?.enablePagination" [length]="paginationSettings?.length"
    [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>
  <!--   
<div class="align-items-center d-flex justify-content-end mt-3 c-pagination" *ngIf="paginationSettings?.enablePagination" >
  <button class="btn btn-default bg-white p-0" [ngClass]="{'shadow-none': (page?.pageIndex == 0), 'shadow-sm': (page?.pageIndex > 0)}" [disabled]="page.pageIndex == 0 || !page.pageIndex" (click)="page.previousPage()">
      <span class="mat-button-wrapper"><svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></svg></span>
  </button>
  <input type="text" value="1" class="p-1 f-none shadow-sm rounded" #gotoPage (change)="getServerData({pageIndex: gotoPage.value-1})"> <span *ngIf="paginationSettings.totalPages >= 0">  of {{paginationSettings?.totalPages }} </span> 
  <button class="btn btn-default bg-white p-0 nextBtn" [ngClass]="{'shadow-sm': page.pageIndex + 1 != paginationSettings.totalPages}" [disabled]="page.pageIndex + 1 == paginationSettings?.totalPages" (click)="page.nextPage()">
      <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
  </button>
</div> -->

  <!-- <pagination-controls (pageChange)="loansData.current_page = $event" class="float-right"></pagination-controls> -->
</div>
<!-- </div> -->


<!-- Modal Pay Early -->
<div class="modal fade" id="view_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="fullpagepop" *ngIf="popupDeleteLoading">
          <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
        </div>
        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="popupLoading">
        <div class="col-md-12 text-center" *ngIf="preClosureData && preClosureAmount">
          <h4>Total outstanding amount</h4>
          <!-- <p class="font-weight-bold">{{getdropdownList('Currency')[0]['code']}}{{preClosureAmount.amount | number}}</p> -->
          <p class="font-weight-bold">{{preClosureAmount.amount | currency}}</p>

          <button class="btn btn-primary w-100 font-weight-bold my-4" (click)="gotoPayment()"
            *ngIf="proceedToPay">Proceed to pay</button>
        </div>
        <div class="col-md-12" *ngIf="!popupLoading">
          <ng-container *ngIf="payEarlyData && earlyAmount">
            <div class="d-block">
              <div class="outstand_amt px-4 py-2 bg-lightblue">
                <ng-container *ngIf="payInfull">
                  <p>Total outstanding amount</p>
                  <p class="font-weight-bold mb-0">
                    <!-- {{earlyAmount.currency_code}}{{earlyAmount.totalamount }}</p> -->
                    {{earlyAmount.totalamount | currency:'$'}}
                  </p>
                </ng-container>
                <ng-container *ngIf="payEMI">
                  <p>Pay Repayment Amount</p>
                  <p class="font-weight-bold mb-0">
                    <!-- {{earlyAmount.currency_code}}{{earlyAmount.emiamount }}</p> -->
                    {{earlyAmount.emiamount | currency:'$'}}
                  </p>
                </ng-container>
                <ng-container *ngIf="otherAmount">
                  <p>Pay Other Amount</p>
                  <!-- <p class="font-weight-bold mb-0">
                    {{earlyAmount.currency_code}}{{otherAmountData?otherAmountData:'00.00' | currency:'$'}}</p> -->
                  <p class="font-weight-bold mb-0" *ngIf="otherAmountData">
                    {{otherAmountData | currency:'$'}}</p>
                  <p class="font-weight-bold mb-0" *ngIf="!otherAmountData">
                    $00.00</p>
                </ng-container>
              </div>
              <div class="pay-button my-4 d-flex justify-content-between w-70">
                <!-- <button class="btn" (click)="setTab('Pay in full')" [ngClass]="{'btn-primary': tab === 'Pay in full'}">Pay in full</button> -->
                <button class="btn" (click)="setTab('Pay EMI')"
                  [ngClass]="{ 'btn-primary': tabName == 'Pay EMI','unselectbtn':tabName != 'Pay EMI' }">Repayment
                  Amount</button>
                <!-- <button class="btn" (click)="setTab('Pay in full')"
                  [ngClass]="{ 'btn-primary': tabName == 'Pay in full'}">Pay in full</button> -->
                <button class="btn" (click)="setTab('Other Amount')"
                  [ngClass]="{ 'btn-primary': tabName == 'Other Amount','unselectbtn':tabName != 'Other Amount'}">Other</button>
              </div>
              <div class="w-100 p-4 bg-lightblue">
                <p class="font-weight-bold mb-0" *ngIf="payInfull">{{earlyAmount.totalamount | currency:'$' }}</p>
                <p class="font-weight-bold mb-0" *ngIf="payEMI">{{earlyAmount.emiamount | currency:'$' }}</p>
                <input type="text" class="form-control bg-white" placeholder="Enter amount"
                  [(ngModel)]="otherAmountData" currencyMask
                  [options]="{ prefix: '$ ', thousands: ',', decimal: '.',align: 'left' }" *ngIf="otherAmount"
                  minlength="1" maxlength="14" [max]="getAmount(earlyAmount.totalamount)"
                  (focusout)="changeAmount($event)" (keypress)="keyPressNumbers($event)">
                <span class="error" *ngIf="validOtherAmount && otherAmount && otherAmountData">
                  Maximum amount should be {{earlyAmount.emiamount| currency:'$' }}
                </span>
                <span class="error" *ngIf="validMinOtherAmount && otherAmount && otherAmountData<1">
                  Please enter minimum of $1
                </span>
                <!-- <input type="text" id="outstanding_amt" class="form-control" required *ngIf="otherAmount" /> -->
              </div>
            </div>
            <div class="form-inner mt-2 payment_amt">
              <span>All payments will be processed in JMD(Jamaican Dollars)</span>
            </div>
          </ng-container>

          <div class="col-md-12" *ngIf="cardInfo">
            <div class="card-details">
              <div class="card-head my-2 d-flex justify-content-between">
                <h4 class="font-weight-bold mb-0">Card Details</h4>
                <i class="ri-add-circle-fill" *ngIf="openButton" (click)="addNewCard()"></i>
                <i class="ri-close-line" *ngIf="closeButton" (click)="closeCardForm()"></i>
                <!-- <span *ngIf="closeButton" (click)="closeCardForm()">x</span> -->
              </div>
              <div class="w-100" *ngIf="newCard">
                <form [formGroup]="newCardForm" autocomplete="off">
                  <div class="form-group">
                    <label>Card Holder Name<span class="star">*</span></label>
                    <input type="text" class="form-control" (keypress)="keyPressAlpha($event)" placeholder=""
                      formControlName="holderName" required>
                    <span
                      *ngIf="(submitted || newCardForm.controls.holderName.dirty) && newCardForm.controls.holderName.errors">
                      <span *ngIf="newCardForm.controls.holderName.errors.required" class="error">
                        Please enter card holder name
                      </span>
                    </span>
                  </div>
                  <div class="form-group">
                    <label>Card Number<span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="#### #### #### ####"
                      formControlName="cardNumber" maxlength="19" required mask="0000 0000 0000 0000">
                    <span
                      *ngIf="(submitted || newCardForm.controls.cardNumber.dirty) && newCardForm.controls.cardNumber.errors">
                      <span *ngIf="newCardForm.controls.cardNumber.errors.required" class="error">
                        Please enter card number
                      </span>
                    </span>
                  </div>
                  <div class="row">
                    <div class="form-group col-6 ">
                    <label>Expiry Date<span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="MM/YYYY" formControlName="expiryDate"
                      mask="00/0000">
                    <span
                      *ngIf="(submitted || newCardForm.controls.expiryDate.dirty) && newCardForm.controls.expiryDate.errors">
                      <span *ngIf="newCardForm.controls.expiryDate.errors.required" class="error">
                        Please enter expiry date
                      </span>
                      <span *ngIf="newCardForm.controls.expiryDate.errors.validateDate" class="error">
                        Please enter valid expiry date
                      </span>
                    </span>
                  </div>
                  <!-- <div class="form-group">
                  <label>Expiry Year <span class="star">*</span></label>
                  <input type="text" class="form-control" placeholder="YYYY" formControlName="expiryYear" maxlength="4"
                    required mask="0000">

                    <span
                    *ngIf="(submitted || newCardForm.controls.expiryYear.dirty) && newCardForm.controls.expiryYear.errors">
                    <span *ngIf="newCardForm.controls.expiryYear.errors.required" class="error">
                      Please enter expiry year
                    </span>
                  </span>
          </div> -->
                  <div class="form-group col-6">
                    <label>CVV <span class="star">*</span></label>
                    <input type="text" class="form-control" placeholder="CVV" formControlName="cardCvv" maxlength="3"
                      required mask="000">
                    <span
                      *ngIf="(submitted || newCardForm.controls.cardCvv.dirty) && newCardForm.controls.cardCvv.errors">
                      <span *ngIf="newCardForm.controls.cardCvv.errors.required" class="error">
                        Please enter cvv
                      </span>
                    </span>
                  </div>
                  </div>
                  <div class="custom-control custom-checkbox mt-2 ">
                    
                      <input type="checkbox" class="custom-control-input" id="savecard" value="remember-me">
                      <label class="custom-control-label" for="savecard"> Save this card for future transactions
                    </label>
                  </div>
                  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                </form>
              </div>
              <div class="w-100 card-block" *ngIf="cardData && showCards">
                <div class="row card-add mx-0 mb-2" *ngFor="let data of cardData">
                  <div class="col-md-3 pl-0">
                    <img src="../../../assets/img/card.svg" alt="card" class="af-card">
                  </div>
                  <div class="col-md-8 px-0 position-relative">
                    <h5 class="font-weight-bold mr-2 mb-0">{{(data.cardholder_name).substring(0,20)
                      }}{{((data.cardholder_name).length>20)?'..':''}}</h5>
                    <h6 class="font-weight-bold mb-0">**** **** {{data.card_number}}</h6>
                    <p class="mb-0">{{data.card_expiry_month}}/{{data.card_expiry_year}} ***</p>
                    <div class="d-flex btn-ctrl">
                      <button class="btn remove mr-2" (click)="removeCard(data.cardid)"><span>Remove</span></button>
                      <button type="submit" class="btn btn-primary"
                        *ngIf="data.IsDefault==1"><span>Primary</span></button>
                    </div>
                  </div>
                  <div class="col-md-1 pr-0 text-right">
                    <input type="radio" class="form-check-input mt-5" name="selectCard" [value]="data.card_token"
                      [ngModel]="data.IsDefault==1?data.card_token:false"
                      (ngModelChange)="onSelectedCard($event,data.cardid)" />
                  </div>
                </div>
              </div>
              <div class="custom-control custom-checkbox mt-1 ">
                
                  <input type="checkbox" [(ngModel)]="makeDefault" class="custom-control-input" id="makas"  (change)="changeMakeDefault($event)"> 
                  <label class="custom-control-label" for="makas">Make as default</label>
              </div>
              <div class="custom-control custom-checkbox mt-1 ">
            
                  <input type="checkbox" [(ngModel)]="makeAutoPayment" class="custom-control-input" id="makauto"  (change)="changeMakeAuto($event)"> 
                  <label class="custom-control-label" for="makauto">Make as auto payment for this card </label>
              </div>
              <div class="powered_by my-2">
                <img src="../../../assets/img/powered-by.svg" alt="powered by" class="w-100">
              </div>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" [(ngModel)]="tempcondition"  class="custom-control-input" id="customCheck2">
                <!-- <label class="custom-control-label" for="customCheck2">I have read and accept the Terms of Use</label> -->
                <label class="custom-control-label" for="customCheck2">I have read and accept the <a
                    href="https://payment.myamberpay.com/gateway/v1/amberpayterms" rel="noopener noreferrer" target="_blank" class="txt-11p">Terms
                    &
                    Use</a></label>
              </div>
              
              <!-- <button type="submit" class="btn btn-primary w-100 font-weight-bold">Make Payment</button> -->
              <button type="button" class="btn btn-primary w-100 font-weight-bold my-4" (click)="makePayment()">Make
                Payment</button>
            </div>

          </div>
        </div>

        <!-- <button type="button" class="btn btn-primary w-100 font-weight-bold my-4"
        *ngIf="(preClosureData && preClosureAmount) || (payEarlyData && earlyAmount)" (click)="makePayment()">Make
        Payment</button> -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <ng-template #loading>
  <div class="w-100 p-5 text-center af-box">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
</ng-template> -->
<!-- <ng-template #empty> -->
<!-- <app-page-not-found></app-page-not-found> -->
<div class="w-100 p-5 text-center af-box" *ngIf="loansData?.data.length == 0 && !loading">
  <div class="col-md-3 pl-0 mx-auto">
    <img src="../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
  </div>
  <p class="text-center">No data found</p>
</div>
<!-- </ng-template> -->

<!-- Dynamic form for payment gateway -->
<ng-container *ngIf="cardCheckout">
  <form ngNoForm #myFormPost name="myFormPost" action="https://paymentdemo.myamberpay.com/gateway/v1/quick-checkout"
    method="POST" autocomplete="off">
    <ng-container *ngFor="let input of inputData">
      <input type="hidden" [name]="input.name" [value]="input.value" />
    </ng-container>
  </form>
</ng-container>
<ng-container *ngIf="tokenCheckout">
  <form ngNoForm #myFormPost name="myFormPost" action="https://paymentdemo.myamberpay.com/gateway/v1/tokenize-checkout"
    method="POST" autocomplete="off">
    <ng-container *ngFor="let input of inputData">
      <input type="hidden" [name]="input.name" [value]="input.value" />
    </ng-container>
  </form>
</ng-container>