.fullpage {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullpage .af-loading {
    margin: 0% auto;
}

.fullpage1 {
    position: absolute;
    top: 0%;
    left: 15%;
    width: 85%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullpage1 .af-loading {
    margin: 10% auto;
}

.fullpageresend{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullpageresend .af-loading {
    margin: 0% auto;
}

.con{
    height: 35px !important;
}
.not-verified,.verified{
    cursor: pointer !important;
}