<h3 class="mb-4">Edit Profile <button class="btn btn-primary float-right" data-toggle="modal"
    data-target="#changePassword" *ngIf="userInfo.passwordflag !='N'" (click)="updatePassword(changePassword)">Change
    Password</button></h3>


<div class="row mx-0 p-4 af-box">
  <div class="fullpage1" *ngIf="(socialloading || profileloader)">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <form class="w-100 pro-update" [formGroup]="profileForm" autocomplete="off">
    <div class="row align-items-center">
      <div class="small-12 medium-2 large-2 columns edit_profile">
        <div class="circle">

          <img *ngIf="imageloader" width="20" class="profile-pic" height="20" src="../../../assets/img/imageLoader.gif"
            alt="Loading..">

          <!-- <img class="profile-pic" [src]="updatedImage ? imagePath :'assets/img/default-profile.png'"> -->
          <img *ngIf="!imageloader" class="profile-pic" [src]="imagePath ? imagePath :'assets/img/default-profile.png'">
        </div>
        <div class="p-image">
          <i class="ri-chat-upload-fill upload-button"></i>
          <input class="file-upload" type="file" accept="image/*" (change)="fileChange($event)" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile_name">
          <h4 class="font-weight-bold mb-0">{{userFirstName}}</h4>
          <p>{{userinfoEmail}}</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <label for="first_name">First Name <span class="star" *ngIf="userInfo.passwordflag !='N'">*</span> </label>
        <div class="form-inner mb-4">
          <input type="text" id="firstname" formControlName="firstName" class="form-control" required
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
          <!-- <input type="text" id="firstname" formControlName="firstName" class="form-control" required
            (keypress)="keyPressAlpha($event)" *ngIf="userInfo.passwordflag =='N'" (paste)="onPaste($event)" readonly /> -->
          <span
            *ngIf="userInfo.passwordflag !='N' && (isSumitted ||updatecontrols.firstName.dirty)&& updatecontrols.firstName.errors ">
            <span class="error" *ngIf="updatecontrols.firstName.errors.required">
              Please enter first name
            </span>
            <span class="error" *ngIf="updatecontrols.firstName.errors.minlength">
              Minimum 3 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.firstName.errors.maxlength">
              Maximum 50 characters only accepted
            </span>
          </span>
        </div>


        <label for="email">Email <span class="star" *ngIf="userInfo.passwordflag !='N'">*</span></label>
        <div class="form-inner mb-4 position-relative">
          <span class="badge verified no-drops" *ngIf="isEmailVerified">Verified</span>
          <!-- <span class="badge not-verified" *ngIf="!isEmailVerified" data-toggle="modal"
            data-target="#verifyModal">Verify</span> -->
          <!-- <span class="badge not-verified" *ngIf="!isEmailVerified" (click)="getVerify(modalOTPData, 'email')"
            [ngClass]="{'disabled': isClickedOnce === false}">Verify</span> -->
          <span class="badge not-verified" *ngIf="!isEmailVerified"
            (click)="getVerify(modalOTPData, 'email')">Verify</span>
          <input *ngIf="userInfo.passwordflag !='N'" type="email" formControlName="userEmail" class="form-control"
            style="padding-right: 70px;" (keypress)="keyPressEmail($event)" required />
          <input *ngIf="userInfo.passwordflag =='N'" type="email" formControlName="userEmail" class="form-control"
            style="padding-right: 70px;" (keypress)="keyPressEmail($event)" readonly />
          <span
            *ngIf="userInfo.passwordflag !='N' && (isSumitted || updatecontrols.userEmail.dirty) && updatecontrols.userEmail.errors">
            <span class="error" *ngIf=" updatecontrols.userEmail.errors.required">
              Please enter email
            </span>
            <span class="error" *ngIf=" updatecontrols.userEmail.errors.pattern">
              Please enter valid email
            </span>
          </span>
        </div>

        <label for="occupation">Occupation <span class="star">*</span></label>
        <div class="d-flex justify-content-between btn-radio mb-3">
          <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
              <i class="ri-user-2-fill"></i> Salaried
              <input type="radio" class="form-check-input" formControlName="occupation" name="occupation" value="1"
                checked />
            </label>
          </div>
          <div class="form-check-inline mr-0">
            <label class="form-check-label" for="radio2">
              <i class="ri-briefcase-3-fill"></i> Business
              <input type="radio" class="form-check-input" formControlName="occupation"
                [attr.disabled]="(userInfo?.employer_status=='Pending')?true:null" name="occupation" value="2" />
            </label>
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <!-- <label for="middle_name" >Middle Name </label>
        <div class="form-inner mb-4" > -->
        <!-- <input type="text" *ngIf="userInfo.passwordflag !='N'" formControlName="middleName" class="form-control"
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
          <input type="text" *ngIf="userInfo.passwordflag =='N'" formControlName="middleName" class="form-control"
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" readonly /> -->
        <!-- <span *ngIf="isSumitted && updatecontrols.middleName.errors">
            <span class="error" *ngIf="updatecontrols.middleName.errors.minlength">
              Minimum 1 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.middleName.errors.maxlength">
              Maximum 20 characters only accepted
            </span>
          </span> -->
        <!-- </div> -->

        <label for="lastname">Last Name <span class="star">*</span></label>
        <div class="form-inner mb-4">
          <input type="text" id="lastname" formControlName="lastName" class="form-control" required
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
          <!-- <input type="text" *ngIf="userInfo.passwordflag =='N'" id="lastname" formControlName="lastName"
            class="form-control" required (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" readonly /> -->
          <span
            *ngIf="userInfo.passwordflag !='N' && (isSumitted || updatecontrols.lastName.dirty) && updatecontrols.lastName.errors">
            <span class="error" *ngIf=" updatecontrols.lastName.errors.required">
              Please enter last name
            </span>
            <span class="error" *ngIf="updatecontrols.lastName.errors.minlength">
              Minimum 1 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.lastName.errors.maxlength">
              Maximum 50 characters only accepted
            </span>
          </span>
        </div>

        <label for="email">Date Of Birth <span class="star">*</span>
          <!-- <span
          class="float-right ml-2 cstm-tooltip"  placement="top"
          ngbTooltip="Please select year first, followed by month and date
          (YYYY/MM/DD)"><i class="ri-information-line text-primary"></i>
  
        </span> -->


        </label>
        <div class="form-inner mb-4">
          <!-- <input type="text" *ngIf="userInfo.passwordflag !='N'" formControlName="dateOfBirth"
            class="form-control calendar" required (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
          <input type="text" *ngIf="userInfo.passwordflag =='N'" formControlName="dateOfBirth" class="form-control"
            required (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" readonly /> -->

          <!-- <input type="text" *ngIf="userInfo.passwordflag !='N'" placeholder="YYYY/MM/DD" bsDatepicker  #datePickerInput [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
            (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
            onkeydown="return false" class="form-control calendar picker-disabled"  [maxDate]="maxDate" max="2003-10-21"
            formControlName="dateOfBirth" [disabled]="true" required readonly> -->
          <input type="text" placeholder="YYYY/MM/DD" (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
            onkeydown="return false" class="form-control calendar picker-disabled" formControlName="dateOfBirth"
            value="{{updatecontrols.dateOfBirth.value|date:'YYYY/MM/dd'}}" [disabled]="true" required readonly>

          <!-- <input type="text" *ngIf="userInfo.passwordflag =='N'" placeholder="YYYY/MM/DD" bsDatepicker  #datePickerInput  [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
             (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
            onkeydown="return false" class="form-control calendar picker-disabled" [maxDate]="maxDate" max="2003-10-21"
            formControlName="dateOfBirth" [disabled]='true' required readonly> -->

          <span
            *ngIf="userInfo.passwordflag !='N' && (isSumitted || updatecontrols.dateOfBirth.dirty) && updatecontrols.dateOfBirth.errors">
            <span class="error" *ngIf=" updatecontrols.dateOfBirth.errors.required">
              Please enter last name
            </span>
            <span class="error" *ngIf="updatecontrols.dateOfBirth.errors.minlength">
              Minimum 1 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.dateOfBirth.errors.maxlength">
              Maximum 20 characters only accepted
            </span>
          </span>
        </div>

        <div class="form-group" *ngIf="occupationType == 1">
          <label for="exampleFormControlSelect1">Employer <span class="star">*</span></label>
          <!-- <select class="form-control" formControlName="employerData">
            <option *ngFor="let data of employerData" value="{{data.id}}">{{data.name}}</option>
          </select> -->


          <!-- <input type="text" formControlName="employerData" class="form-control" required
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" /> 
            <span *ngIf="isSumitted && updatecontrols.employerData.errors">
              <span class="error" *ngIf=" updatecontrols.employerData.errors.required">
                Please select employer
              </span>
            </span>-->

          <div class="form-inner mb-4 position-relative">
            <ng-container *ngIf="userInfo.employer_status=='Approved' || userInfo.employer_status=='Reject'">
              <span class="badge verified no-drops"
                *ngIf="defaultEmployer && userInfo.employer_status=='Approved'">Approved</span>
              <span class="badge not-verified no-drops" *ngIf="defaultEmployer&& userInfo.employer_status=='Reject'">Not
                Approved</span>
              <!-- <textarea type="text" formControlName="employerData" class="form-control"
                style="padding-right: 80px; height: auto;" required
                (click)="getVerify(modalOTPData, 'employer')"
                [ngClass]="{'disabled': isClickedOnce === false}"></textarea> -->
                <span class="form-control" [class.con]="!updatecontrols.employerData.value"
                style="padding-right: 80px;padding-top: 8px;padding-bottom: 8px; height: auto; " (click)="getVerify(modalOTPData, 'employer')">
                {{updatecontrols.employerData.value}}
                </span>
            </ng-container>
            <ng-container *ngIf="userInfo.employer_status=='Pending'">
              <!--*ngIf="!isEmpVerified "-->
              <span class="badge not-verified no-drops" *ngIf="defaultEmployer">Pending</span>
              <!-- <textarea type="text" formControlName="employerData" class="form-control"
                style="padding-right: 80px; height: auto;" required readonly></textarea> -->
                <span type="text" formControlName="employerData" class="form-control" [class.con]="!updatecontrols.employerData.value"
                style="padding-right: 80px; padding-top: 8px;padding-bottom: 8px; height: auto;"  readonly>{{updatecontrols.employerData.value}}</span>
            </ng-container>
            <span *ngIf="(isSumitted || updatecontrols.employerData.dirty) && updatecontrols.employerData.errors">
              <span class="error" *ngIf="updatecontrols.employerData.errors.required">
                Please select employer
              </span>
            </span>
          </div>

          <!-- <div class="w-100 position-relative">
            <span class="badge not-verified" *ngIf="empVerify">Unverified</span>
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="allEmployers" formControlName="employerData" [searchKeyword]="keyword"
                placeholder="" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="allEmployers" [itemTemplate]="itemTemplate"
                (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" [disabled]="empVerify ? true: false">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name" *ngIf="updatecontrols.employerData?.value.length>2"></a>
              </ng-template> -->

          <!--               
              [notFoundTemplate]="notFoundTemplate"
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound" *ngIf="updatecontrols.employerData?.value.length>2"></div>
            </ng-template> -->
          <!-- </div>
          </div>
          <span *ngIf="isSumitted && updatecontrols.employerData.errors">
            <span class="error" *ngIf=" updatecontrols.employerData.errors.required">
              Please select employer
            </span>
          </span> -->
        </div>
        <div class="form-group" *ngIf="occupationType == 2">
          <label for="exampleFormControlSelect1">Business Name <span class="star">*</span></label>
          <input type="text" formControlName="businessName" class="form-control" required
            (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
          <span *ngIf="(isSumitted || updatecontrols.businessName.dirty) && updatecontrols.businessName.errors">
            <span class="error" *ngIf="updatecontrols.businessName.errors.required">
              Please enter business name
            </span>
            <span class="error" *ngIf="updatecontrols.businessName.errors.minlength">
              Minimum 1 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.businessName.errors.maxlength">
              Maximum 50 characters only accepted
            </span>
          </span>
        </div>


      </div>
      <div class="col-md-4">
        <label for="phone">Mobile Number <span class="star">*</span></label>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- <select class="form-control" formControlName="countryCode"  readonly="readonly">
              <option value="+1" selected> +1 </option>
          
            </select> -->
            <input type="tel" id="phone" formControlName="countryCode" class="form-control" readonly />
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 pl-0 mob-no">
            <div class="form-inner mb-4 position-relative">
              <span class="badge verified no-drops"
                *ngIf="isMobileVerified && (('+1'+updatecontrols.userPhone.value)==userInfo.mobile)">Verified</span>
              <span class="badge not-verified"
                *ngIf="!isMobileVerified && (('+1'+updatecontrols.userPhone.value)==userInfo.mobile)"
                (click)="getVerify(modalOTPData, 'mobile')"
                [ngClass]="{'disabled': isClickedOnce === false}">Verify</span>
              <input type="tel" id="phone" formControlName="userPhone" class="form-control" required
                [showMaskTyped]="false" mask="(000) 000-0000" />
              <!-- <input *ngIf="userInfo.passwordflag =='N'" type="tel" id="phone" formControlName="userPhone"
            class="form-control" required [showMaskTyped]="false" mask="(000) 000-0000" readonly /> -->
              <span *ngIf="(isSumitted || updatecontrols.userPhone.dirty) && updatecontrols.userPhone.errors">
                <span class="error" *ngIf=" updatecontrols.userPhone.errors.required">
                  Please enter phone number
                </span>
                <span class="error" *ngIf="updatecontrols.userPhone.errors.minlength">
                  Mobile number should have minimum of 7 characters
                </span>
              </span>
            </div>
          </div>
        </div>

        <!-- <label for="lastname">Last Name <span class="star" >*</span></label>
        <div class="form-inner mb-4">
          <input type="text"  id="lastname" formControlName="lastName"
            class="form-control" required (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
        
          <span *ngIf="userInfo.passwordflag !='N' && isSumitted && updatecontrols.lastName.errors">
            <span class="error" *ngIf=" updatecontrols.lastName.errors.required">
              Please enter last name
            </span>
            <span class="error" *ngIf="updatecontrols.lastName.errors.minlength">
              Minimum 1 characters required
            </span>
            <span class="error" *ngIf="updatecontrols.lastName.errors.maxlength">
              Maximum 50 characters only accepted
            </span>
          </span>
        </div> -->

        <label for="first_name">TRN Number </label>
        <div class="form-inner mb-4">
          <input type="text" placeholder="xxx-xxx-xxx" formControlName="trnNumber" [showMaskTyped]="false"
            mask="000-000-000" class="form-control" required (keypress)="forTrn($event)" (paste)="onPaste($event)"
            readonly />
          <span
            *ngIf="userInfo.passwordflag !='N' && (isSumitted || updatecontrols.trnNumber.dirty) && updatecontrols.trnNumber.errors">
            <span class="error" *ngIf="updatecontrols.trnNumber.errors.required">
              Please enter TRN number
            </span>
            <span class="error" *ngIf="updatecontrols.trnNumber.errors.minlength">
              Minimum 9 characters required
            </span>
          </span>
        </div>







      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <button type="button" class="btn btn-primary mx-3" *ngIf="userInfo.passwordflag =='N'"
        (click)="submitSocial()">Update</button>
      <button type="button" class="btn btn-primary mx-3" *ngIf="userInfo.passwordflag !='N'"
        (click)="updateProfile(modalValidatePwd)">Update</button>
      <button type="button" class="btn btn-secondary mx-3" (click)="goBack()">Cancel</button>
    </div>
  </div>
</div>


<!-- Modal Verify -->
<ng-template #modalOTPData let-modal>
  <div class="modal-header">
    <div class="fullpageresend" *ngIf="popupLoading">
      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
    </div>
    <h2 class="modal-title font-weight-bold mt-3 w-100 text-center" id="exampleModalLabel" *ngIf="paySlipUpload">
      Employer
    </h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="popupLoading"> -->

    <div class="otp" *ngIf="otpVerify">
      <div class="text-center">
        <img src="assets/img/forgot-password.png" alt="otp" class="w-50">
        <h3 class="mb-2">We've sent you a <br> One Time Passcode (OTP)</h3>
        <p class="py-2">Check your {{forOtpData == 'email'?'email':'mobile number'}}</p>
      </div>
      <div class="opt-input">
        <form class="form-inline needs-validation" (ngSubmit)="submitEmailOTP()" autocomplete="off">
          <ngx-otp-input #ngxotp [config]="otpInputConfig" (fill)="handleFillEvent($event)">
          </ngx-otp-input>
          <p class="error mb-0" *ngIf="enterOTP">Please enter OTP.</p>

          <div class="pt-3 w-100  text-center">
            <p class="error text-center" *ngIf="otpNotValied">Please enter valid OTP.</p>
            <button type="submit" class="login-btn">Submit</button>
          </div>
        </form>
        <p class="d-block text-center mt-2"><span *ngIf="!resend">{{message}} Seconds Left..</span> <button
            class="btn-link link btn-resend" *ngIf="resend" (click)="resendOTP()" [disabled]="popupLoading">Resend
            OTP</button></p>
      </div>
    </div>
    <ng-container *ngIf="paySlipUpload">
      <!-- [disabled]="empVerify ? true: false" -->
      <form class="w-75 mx-auto" [formGroup]="paySlipForm" (ngSubmit)="submitPayslip()" autocomplete="off">
        <div class="form-group" *ngIf="occupationType == 1">
          <label for="exampleFormControlSelect1">Employer <span class="star">*</span></label>
          <div class="ng-autocomplete">
            <ng-autocomplete [data]="allEmployers" formControlName="employerData" [searchKeyword]="keyword"
              placeholder="" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)' historyIdentifier="allEmployers" [itemTemplate]="itemTemplate"
              (keypress)="keyPressAlphaEmployer($event)" (paste)="onPaste($event)" [customFilter]="customFilter">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name" *ngIf="payslipformcontrols.employerData?.value.length>2"></a>
            </ng-template>
          </div>
          <span *ngIf="isSumitted && payslipformcontrols.employerData.errors">
            <span class="error" *ngIf=" payslipformcontrols.employerData.errors.required">
              Please select employer
            </span>
          </span>
        </div>
        <div class="form-group">
          <label>Payslip <span class="star">*</span></label>
          <div class="custom-file">
            <input type="file" (change)="fileChangePayslip($event,'attachments')" class="custom-file-input"
              id="customFile" required>
            <label class="custom-file-label" for="customFile">
              {{payslipformcontrols['attachments'].value &&
              payslipformcontrols['attachments'].value!=''?payslipformcontrols['attachments'].value:'Add image'}}
              <i class="ri-upload-2-line"></i>
            </label>
            <a class="viewimage" *ngIf="geturl(payslipformcontrols['attachments'].value) !=false"
              href="{{geturl(payslipformcontrols['attachments'].value)}}" rel="noopener noreferrer" target="_blank">View
              file/image</a>
            <div *ngIf="fieldname.includes('attachments')">
              <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
            </div>
            <span
              *ngIf="(isSumitted || payslipformcontrols.attachments.dirty) && payslipformcontrols.attachments.errors">
              <span class="error" *ngIf="payslipformcontrols.attachments.errors.required">
                Please add payslip
              </span>
              <span class="error" *ngIf="payslipformcontrols.attachments.errors.notSupportedFileType">
                The image must be a file of type: jpg, jpeg, png, pdf
              </span>
              <span class="error" *ngIf="payslipformcontrols.attachments.errors.filleSizeincorrect">
                Please upload the file size below 25 MB
              </span>
            </span>

          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3 mb-5" [disabled]="!isClickedOnce">Submit</button>
      </form>
    </ng-container>
    <div class="text-center" *ngIf="fpOtpSuccess">
      <img src="assets/img/success 1.png" class="w-50" alt="success">
      <h2>Successfully verified</h2>
    </div>
  </div>
</ng-template>


<!-- Validate Password Modal -->
<!-- <div class="modal fade" id="validatePassword" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-10p" role="document">
    <div class="modal-content"> -->
<ng-template #modalValidatePwd let-modal>
  <div class="fullpage" *ngIf="loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <div class="modal-header text-center pb-0">
    <h2 *ngIf="!proUpdateSuccess" class="modal-title font-weight-bold mt-3" style="margin-left: 30%;"
      id="exampleModalLabel">Confirm Password
    </h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ng-container *ngIf="proUpdate">
      <form class="w-75 mx-auto" autocomplete="off">
        <div class="form-inner mb-4">
          <input [type]="showVPword ? 'text' : 'password'" class="form-control" placeholder=" "
            [(ngModel)]="pwdValidate" [ngModelOptions]="{standalone: true}" required autocomplete="new-password">
          <span class="input-group-append field-icon">
            <img [src]="showVPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
              (mousedown)="showVPassword()" (mouseleave)="hideVPassword()">
          </span>
          <span class="error" *ngIf="enterPassword">
            Please enter current password
          </span>
        </div>
        <button type="button" class="btn btn-primary w-100 mb-4" (click)="submitPassword()">Submit</button>
      </form>
    </ng-container>
    <ng-container *ngIf="proUpdateSuccess">
      <div class="text-center">
        <img src="assets/img/success 1.png" class="w-50" alt="success">
        <h2>Successfully updated</h2>
      </div>
    </ng-container>
  </div>
</ng-template>
<!-- </div>
  </div>
</div> -->


<!-- Change Password Modal -->
<ng-template #changePassword let-modal>
  <div class="fullpage" *ngIf="loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <!-- <div class="modal fade" id="changePassword" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-10p" role="document">
    <div class="modal-content"> -->
  <div class="modal-header text-center pb-0">
    <h2 class="modal-title font-weight-bold mt-3" style="margin-left: 30%;" id="exampleModalLabel">Change Password
    </h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="w-75 mx-auto" [formGroup]="changePasswordForm" (ngSubmit)="changePwd()" autocomplete="off">
      <label for="confirm_pwd" class="pt-2">Current Password</label>
      <div class="form-inner mb-3">
        <input [type]="showPword ? 'text' : 'password'" class="form-control" placeholder=" "
          formControlName="currentPassword" required>
        <span class="input-group-append field-icon">
          <img [src]="showPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt="" (mousedown)="showPassword()"
            (mouseleave)="hidePassword()">
        </span>
        <span
          *ngIf="(isSumitted || changepasswordcontrols.currentPassword.dirty) && changepasswordcontrols.currentPassword.errors">
          <span class="error" *ngIf=" changepasswordcontrols.currentPassword.errors.required">
            Please enter current password
          </span>
        </span>
      </div>
      <label for="confirm_pwd" class="pt-2">New Password</label>
      <div class="form-inner mb-3">
        <input [type]="showNPword ? 'text' : 'password'" class="form-control" placeholder=" "
          formControlName="newPassword" minlength="6" maxlength="20" required>
        <span class="input-group-append field-icon">
          <img [src]="showNPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt="" (mousedown)="showNPassword()"
            (mouseleave)="hideNPassword()">
        </span>
        <span
          *ngIf="(isSumitted || changepasswordcontrols.newPassword.dirty) && changepasswordcontrols.newPassword.errors">
          <span class="error" *ngIf="changepasswordcontrols.newPassword.errors.required">
            Please enter new password
          </span>
          <span class="error" *ngIf="changepasswordcontrols.newPassword.errors.pattern">
            Password should contain minimum 6 characters containing at least one uppercase letter, one number, one
            special character and no white space.
          </span>
          <!-- <span class="error" *ngIf="changepasswordcontrols.newPassword.errors.minlength">
            Minimum 6 characters required
          </span> -->
          <span class="error" *ngIf="changepasswordcontrols.newPassword.errors.maxlength">
            Maximum 11 characters only accepted
          </span>
        </span>
      </div>
      <label for="confirm_pwd" class="pt-2">Confirm New Password</label>
      <div class="form-inner mb-3">
        <input [type]="showCPword ? 'text' : 'password'" class="form-control" placeholder=" "
          formControlName="confirmPassword" minlength="6" maxlength="20" required>
        <span class="input-group-append field-icon">
          <img [src]="showCPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt="" (mousedown)="showCPassword()"
            (mouseleave)="hideCPassword()">
        </span>
        <span
          *ngIf="(isSumitted || changepasswordcontrols.confirmPassword.dirty) && changepasswordcontrols.confirmPassword.errors">
          <span class="error" *ngIf=" changepasswordcontrols.confirmPassword.errors.required">
            Please enter confirm password
          </span>
          <!-- <span class="error" *ngIf="changepasswordcontrols.confirmPassword.errors.passwordNotMatch">
            Password and Confirm password should be same
          </span> -->
        </span>
        <span class="error" *ngIf="changePasswordForm.errors?.notSame">
          New password and confirm new password should be same
        </span>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3 mb-5" [disabled]="!isClickedOnce">Change
        Password</button>
    </form>
  </div>
</ng-template>
<!-- </div>
  </div>
</div> -->