


  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closepopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="popupLoading">

    <div class="otp" *ngIf="otpVerify">
      <div class="text-center">
        <img src="assets/img/forgot-password.png" alt="otp" class="w-50">
        <h3 class="mb-2">We've sent you a <br> One Time Passcode (OTP)</h3>
        <p class="py-2"> Check your {{logintype=='email'?'email' : 'mobile number'}}</p>
      </div>
      <div class="opt-input">
        <form class="form-inline needs-validation" (ngSubmit)="submitFPOtp()" autocomplete="off">
          <ngx-otp-input #ngxotp [config]="otpInputConfig" (fill)="handleFillEvent($event)">
          </ngx-otp-input>
          <p class="error mb-0" *ngIf="enterOTP">Please enter OTP.</p>

          <div class="pt-3 w-100  text-center">
            <p class="error text-center" *ngIf="otpNotValied">Please enter valid OTP.</p>
            <button type="submit" class="login-btn" [disabled]="resend">Verify</button>
          </div>
        </form>
        <p class="d-block text-center mt-2"><span *ngIf="!resend">{{message}} Seconds Left..</span> <button
            class="btn-link link btn-resend" *ngIf="resend" (click)="resendOTP()"
            [disabled]="!isClickedOnce">Resend OTP</button></p>
      </div>
    </div>
    <div class="text-center" *ngIf="fpOtpSuccess">
      <img src="assets/img/success 1.png" class="w-50" alt="success">
      <h2>Successfully verified</h2>
    </div>
  </div>


