<!-- Modal -->
<!-- <div class="modal fade bd-example-modal-lg" #exampleModal id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog modal-lg" role="document"> -->
<!-- <div class="modal-content" style="border: 1px solid red;"> -->
  <div class="fullpagemarket" *ngIf="isloader"> <!--*ngIf="isloader"-->
    <img src="../../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
<div class="modal-header text-center pb-0">
  <h2 class="modal-title font-weight-bold mt-3" style="margin-left: 40%;" id="exampleModalLabel">Marketing Info
  </h2>
  <button type="button" class="close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">

  
  <p class="mb-3 text-center">Please give us your feedback by answering the following questions</p>
  <ul class="list-inline h-tab mt-2 text-center">
    <li class="list-inline-item mr-4" *ngFor="let tabs of tabsArray; let i = index;">
      <button type="button" class="btn " [class.btn-primary]="positionIndex == tabs['id']" [class.btn-secondary]="positionIndex !=tabs['id']"
        (click)="getForm(tabs['id'])">{{tabs.name}}
      </button> </li>
  </ul>
  
  <ng-container>
  
  
    <form  class="mx-4 mt-2" [formGroup]="marketingInfo" autocomplete="off">
      <div class="row">
        <ng-container *ngFor="let item of getdropdownList('QuestionName')">
          <div class="col-lg-6"
            *ngIf="item['type']==positionIndex && item['fieldtype']=='Dropdown' && item['ViewType'] == loginType">
            <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
            <div class="form-inner mb-3">

              <select class="form-control" formControlName="{{item['id']}}">
                <option *ngFor="let drop of getdropdownAns(item['id'])" [value]="drop['id']">{{drop['name']}}</option>
              </select>

            </div>
          </div>
          <div class="col-lg-6"
            *ngIf="item['type']== positionIndex && item['fieldtype']=='Textfield' && item['ViewType'] == loginType">
            <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
            <div class="form-inner mb-3">
              <input type="text" class="form-control" placeholder=" " formControlName="{{item['id']}}" required>
            </div>
          </div>
         
          <div class="col-lg-6"
          *ngIf="item['type']== positionIndex && item['fieldtype']=='Boolean' && item['ViewType'] == loginType">
          <label for="confirm_pwd" class="pt-2" >{{item['name']}}</label><br>
          <div class="form-check-inline" *ngFor="let vl of getdropdownAns(item['id']);let i=index">
            <label class="form-check-label" for="radio1" >
              <i class="ri-home-2-line"></i> {{vl['name']}}
              <input type="radio" class="form-check-input" [formControlName]="item['id']" [name]="item['id']" formControlName="{{item['id']}}"  [value]="vl['id'] + ''" />
            </label>
          </div>
        </div>
        </ng-container>
        <div class="col-lg-12 text-center">
          <button type="submit"   class="btn btn-primary mb-5 mt-4" [attr.disabled]="isloader?true:null" (click)="setTab()" > {{(tabsArray[tabsArray.length-1]["id"]==positionIndex)?'Submit':'Next'}}</button>
        </div>
      </div>
    </form>

    <!-- <form *ngIf="!generalDetail || houseDetail" class="mx-4 mt-5" [formGroup]="houseInfoForm" (ngSubmit)="submitData()"
      autocomplete="off">
      <div class="row">
        <ng-container *ngFor="let item of getdropdownList('QuestionName')">
          <div class="col-lg-4"
            *ngIf="item['type']=='2' && item['fieldtype']=='Dropdown' && item['ViewType'] == loginType">
            <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
            <div class="form-inner mb-3">

              <select class="form-control" formControlName="{{item['id']}}">
                <option *ngFor="let drop of getdropdownAns(item['id'])" [value]="drop['id']">{{drop['name']}}</option>
              </select>

            </div>
          </div>
          <div class="col-lg-4"
            *ngIf="item['type']=='2' && item['fieldtype']=='Textfield' && item['ViewType'] == loginType">
            <label for="confirm_pwd" class="pt-2">{{item['name']}}</label>
            <div class="form-inner mb-3">
              <input type="text" class="form-control" placeholder=" " formControlName="{{item['id']}}" required>
            </div>
          </div>
        </ng-container>
        <div class="col-lg-12 text-center">
      
          <button type="submit" class="btn btn-primary my-5">Submit</button>
        </div>
      </div>
    </form> -->
  </ng-container>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
