/* .fullpage {
    position: absolute;
    top: 15%;
    left: 8%;
    width: 85%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
} */


.fullpagemarket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
}