
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #1d4386;
     border-color: #1d4386;
}
.w-content{
    width: max-content;
}
.popup-text{
    width: 70%;
    font-weight: bold;
    text-align: center;
}
.popup-h{
    font-weight: 500 !important;
    font-size: 22px !important;
}
.popup-id{
   font-weight: bold;
   font-size: 22px;
   color:#1d4386 ;
}
.clear{
    
    color: #fff;
    background-color: #ffcf01;
}
.headerh{
    color:#1d4386 !important;
}
::ng-deep .modal-content{
    width: 90% !important;
    margin: auto ;
    margin-top: 80px;
}
