<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Applicant Signature</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <signature-pad #signatureCanvas id="signatureCanvas" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
    (onEndEvent)="drawComplete()"></signature-pad>
  <!-- <signature-pad  #testPad></signature-pad> -->
  <!-- <ng-signature-pad (done)="saveImage($event,modal,signformgroup,signfieldname)" #testPad></ng-signature-pad> -->
</div>


<div class="buttons text-center pb-4">
  <button [disabled]="disablebtn" (click)="emitToFather()" class="ml-2 mt-2 mb-2 btn btn-primary">Save
    signature</button>
  <button (click)="clear()" class="m-2 btn btn-secondary">Clear</button>
</div>
