
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
  <button type="button" class="close mr-2" aria-label="Close" (click)="cancelpop()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
 
  <div class="popup-text mx-auto">
    <h1 class="text-center popup-h">Do you want delete card? </h1>
  </div>

</div>
<div class="buttons text-center pb-4 ">
  <button  (click)="done()" class="ml-2 mt-2 mb-2 btn btn-primary">Yes</button>
  <button (click)="cancelpop()" class="m-2 btn btn-secondary">No</button>
</div>
