<h3>{{loanTitle}}</h3>
<ul class="list-inline h-tab mt-4" [ngClass]="{ 'bloan': selectedId == 2}">
  <li class="list-inline-item mr-4" *ngFor="let tab of tabsData;let i = index"
    [ngClass]="{ 'selected': i == sectionId}">
    <button type="button" class="btn py-2 px-2 w-100"
      [ngClass]="{ 'btn-tab': i != sectionId,'btn-tab-selected': i == sectionId }" (click)="goTo(i)">{{tab.name}} <span
        class="star" *ngIf="tab.isMantadry=='1'">*</span>
      <img class="float-right mt-1" *ngIf="tab.status && tab.status==2" width="15" height="15"
        src="../../../../../assets/img/success.svg">
      <img class="float-right mt-1" *ngIf="tab.status && tab.status==1" width="15" height="15"
        src="../../../../../assets/img/missing.svg">
      <img class="float-right mt-1" *ngIf="tab.status && tab.status==0" width="15" height="15"
        src="../../../../../assets/img/error.svg">
    </button>

  </li>
  <!-- <li class="list-inline-item selected" [ngClass]="{ 'selected': tabName == 'Comments'}" *ngIf="commentStatus == 'Y'">
    <button type="button" class="btn py-2 px-2 w-100 btn-tab"
      [ngClass]="{ 'btn-tab': tabName == '','btn-tab-selected': tabName == 'Comments' }"
      (click)='SelectedTab("Comments")'>Comments</button>
  </li> -->
  <li class="list-inline-item selected"
    [ngClass]="{ 'selected': tabsData?.length>0&& ((tabsData?.length+1) == sectionId)}" *ngIf="commentStatus == 'Y'">
    <button type="button" class="btn py-2 px-2 w-100 btn-tab"
      [ngClass]="{ 'btn-tab':  tabsData?.length>0&& ((tabsData?.length+1) != sectionId),'btn-tab-selected':  tabsData?.length>0&& ((tabsData?.length+1) == sectionId) }"
      (click)='SelectedTab(tabsData?.length+1)' [disabled]="loading || fullPageLoader">Comments</button>
  </li>
</ul>
<!-- <input mask="(000) 000-0000" prefix="+7" [showMaskTyped]="false" /> -->
<div class="w-100 pb-3 pt-3 af-box" *ngIf="!showForm && alreadyApplied">
  <p class="text-center p-5 font-weight-bold">{{appliedResponse}}</p>
</div>
<div class="w-100 p-5 text-center" *ngIf="tabsData&&tabsData.length==0 && !alreadyApplied">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div>
<!-- <div class="fullpage cus-loading" *ngIf="fullPageLoader && !loading">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div> -->
<div class="row mt-3 mx-auto pl-3 pr-3  br-rdus pl-form position-relative" *ngIf="showForm && tabsData?.length>0 ">
  <div class="fullpage cus-loading" *ngIf="fullPageLoader && !loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>

  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading">
  <!-- <p *ngIf="!filterForm && !loading"> No data found </p> -->

  <form [formGroup]="filterForm" class="filter-form w-100" *ngIf="(tabsData?.length+1) != sectionId && filterForm"
    autocomplete="off">
    <ng-template #recursiveList let-filterFields let-fromGroup="fromGroup">
      <ng-container *ngFor="let item of filterFields;let i = index">
        <ng-container *ngIf="item.forms; else default;">
          <div class="row w-100 af-box" *ngIf="item.name == 'Details' && sectionId=='5' "> <!--&& liveflage=='N'-->

            <button class="btn btn-primary my-5 mx-auto" (click)="pickLivenessTest()">Take Liveness Test</button>

            <div class="row w-100 mx-0" *ngIf="livenessTestBlock">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <h4 class="text-center mb-1"><b class="txt-16p">Instructions:</b> Face must be
                  visible: no hats, dark glasses, head scarf</h4>
                <ol class="mb-4" style="width: max-content;margin: auto;">
                  <li><b class="txt-14p text-center">1.</b> Please smile and hold still</li>
                  <li><b class="txt-14p text-center">2.</b> Please open right eye and hold still</li>
                  <li><b class="txt-14p text-center">3.</b> Please open left eye and hold still</li>
                </ol>
              </div>
              <!-- <div class="col-sm-6 col-md-6 col-lg-6 pl-5"> -->
              <!-- <div class="container-fluid" style="border: 1px solid red;"> *ngIf="takeCamera" -->
              <div class="col-sm-6 col-md-6 col-lg-6 px-5">
                <video class="video" style="width:100% !important; height: 250px;" #video autoplay
                  [attr.controls]="!isRecording"></video>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 px-5">
                <span class="m-1"></span>
                <video class="video" style="width:100% !important; height: 250px;" controls preload="true"
                  #recordedVideo></video>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 text-center py-5">
                <button class="btn btn-primary" *ngIf="!isRecording" [disabled]="statrrecord" (click)="startRecording()">
                  {{(!recordedBlobs || !recordedBlobs.length)? 'Start Recording': 'Retake Recording'}}
                </button>
                <button class="btn btn-warning ml-3" *ngIf="isRecording" (click)="stopRecording()">Stop
                  Recording</button>
                <button class="btn btn-primary ml-3" (click)="uploadImage()">Upload Video</button>
              </div>
              <!-- </div> -->
            </div>

          </div>
          <h4 class="mb-3 headerh" class="accordion" [class.active]="item.isActive"
            [class.activesingle]="filterFields.length<=1" (click)="toggleAccordian(i)">
            {{item.name}}</h4>
          <!-- <button class="accordion" (click)="toggleAccordian(i)">
            {{ item.name }}
          </button> -->
          <div class="row pb-4 af-box" *ngIf="item.isActive" [formGroupName]="item.name">
            <ng-container
              *ngTemplateOutlet="recursiveList; context:{ $implicit: item.forms, fromGroup: {name: item.name} }">
            </ng-container>
          </div>
        </ng-container>
        <ng-template #default>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="form-group" [formGroupName]="fromGroup.name">
              <label>{{item.placeHolder}} <span class="star" *ngIf="item.isMantadry == '1'">*</span> <span
                  class="float-right ml-2 cstm-tooltip" *ngIf="item.info" placement="top" ngbTooltip="{{item.info}}"><i
                    class="ri-information-line text-primary"></i>

                </span></label>
              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength"
                *ngIf="item.fieldType == 'TextField' && item.dataType=='Alpha'" class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength"
                *ngIf="item.fieldType == 'TextField' && item.dataType=='Alphanumeric' && item.fieldName != 'Employer'" class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressAlphanumeric($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

                <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength"
                *ngIf="item.fieldType == 'TextField' && item.dataType=='Alphanumeric' && item.fieldName == 'Employer' " class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressAlphaEmployer($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength" *ngIf="item.dataType == 'Idnumber'"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressIdAlphanumeric($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength" autocomplete="off"
                *ngIf="(item.fieldType == 'TextField' && item.dataType=='Integer' && item.fieldName=='HowLongInMonths' ) && !(item.fieldName=='TRNNo' || item.responseKey == 'GrossSalary' || item.responseKey == 'NetSalary' || item.responseKey == 'LoanAmount' || item.responseKey == 'MonthlyRepaymentAmount')"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength" autocomplete="off"
                *ngIf="(item.fieldType == 'TextField' && item.dataType=='Integer'  && item.fieldName!='HowLongInMonths') && !(item.fieldName=='TRNNo' || item.responseKey == 'GrossSalary' || item.responseKey == 'NetSalary' || item.responseKey == 'LoanAmount' || item.responseKey == 'MonthlyRepaymentAmount')"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />

              <!-- Address -->
              <div class="ng-autocomplete" *ngIf="(item.fieldType == 'TextField' && item.dataType=='Freetext' && (item.fieldName =='Address' || item.fieldName=='EmployerAddress' || item.fieldName=='LandLordAddress'))">
                <ng-autocomplete [data]="listAddress" formControlName="{{item.fieldName}}"
                  [searchKeyword]="keyword" placeholder=""
                  (selected)="selectAddress($event,fromGroup.name,item.fieldName)"
                  (keyup)="changeInputValue($event,fromGroup.name,item.fieldName,'Address')"
                  (inputFocused)='changeError(item.id)' historyIdentifier="{{listAddress}}"
                  [itemTemplate]="itemTemplate"
                  [customFilter]="customFilter1"
                  >
                </ng-autocomplete>
                <ng-template #itemTemplate let-titem>
                  <a [innerHTML]="titem.description"
                    *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].value.length>0"></a>
                </ng-template>
              </div>
              <!-- <input ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places" type="text"
                class="form-control" [attr.id]="'addressInput'+item.fieldName"
                (onAddressChange)="handleAddressChange($event,fromGroup.name,item.fieldName,('addressInput'+item.fieldName))"
                [formControlName]="item.fieldName" (focus)='changeError(item.id)' [placeholder]="item.placeHolder"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName,('addressInput'+item.fieldName))"
                [name]="item.fieldName" [minlength]="item.minLength" [maxlength]="item.maxLength"
                *ngIf="(item.fieldType == 'TextField' && item.dataType=='Freetext' && (item.fieldName =='Address' || item.fieldName=='EmployerAddress' || item.fieldName=='LandLordAddress'))"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }" /> -->

              <!-- Amount  mask="{{getAmountMask(item.maxLength,filterForm.controls[fromGroup.name].controls[item.fieldName].value.length)}}" [min]="item.minValue"-->
              <input type="text" [maxlength]="getMaxLength(item.maxLength)" (focus)='changeError(item.id)' currencyMask
                [options]="{ prefix: '$ ', thousands: ',', decimal: '.',align: 'left' }"
                [formControlName]="item.fieldName" [placeholder]="item.placeHolder" [name]="item.fieldName"
                autocomplete="off"
                *ngIf=" item.dataType=='Amount' || ( item.responseKey == 'GrossSalary' || item.responseKey == 'NetSalary' || item.responseKey == 'LoanAmount' || item.responseKey == 'MonthlyRepaymentAmount')"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressAmount($event)" (paste)="onPaste($event)"
                (focusout)="changeInputValue(filterForm.controls[fromGroup.name].controls[item.fieldName].value,fromGroup.name,item.fieldName,item.dataType)" />

              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName"
                *ngIf="item.fieldType == 'TextField' &&  item.dataType=='Phonenumber'" class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                [showMaskTyped]="false" mask="(000) 000-0000" (keypress)="keyPressNumbers($event)"
                (paste)="onPaste($event)" autocomplete="off"
                (change)="changeInputValue(filterForm.controls[fromGroup.name].controls[item.fieldName].value,fromGroup.name,item.fieldName)" />
              <!-- TRN NO -->
              <input type="text" placeholder="xxx-xxx-xxx" [showMaskTyped]="false" mask="000-000-000"
                [formControlName]="item.fieldName" (focus)='changeError(item.id)' [name]="item.fieldName"
                *ngIf="item.fieldType == 'TextField' && item.dataType=='Trn' && item.fieldName=='TRNNo'"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="forTrn($event)"
                (change)="changeInputValue(filterForm.controls[fromGroup.name].controls[item.fieldName].value,fromGroup.name,item.fieldName)" />
              <div class="ng-autocomplete" *ngIf="item.fieldType == 'Autocomplete' && item.fieldName != 'Occupation'">
                <ng-autocomplete [data]="getdropdownEmp(item.responseKey)" formControlName="{{item.fieldName}}"
                  [searchKeyword]="keyword" placeholder=""
                  (selected)='changeInputValue($event,fromGroup.name,item.fieldName,item.dataType)'
                  (change)='changeInputValue($event,fromGroup.name,item.fieldName,item.dataType)'
                  (inputFocused)='changeError(item.id)' historyIdentifier="{{getdropdownEmp(item.responseKey)}}"
                  [itemTemplate]="itemTemplate"
                  [customFilter]="customFilter"
                  >
                </ng-autocomplete>
                <ng-template #itemTemplate let-titem>
                  <a [innerHTML]="titem"
                    *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].value.length>2"></a>
                </ng-template>
              </div>
              <div class="ng-autocomplete" *ngIf="item.fieldType == 'Autocomplete' && item.fieldName == 'Occupation'">
                <ng-autocomplete [data]="getdropdownEmp(item.responseKey)" formControlName="{{item.fieldName}}"
                  [searchKeyword]="keyword" placeholder=""
                  (keypress)="keyPressAlpha($event)"
                  (selected)='changeInputValue($event,fromGroup.name,item.fieldName,item.dataType)'
                  (change)='changeInputValue($event,fromGroup.name,item.fieldName,item.dataType)'
                  (inputFocused)='changeError(item.id)' historyIdentifier="{{getdropdownEmp(item.responseKey)}}"
                  [itemTemplate]="itemTemplate"
                  [customFilter]="customFilter"
                  >
                </ng-autocomplete>
                <ng-template #itemTemplate let-titem>
                  <a [innerHTML]="titem"
                    *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].value.length>2"></a>
                </ng-template>
              </div>
              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [maxlength]="item.maxLength" *ngIf="item.fieldType == 'TextField' && item.dataType=='Email'"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (keypress)="keyPressEmail($event)" (change)="changeInputValue($event,fromGroup.name,item.fieldName)" />


              <input type="text" [formControlName]="item.fieldName" (focus)='changeError(item.id)'
                [placeholder]="item.placeHolder" [name]="item.fieldName" [value]="item.value? item.value:''"
                [minlength]="item.minLength" [maxlength]="item.maxLength" *ngIf="item.dataType == 'MonthYear'"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)"
                (keypress)="onKeydownEvent($event,fromGroup.name,item.fieldName)" />

              <!-- <input type="text" bsDatepicker [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}" -->
              <input type="text" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
                [formControlName]="item.fieldName" (focus)='changeError(item.id)' placeholder="YYYY-MM-DD"
                [name]="item.fieldName" value="{{item.value? item.value:''}}" [maxlength]="item.maxLength"
                [maxDate]="maxDate" max={{year_}} *ngIf="item.fieldType == 'Calendar'" class="form-control calendar"
                #id_date
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (onHidden)="changeInputValue(id_date.value,fromGroup.name,item.fieldName,item.fieldType)"
                onkeydown="return false"  />

              <!-- Select Dropdown -->
              <div class="row" *ngIf="item.fieldType == 'MonthYearPicker'">
                <div class="col-6">
                  <select class="form-control"
                    [class.pholder]="filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressY'].value==''"
                    [formControlName]="'HowLongAtCurrentAddressY'"
                    (change)="changeDateInputValue($event,fromGroup.name,item.fieldName,1)">
                    <option value="" class="pholder" disabled>Select Year(s)</option>
                    <option *ngFor="let vl of yearArraY" [value]="vl['id']">{{vl['name']}}</option>
                  </select>
                </div>
                <div class="col-6">
                  <select class="form-control"
                  [formControlName]="'HowLongAtCurrentAddressM'"
                    [class.pholder]="filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressM'].value==''"
                    (change)="changeDateInputValue($event,fromGroup.name,item.fieldName,2)">
                    <option value="" class="pholder" disabled>Select Month(s)</option>
                    <option *ngFor="let vl of monthArraY" [value]="vl['id']">{{vl['name']}}</option>
                  </select>
                </div>

                <!-- <span *ngIf="(submitted1 ||filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressY'].dirty ) && filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressY'].errors"
                  class="error">

                  <span
                    *ngIf=" filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressY'].errors.required"
                    class="error">
                    Please select year
                  </span>
                </span>
                <span *ngIf="(submitted1 ||filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressM'].dirty ) && filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressM'].errors"
                class="error">
                  <span
                    *ngIf="(filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressM'].errors && filterForm.controls[fromGroup.name].controls['HowLongAtCurrentAddressM'].errors.required"
                    class="error">
                    Please select year
                  </span>
               </span> -->
              </div>
              <!-- Select Dropdown -->
              <select
                *ngIf="item.fieldType == 'Dropdown'&& item.responseKey=='BranchList' && item.fieldName !='PaymentType' && item.fieldName !='Tenure'"
                (focus)='changeError(item.id)' class="form-control" [class.pholder]="item.value==''"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                [formControlName]="item.fieldName" (change)="changeInputValue($event,fromGroup.name,item.fieldName)">
                <option value="" class="pholder" disabled>Select your {{item.placeHolder}}</option>
                <option *ngFor="let vl of getdropdownListBankBranch(item.responseKey,filterForm.controls[fromGroup.name].controls['BankName'].value)" [value]="vl['name']">{{vl['name']}}</option>
              </select>
              <select
                *ngIf="item.fieldType == 'Dropdown'&& item.responseKey!='BranchList' && item.fieldName !='PaymentType' && item.fieldName !='Tenure'"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (focus)='changeError(item.id)' class="form-control" [class.pholder]="item.value==''"
                [formControlName]="item.fieldName" (change)="changeInputValue($event,fromGroup.name,item.fieldName)">
               
                <option value="" class="pholder" disabled>Select {{item.placeHolder}}</option>
                <option *ngFor="let vl of getdropdownList(item.responseKey)" [value]="vl['id']">{{vl['name']}}</option>
              </select>
              <!-- Select Dropdown -->
              <select *ngIf="item.fieldType == 'Dropdown' && item.fieldName =='PaymentType'"
                (focus)='changeError(item.id)' class="form-control" [class.pholder]="item.value==''"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                [formControlName]="item.fieldName"
                (change)="generatePaymentFilterForm(fromGroup.name,item.additionalFields,$event,item.fieldName)">
                <option value="" class="pholder" disabled>Select {{item.placeHolder}}</option>
                <option *ngFor="let vl of getdropdownList(item.responseKey)" [value]="vl['id']">{{vl['name']}}</option>
              </select>
              <select *ngIf="item.fieldType == 'Dropdown' && item.fieldName =='Tenure'" (focus)='changeError(item.id)'
                class="form-control" [class.pholder]="item.value==''" [formControlName]="item.fieldName"
                [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                (change)="changeInputValue($event,fromGroup.name,item.fieldName)">
                <option value="" class="pholder" disabled>Select {{item.placeHolder}}</option>
                <option *ngFor="let vl of getdropdownList(item.responseKey)" [value]="vl['name']">{{vl['name']}}
                </option>
              </select>
              <!-- File -->
              <div class="custom-file " *ngIf="item.fieldType == 'Photo'">
                <input type="file" class="custom-file-input"
                
                 (focus)='changeError(item.id)' id="customFile" required
                  (change)="fileChange($event,fromGroup.name,item.fieldName,1)"
                  [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }">
                <label class="custom-file-label" for="customFile">
                  {{filterForm.controls[fromGroup.name].controls[item.fieldName].value &&
                  filterForm.controls[fromGroup.name].controls[item.fieldName].value!=''?filterForm.controls[fromGroup.name].controls[item.fieldName].value:'Add
                  a file'}}
                  <i class="ri-upload-2-line"></i>
                </label>
                <!-- {{geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value)}} -->
                <a *ngIf="geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value) !=false"
                  href="{{geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value)}}" rel="noopener noreferrer" target="_blank"
                  class="viewimage">View file/image</a>
                <div *ngIf="fieldname.includes(item.fieldName)">
                  <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
                </div>

              </div>
              <!-- <div >{{filterForm.controls[fromGroup.name].controls[item.fieldName].sectionId}}</div>  -->
              <div *ngIf="item.fieldType == 'docUpload'" class="download">
                <!-- <span (click)="downloadMyFile(getDownloadUrl(i,fromGroup.name,item.fieldName))" download target="_blank"> <i
                  class="ri-download-2-fill"></i></span> -->
                <a href="{{getDownloadUrl(i,fromGroup.name,item.fieldName)}}" download rel="noopener noreferrer" target="_blank"> <i
                    class="ri-download-2-fill"></i></a>
              </div>
              <div class="custom-file " *ngIf="item.fieldType == 'docUpload'">

                <input type="file" class="custom-file-input" (focus)='changeError(item.id)' id="customFile" required
                  (change)="fileChange($event,fromGroup.name,item.fieldName,1)"
                  [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }">
                <label class="custom-file-label" for="customFile">
                  {{filterForm.controls[fromGroup.name].controls[item.fieldName].value &&
                  filterForm.controls[fromGroup.name].controls[item.fieldName].value!=''?filterForm.controls[fromGroup.name].controls[item.fieldName].value:'Add
                  a file'}}
                  <i class="ri-upload-2-line"></i>
                </label>
                <!-- {{geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value)}} -->
                <a *ngIf="geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value) !=false"
                  href="{{geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value)}}" rel="noopener noreferrer" target="_blank"
                  class="viewimage">View file/image</a>
                <div *ngIf="fieldname.includes(item.fieldName)">
                  <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
                </div>

              </div>
              <!-- File -->
              <div class="custom-file " *ngIf="item.fieldType == 'Signature'">
                <!-- <div > -->
                <div id="tochid"></div>
                <input (click)="triggerModal(fromGroup.name,item.fieldName,$event)" (focus)='changeError(item.id)'
                  type="text" class="custom-file-input" id="customFile" required
                  [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }">
                <label class="custom-file-label" for="customFile">
                  {{filterForm.controls[fromGroup.name].controls[item.fieldName].value &&
                  filterForm.controls[fromGroup.name].controls[item.fieldName].value!=''?filterForm.controls[fromGroup.name].controls[item.fieldName].value:'Add
                  a file'}}
                  <i class="ri-upload-2-line"></i>
                </label>
                <!-- </div> -->

                <a *ngIf="geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value) !=false"
                  href="{{geturl(filterForm.controls[fromGroup.name].controls[item.fieldName].value)}}" rel="noopener noreferrer" target="_blank"
                  class="viewimage">View file/image</a>
                <div *ngIf="fieldname.includes(item.fieldName)">
                  <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
                </div>

              </div>
              <!-- Radio Button -->
              <div class="d-flex justify-content-between btn-radio"
                *ngIf="item.fieldType == 'RadioButton' &&  item.fieldName !== 'Sex' && item.fieldName !== 'ResidenceStatus'">
                <div class="form-check-inline" *ngFor="let vl of getdropdownList(item.responseKey);let i=index">
                  <label class="form-check-label" for="radio1"
                    [ngClass]="{'text-primary':getInt(filterForm.controls[fromGroup.name].controls[item.fieldName].value,vl['id'] + '') }">
                    <input type="radio" class="form-check-input" (focus)='changeError(item.id)'
                      [formControlName]="item.fieldName" [name]="item.fieldName" [value]="vl['id'] + ''"
                      (change)="changeInputValue(vl['id'] + '',fromGroup.name,item.fieldName)" />
                    {{vl['name']}}
                  </label>
                </div>
              </div>

              <!-- Sex Radio Button -->
              <div class="d-flex justify-content-between btn-radio"
                *ngIf="item.fieldType == 'RadioButton' && item.fieldName == 'Sex'">
                <div class="form-check-inline" *ngFor="let vl of getdropdownList(item.responseKey);let i=index;">
                  <label class="form-check-label lab" for="radio1"
                    [ngClass]="{'text-primary':getInt(filterForm.controls[fromGroup.name].controls[item.fieldName].value,vl['id'] + '') }">
                    <i [class]="vl['name']=='Male' ? 'ri-men-fill mx-2' : 'ri-women-fill mx-2'"
                      [ngClass]="{'text-primary':getInt(filterForm.controls[fromGroup.name].controls[item.fieldName].value,vl['id'] + '') }"></i>
                    {{vl['name']}}
                    <input type="radio" 
                    [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                    class="form-check-input" (focus)='changeError(item.id)'
                      [formControlName]="item.fieldName" [name]="item.fieldName" [value]="vl['id'] + ''"
                      (change)="changeInputValue(vl['id'] + '',fromGroup.name,item.fieldName)"
                      [checked]="getInt(filterForm.controls[fromGroup.name].controls[item.fieldName].value,vl['id'])" />
                  </label>
                </div>
              </div>


              <!-- Sex Radio Button -->
              <div class="d-flex justify-content-between btn-radio"
                *ngIf="item.fieldType == 'RadioButton' && item.fieldName == 'ResidenceStatus'">
                <div class="form-check-inline" *ngFor="let vl of getdropdownList(item.responseKey);let i=index">
                  <label class="form-check-label" for="radio1"
                    [ngClass]="{'text-primary':getInt(filterForm.controls[fromGroup.name].controls[item.fieldName].value,vl['id'] + '') }">
                    <i class="ri-home-2-line"></i> {{vl['name']}}
                    <input type="radio"
                    [ngClass]="{ 'is-invalid': (submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors }"
                    class="form-check-input" (focus)='changeError(item.id)'
                      [formControlName]="item.fieldName" [name]="item.fieldName" [value]="vl['id'] + ''"
                      (change)="changeInputValue(vl['id'] + '',fromGroup.name,item.fieldName)" />
                  </label>
                </div>
              </div>

              <!-- Error Text -->
              <span
                *ngIf="(submitted1 || filterForm.controls[fromGroup.name].controls[item.fieldName].dirty) && filterForm.controls[fromGroup.name].controls[item.fieldName].errors"
                class="error">
                <!-- {{item.fieldName}} is required -->
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.required"
                  class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'required')).replace(':name',item.placeHolder):'')}}
                </span>
                <div *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.pattern"
                  class="error w-100">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?showErrorMessage(item.errormessage,'invalid'):'') }}
                </div>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.minlength"
                  class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'min')).replace(':min',
                  item.minLength):'')}}
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.maxlength"
                  class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'max')).replace(':max',
                  item.maxLength):'')}}
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.validateDate"
                  class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'max_date')).replace(':date',
                  item.maxDate):'')}}
                </span>

                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.filleSizeincorrect"
                  class="error">
                  Please upload the file size below 25 MB
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.notSupportedFileType"
                  class="error">
                  The file must be any file of these types: jpg, jpeg, png, pdf, doc
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.zeroAbove"
                  class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'minval')).replace(':minval',
                  item.minValue):'')}}
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.min" class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'minval')).replace(':minval',
                  item.minValue):'')}}
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.aboveYear"
                  class="error">
                  Invalid year
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.aboveDate"
                  class="error">
                  Invalid month
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.maxVal" class="error">
                  {{transform(item.errormessage &&
                  item.errormessage.length>0?(showErrorMessage(item.errormessage,'maxval')).replace(':maxval',
                  item.maxValue):'')}}
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.grossHigh"
                  class="error">
                  Salary cannot be higher than Gross salary
                </span>
                <span *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors.grossLow"
                  class="error">
                  Salary cannot be lower than Net salary
                </span>

              </span>
              <span
                *ngIf="filterForm.controls[fromGroup.name].controls[item.fieldName].errors && filterForm.controls[fromGroup.name].controls[item.fieldName].errors.YM"
                class="error">
                Please select year or month minimum 1
              </span>
              <span *ngIf="item.finalerror" class="error">
                {{transform(item.finalerrormessage)}}
              </span>
              <div *ngIf="submitted1 && item.fieldName.errors" class="invalid-feedback">
                <div *ngIf="item.fieldName.errors.required">Error text will be here</div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filterFields }"></ng-container>
    <div class="row" *ngIf="tabsData.length>0 && sectionId==tabsData?.length-1">
      <div class="col-md-12">
        <mat-checkbox [(ngModel)]="teamscondition" [color]="'primary'" name="teamscondition" ngDefaultControl
          [ngModelOptions]="{standalone: true}"><a rel="noopener noreferrer" href={{terms}} target="_blank">Accept Terms Of Use</a>
        </mat-checkbox>
      </div>
      <div class="col-md-12">
        <mat-checkbox [(ngModel)]="privacypolicy" [color]="'primary'" name="privacypolicy" ngDefaultControl
          [ngModelOptions]="{standalone: true}"><a rel="noopener noreferrer" href={{policy}} target="_blank">Accept Privacy Policy</a>
        </mat-checkbox>
      </div>
    </div>
  </form>

</div>
<div class="row mt-4 mx-auto af-box p-4 br-rdus pl-form position-relative"
  *ngIf="!showForm && tabsData?.length > 0 && (tabsData?.length + 1) == sectionId">
  <!-- <app-comment-list></app-comment-list> -->
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="comentLoading">
  <ng-container *ngIf="allComments && !comentLoading">
    <div class="col-lg-12 d-flex justify-content-end align-items-end bdr-btm pb-4">
      <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
      <button class="btn btn-primary mr-3" (click)="addComment()">New</button>
    </div>
    <div class="row w-100 mx-3 py-3 bdr-btm" *ngFor="let item of allComments">
      <div class="col-lg-2">
        <img [src]="item.loan_image.length > 0 ? item.loan_image[0] :'../../../assets/img/dummy.png'" alt=""
          class="w-100 br-rdus">
      </div>
      <div class="col-lg-7">
        <h4 class="my-2 font-weight-bold">{{item.name}}</h4>
        <span>{{item.createdat | date: 'dd-MM-yyyy h:mm a'}}</span>
        <p>{{item.loan_comments}}</p>
      </div>
      <div class="col-lg-3 d-flex justify-content-end align-items-center">
        <button class="btn btn-primary" (click)="viewComment(item.id)">View</button>
      </div>
    </div>
  </ng-container>
  <div class="w-100 p-5 text-center af-box">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="text-center py-5 my-5 w-100" *ngIf="allComments?.length == 0 && !comentLoading">

      No data found</p>
  </div>
</div>
<div class="row ln-form-btn btm-btn" *ngIf="filterForm && tabsData?.length>0 && ((tabsData?.length+1) != sectionId)">
  <!--*ngIf="showForm"-->
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <!--filterForm.invalid ||filterForm.invalid-->
      <button type="button" class="btn btn-primary mx-3"
        [disabled]="((tabsData.length>0 && sectionId==tabsData?.length-1)&&(!teamscondition || !privacypolicy)) ||(fieldname.length >0)"
        (click)="formSubmit()">{{(tabsData.length>0 &&
        sectionId==tabsData?.length-1)?'Submit':'Continue'}}</button>
      <button type="button" class="btn btn-secondary mx-3" (click)="cancelform()">Cancel</button>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="submitModal()">Close</button>
  </div>  -->