<div class="w-100 af-box appoint">
  <div class="notification mt-4">
    <ul class="pl-2">
      <li class="no-brdr w-100 " *ngIf="loading">

        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
      </li>
      <ng-container *ngIf="trackData">
        <li *ngFor="let data of trackData">
          <div class="fullpage" *ngIf="floading">
            <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
          </div>
          <div class="appoint_id d-flex justify-content-between mt-3">
            <!-- <div class="info-icon w-100"> -->
            <div class="info-icon w-100 row mx-0">
              <div class="col-sm-6 col-md-4 col-lg-4 row">
                <img src="{{getIcon(data)}}" class="iconimage"
                  alt="" width="30" height="30">
                <!-- <i class="ri-arrow-right-up-fill"></i> -->
                <div class="appoint_id_date">
                  <h4>{{data.ReferenceType}}</h4>
                
                  <span *ngIf="data.LoanId">#{{data.LoanId}}</span>
                </div>
                <div class="w-100  ml-5 center-word" *ngIf="data.admin_comments">
                <p class="txt-12p mb-0  w-100" >{{data.admin_comments}}</p>
                <p class="txt-12p mb-0  w-100 admindate" > {{data.admin_comments_time | date: 'dd-MM-yyyy h:mm a'}} </p>
              </div>
              </div>
              <div class="open_account col-sm-6 col-md-4 col-lg-4">
                <div class="center">
                  <button *ngIf="data.status" class="text-bold point" [ngClass]="{'completed': (data.status=='Closed' || data.status=='Approved'),'cancelled': data.status=='Rejected'}">{{data.status }}</button>
                </div>
                <p class="w-100 text-center txt-12p"> {{data.date | date: 'dd-MM-yyyy h:mm a'}} </p>
              </div>
              <div class="open_account col-sm-12 col-md-4 col-lg-4">
                <div class="w-100  center-word">
                  <p class="txt-12p">{{data.ReferenceValue?data.ReferenceValue:'-'}}</p>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ng-container>
      <li class="text-center no-brdr" *ngIf="trackData?.length == 0 || !trackData && !loading">
        <div class="fullpage" *ngIf="floading">
          <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
        </div>
        <div class="col-md-3 pl-0 mx-auto">
          <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
        </div>
        <p class="pt-3">No data found</p>
      </li>
    </ul>
  </div>
</div>
<div class="mr-5">
<mat-paginator #page *ngIf="paginationSettings?.enablePagination" [length]="paginationSettings?.length"
  [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>
</div>
<ng-template #rescheduleModel let-modals>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reschedule</h4>
    <button type="button" class="close mr-2" aria-label="Close" (click)="modals.close('Save click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="fullpage" *ngIf="rloading">
      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
    </div>
    <form [formGroup]="rescheduleForm" class="filter-form w-100" autocomplete="off">
      <div class="row pb-4  mx-auto">
        <div class="col-md-6">
          <div class="form-group">
            <label>Preferred date</label>
            <input type="date" formControlName="appointmentDate" class="form-control" onkeydown="return false" />
            <span
              *ngIf="(submitted || rescheduleForm.controls.appointmentDate.dirty) && rescheduleForm.controls.appointmentDate.errors">
              <span *ngIf="rescheduleForm.controls.appointmentDate.errors.required" class="error">
                Appointment date required
              </span>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Time Slot</label>
            <input type="time" formControlName="timeslot" class="form-control" onkeydown="return false" />
            <span
              *ngIf="(submitted || rescheduleForm.controls.timeslot.dirty) && rescheduleForm.controls.timeslot.errors">
              <span *ngIf="rescheduleForm.controls.timeslot.errors.required" class="error">
                Timeslot required
              </span>
            </span>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary mx-2  py-2" (click)="resuduleSubmit()">Submit</button>
    <button type="button" class="btn btn-secondary mx-3" (click)="modals.close('Save click')">Cancel</button>
  </div>
</ng-template>
