.appoint .info-icon i {
  padding: 5px;
  background-color: #edf3fe;
  height: max-content;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.center {
  width: max-content;
  margin: auto;
}

.center-word {
  word-wrap: break-word;
  /* word-break: break-all; */
  padding: 5px 20px;
  background-color: #edf3fe;
  border-radius: 5px;
}

.schdule {
  height: max-content;
  border: 2px solid #1d4386;
}

.cacelbtn {
  height: max-content;
}

.w-80 {
  width: 70%;
}

.iconimage {
  background-color: #edf3fe;
  border-radius: 5px;
}

.f-16 {
  font-size: 15px;
  /* font-weight: 500; */
}
.point{
  cursor:text;
}
.admindate{
  font-size: 10px !important;
  text-align: right;
}
@media (max-width: 767.98px) {

  .select-type .form-control,
  .select-type .btn {
    margin-bottom: 10px !important;
  }

}

/* @media (max-width: 469.98px) { */
@media (max-width: 575.99px) {
  .notification .appoint_id {
    display: block !important;
  }

  .notification p {
    margin-bottom: 0 !important;
  }

  .notification .center-word,
  .notification .text-bold {
    margin-top: 10px;
  }

  /* 
  .info-icon,
  .appoint_id_date {
    width: 100% !important;
  }

  .open_account {
    width: 50% !important;
  }

  .appoint_id_date {
    text-align: center !important;
    margin-top: 10px;
  } */
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .notification .appoint_id {
    display: block !important;
  }

  button.text-bold {
    margin-top: 25px;
  }

}
