<div class="row mb-4">
  <div class="col-lg-4 ">
    <h3>Comments</h3>
  </div>
  <div class="col-lg-8 d-flex justify-content-end align-items-end">
    <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
    <button class="btn btn-primary" (click)="addComment()">New</button>
  </div>
</div>
<img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading">
<div class="row mx-0 pb-4 af-box" *ngIf="allComments">
  <div class="row w-100 mx-3 py-3 bdr-btm" *ngFor="let item of allComments">
    <div class="col-sm-6 col-md-2 col-lg-2">
      <img [src]="item?.loan_image.length > 0 ? item.loan_image[0] :'../../../assets/img/dummy.png'" alt=""
        class="w-100 br-rdus img-thumb">
    </div>
    <div class="col-sm-6 col-md-8 col-lg-8">
      <h4 class="my-2 font-weight-bold">{{item.name}}</h4>
      <span>{{item.createdat | date: 'dd-MM-yyyy h:mm a'}}</span>
      <p>{{item.loan_comments}}</p>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-2 d-flex justify-content-end align-items-center">
      <button class="btn btn-primary" (click)="viewComment(item.id)">View</button>
    </div>
  </div>
  <div class="w-100 mx-3 py-5" *ngIf="allComments.length==0 && !loading">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="text-center mt-5">No data found</p>
  </div>
</div>
