<h3 class="mb-4">Activities</h3>
<div class="row mx-0 pb-4 af-box">
  <div class="notification w-100 mt-4 mr-4">
    <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading"> -->

    <ul class="pl-4">
      <li *ngFor="let data of allActivities">
        <div class="info-icon verticle-center">
          <i class="ri-error-warning-fill notify-error" *ngIf="data.icon_type == 'danger'"></i>
          <i class="ri-check-fill notify-success" *ngIf="data.icon_type == 'success'"></i>
          <i class="ri-check-fill" *ngIf="data.icon_type == 'warning'"></i>
          <img src="../../../assets/img/notifications-3.png"  *ngIf="data.icon_type == 'info'" class="af-info" >
          <div class="text-notif">
            <h4>{{data.activity_message}}</h4>
            <span>{{data.created_at | date: 'dd-MM-yyyy h:mm a'}}</span>
          </div>
        </div>
      </li>
      <li class="no-brdr py-5" *ngIf="allActivities?.length==0 && !loading">
        <div class="col-md-3 pl-0 mx-auto">
          <img src="../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
        </div>
        <p class="text-center my-5">No data found</p>
      </li>
    </ul>
    <mat-paginator class="mr-5" #page *ngIf="paginationSettings?.enablePagination" [length]="paginationSettings?.length"
      [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>
    <div class="col-lg-12 pr-0" *ngIf="loading">
      <ngx-skeleton-loader count="8" appearance="line"></ngx-skeleton-loader>
    </div>
  </div>
</div>
