.fullpage {
    position: absolute;
    top: 100px;
    left: 8%;
    width: 85%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
}
.fullpage .af-loading {
    margin: 20% auto;
}