<!-- Modal -->
<!-- <div class="modal fade bd-example-modal-lg" #exampleModal id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog modal-lg" role="document"> -->
<div class="modal-content">
  <div class="modal-header text-center pb-0">
    <h2 class="modal-title font-weight-bold mt-3 text-center w-100" id="exampleModalLabel"> Update Details
    </h2>
    <button type="button" class="close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="fullpage" *ngIf="loading">
      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
    </div>
      <form  class="mx-4 mt-5" [formGroup]="otherForm" (ngSubmit)="submit()"
        autocomplete="off">
        <div class="row">
          <div class="form-group col-lg-12">

            <label for="email">Occupation <span class="star">*</span></label>
            <div class="d-flex justify-content-between btn-radio ">
              <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                  <i class="ri-user-2-fill"></i> Salaried
                  <input type="radio" class="form-check-input" formControlName="occupation" name="occupation"
                    value="1" checked />

                </label>
              </div>
              <div class="form-check-inline mr-0">
                <label class="form-check-label" for="radio2">
                  <i class="ri-briefcase-3-fill"></i> Business
                  <input type="radio" class="form-check-input" formControlName="occupation" name="occupation"
                    value="2" />
                </label>
              </div>
            </div>
            <span *ngIf="(isSumitted || otherInfo.occupation.dirty) && otherInfo.occupation.errors">
              <span class="error" *ngIf=" otherInfo.occupation.errors.required">
                Please select occupation
              </span>
            </span>
          </div>
          <div class="form-group col-lg-12" *ngIf="occupationType == 1">
            <label for="exampleFormControlSelect1">Employer <span class="star">*</span></label>
            <!-- <select class="form-control" formControlName="employerData">
              <option value="" selected="selected">Select employer</option>
              <option *ngFor="let data of employerDatas" [value]="data.id">{{data.name}}</option>
            </select> -->
           
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="allEmployers" formControlName="employerData" [searchKeyword]="keyword"
                placeholder=""
                historyIdentifier="allEmployers"
                [itemTemplate]="itemTemplate"
                [customFilter]="customFilter"
                >
      
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name" *ngIf="otherInfo.employerData.value.length>2"></a>
              </ng-template>


              
              <!-- <input type="text" formControlName="employerData" class="form-control" required
              (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" /> -->
              <!-- <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound" *ngIf="otherInfo.employerData.value.length>2"></div>
              </ng-template> -->
            </div>
            <span
              *ngIf="(isSumitted || otherInfo.employerData.dirty) && otherInfo.employerData.errors">
              <span class="error" *ngIf=" otherInfo.employerData.errors.required">
                Please select employer
              </span>
            </span>
          </div>

          <div class="form-group col-lg-12" *ngIf="occupationType == 2">
            <label for="exampleFormControlSelect1">Business Name <span class="star">*</span></label>
            <input type="text" formControlName="businessName" class="form-control" required
              (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
            <span *ngIf="(isSumitted || otherInfo.businessName.dirty) && otherInfo.businessName.errors">
              <span class="error" *ngIf="otherInfo.businessName.errors.required">
                Please enter business name
              </span>
              <span class="error" *ngIf="otherInfo.businessName.errors.minlength">
                Minimum 1 characters required
              </span>
              <span class="error" *ngIf="otherInfo.businessName.errors.maxlength">
                Maximum 50 characters only accepted
              </span>
            </span>
          </div>


          <div class="form-group col-lg-12">
            <!-- <label for="email">Date Of Birth <span class="star">*</span></label> -->
            <!-- <div class="form-inner">
              <input type="date" (change)="changeTnr()" (keypress)="keyPressNumbers($event)"
                (paste)="onPaste($event)" onkeydown="return false" class="form-control" max="2003-10-21"
                formControlName="dateOfBirth">
              <span
                *ngIf="(isSumitted || otherInfo.dateOfBirth.dirty) && otherInfo.dateOfBirth.errors">
                <span class="error" *ngIf=" otherInfo.dateOfBirth.errors.required">
                  Please enter date of birth
                </span> -->


                <label for="email">Date Of Birth <span class="star">*</span>
                  <span
                  class="float-right ml-2 cstm-tooltip"  placement="top"
                  ngbTooltip="Please select year first, followed by month and date
                  (YYYY/MM/DD)"><i class="ri-information-line text-primary"></i>

                </span>
                
                
                </label>
                <div class="form-inner">  
                  <!-- [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" -->
                  <input type="text" placeholder="YYYY/MM/DD" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
                    (onHidden)="changeTnr()" (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
                    onkeydown="return false" class="form-control calendar" [maxDate]="maxDate" max="2003-10-21"
                    formControlName="dateOfBirth" required>
                  <span
                    *ngIf="(isSumitted || otherInfo.dateOfBirth.dirty) && otherInfo.dateOfBirth.errors">
                    <span class="error" *ngIf=" otherInfo.dateOfBirth.errors.required">
                      Please enter date of birth
                    </span>
                    <!-- <span class="error" *ngIf="signupcontrols.dateOfBirth.errors.minlength">
                      Minimum 5 characters required
                    </span>
                    <span class="error" *ngIf="signupcontrols.dateOfBirth.errors.maxlength">
                      Maximum 50 characters only accepted
                    </span> -->
                  </span>
                </div>

                <!-- <span class="error" *ngIf="otherInfo.dateOfBirth.errors.minlength">
                  Minimum 5 characters required
                </span>
                <span class="error" *ngIf="otherInfo.dateOfBirth.errors.maxlength">
                  Maximum 50 characters only accepted
                </span> -->
              <!-- </span> -->
            <!-- </div> -->
          </div>
          <div class="form-group col-lg-12">
            <label for="email">TRN <span class="star">*</span></label>
            <div class="form-inner">
              <!-- <input type="text" formControlName="trnNo"
                class="form-control" required minlength="9" maxlength="15"
                (keypress)="keyPressNumbers($event)" (change)="changeTnr($event)" (paste)="onPaste($event)" /> -->
                <input type="text" placeholder="xxx-xxx-xxx" formControlName="trnNo" [showMaskTyped]="false" mask="000-000-000"
                  class="form-control" required minlength="9" maxlength="11"
                  (keypress)="forTrn($event)" (keyup)="changeTnr($event)" (paste)="onPaste($event)" />

              <span
                *ngIf="!trnloader && (isSumitted || otherInfo.trnNo.dirty) && otherInfo.trnNo.errors">
                <span class="error" *ngIf=" otherInfo.trnNo.errors.required">
                  Please enter TRN no
                </span>
                <span class="error" *ngIf="otherInfo.trnNo.errors.minlength">
                  Minimum 9 characters required
                </span>
                <span class="error" *ngIf="otherInfo.trnNo.errors.maxlength">
                  Maximum 15 characters only accepted
                </span>
                <span class="error" *ngIf="otherInfo.trnNo.errors.incorrect">
                  {{tnrerror}}
                </span>
              </span>
              <div *ngIf="trnloader">
                <img width="20" class="imageloader" height="20" src="../../../assets/img/loading.png"
                  alt="Loading..">
              </div>
            </div>

          </div>
          <div class="form-group  col-lg-12">
            <label for="phone">Mobile Number <span class="star">*</span></label>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <!-- <select class="form-control" formControlName="countryCode"  readonly="readonly">
                  <option value="" selected> +1 </option>
                 
                </select> -->
                <input type="text"  formControlName="countryCode" class="form-control"  readonly />
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8 pl-0 mob-no">
                <div class="form-inner">
                  <input type="tel" id="phone" formControlName="mobilenumber" class="form-control" required
                    [showMaskTyped]="false" mask="(000) 000-0000" (keypress)="keyPressNumbers($event)" />
                </div>
              </div>
            </div>
            <span *ngIf="(isSumitted || otherInfo.mobilenumber.dirty) && otherInfo.mobilenumber.errors">
              <span class="error" *ngIf=" otherInfo.mobilenumber.errors.required">
                Please enter mobile number
              </span>

              <span class="error" *ngIf="otherInfo.mobilenumber.errors.minlength">
                Mobile number should have minimum of 7 characters
              </span>

            </span>
          </div>

          

          
          <div class="col-lg-12 text-center">
            <button type="submit" [disabled]="trnloader" class="btn btn-primary mb-5 mt-4" >Update</button>
          </div>
        </div>
      </form>


  </div>
</div>
<!-- </div> -->
<!-- </div> -->
