<h3 class="mb-4">Feedback</h3>
<div class="row mx-0 pb-4 af-box">
  <div class="fullpage nor-loading" *ngIf="loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <div class="notification w-100 m-4">
    <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading"> -->
    <h3 class="text-primary font-weight-bold">Leave Feedback</h3>
    <span>The best praise you can give us is to share your opinion</span>
    <div class="row mt-3">
      <div class="col-md-12">
        <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()" autocomplete="off">
          <div class="row">
            <div class="col-md-4">
              <label for="feedback">Feedback Type <span class="star">*</span></label>
              <select class="form-control" formControlName="feedbackType">
                <option  class="pholder" disabled  value="">Select Feedback Type</option>
                <option *ngFor="let vl of getdropdownList('feedback')" [value]="vl['id']">{{vl['name']}}</option>
              </select>
              <span
                *ngIf="(submitted || feedbackForm.controls.feedbackType.dirty) && feedbackForm.controls.feedbackType.errors">
                <span *ngIf="feedbackForm.controls.feedbackType.errors.required" class="error">
                  Please select feedback type
                </span>
              </span>
            </div>
            <div class="col-md-4">
              <label for="feedback">Branch </label>
              <select class="form-control" formControlName="branchName">
                <option  class="pholder" disabled  value="0">Select Branch</option>
                <option *ngFor="let vl of getdropdownList('BankBranch')" [value]="vl['id']">{{vl['name']}}</option>
              </select>
              <span
                *ngIf="(submitted || feedbackForm.controls.branchName.dirty) && feedbackForm.controls.branchName.errors">
                <span *ngIf="feedbackForm.controls.branchName.errors.required" class="error">
                  Please select branch name
                </span>
              </span>
            </div>
            <div class="col-md-4">
              <label for="loan_id">Rate this branch </label>

              <div class="rating">
                <input type="radio" name="starRating" value="5" id="1" formControlName="starRating">
                <label for="1">★</label>
                <input type="radio" name="starRating" value="4" id="2" formControlName="starRating">
                <label for="2">★</label>
                <input type="radio" name="starRating" value="3" id="3" formControlName="starRating">
                <label for="3">★</label>
                <input type="radio" name="starRating" value="2" id="4" formControlName="starRating">
                <label for="4">★</label>
                <input type="radio" name="starRating" value="1" id="5" formControlName="starRating">
                <label for="5">★</label>
              </div>
              <span
                *ngIf="(submitted || feedbackForm.controls.starRating.dirty) && feedbackForm.controls.starRating.errors">
                <span *ngIf="feedbackForm.controls.starRating.errors.required" class="error">
                  Please add your rating
                </span>
              </span>
            </div>
            <div class="col-md-4 mt-4">
              <div class="form-group">
                <label>Attachments</label>
                <div class="custom-file ">
                  <input type="file" (change)="fileChange($event,'attachments')" class="custom-file-input"
                    id="customFile" required>
                  <label class="custom-file-label" for="customFile">
                    {{feedbackForm.controls['attachments'].value && feedbackForm.controls['attachments'].value!=''?feedbackForm.controls['attachments'].value:'Add image'}}
                    <i class="ri-upload-2-line"></i>
                  </label>
                  <a class="viewimage" *ngIf="geturl(feedbackForm.controls['attachments'].value) !=false"
                    href="{{geturl(feedbackForm.controls['attachments'].value)}}" rel="noopener noreferrer" target="_blank">View file/image</a>
                  <div *ngIf="fieldname.includes('attachments')">
                    <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
                  </div>
                  <span
                    *ngIf="(submitted || feedbackForm.controls.attachments.dirty) && feedbackForm.controls.attachments.errors">
                    <!-- <span class="error" *ngIf="feedbackForm.controls.attachments.errors.required">
                      Attachments required
                    </span> -->
                    <span class="error" *ngIf="feedbackForm.controls.attachments.errors.notSupportedFileType">
                      The image must be a file of type: jpg, jpeg, png
                    </span>
                    <span class="error" *ngIf="feedbackForm.controls.attachments.errors.filleSizeincorrect">
                      Please upload the file size below 25 MB
                    </span>
                  </span>

                </div>
              </div>
            </div>
            <div class="col-md-8 mt-4">
              <label for="exampleFormControlTextarea1">Comments <span class="star">*</span></label>
              <textarea class="form-control" formControlName="feedbackMessage" rows="3"></textarea>
              <span
                *ngIf="(submitted || feedbackForm.controls.feedbackMessage.dirty) && feedbackForm.controls.feedbackMessage.errors">
                <span *ngIf="feedbackForm.controls.feedbackMessage.errors.required" class="error">
                  Please enter comments
                </span>
              </span>
            </div>
           
            <div class="col-md-8 btm-btn">
              <div class="button-group mt-4 text-right">
                <button type="submit" class="btn btn-primary mr-3">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="resetFbForm()">Cancel</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
