.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 21px;
  color: #606b7e;
  cursor: pointer;
  margin-right: .5rem;
}

.rating>label::before {
  content: "★";
  position: absolute;
  color: rgb(255, 207, 6);
  opacity: 0;
}

.rating>input:checked~label:before {
  opacity: 1;
}
.viewimage{
  font-size: 11px;
}

.pholder {
  color: #999 !important;
}

.pl-form .ng-invalid {
  color: #999 !important;
}

option:first {
  color: #999 !important;
}
