.accordion {
  background-color: #fff;
  color: #1d4386;
  cursor: pointer;
  padding: 14px 10px 14px 14px;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: bold;
  outline: none;
  border-radius: 0;
}

.af-box {
  border-radius: 5px;
  margin-bottom: 16px;
}

.active,
.accordion:hover {
  background-color: #fff;
}

.accordion:after {
  content: '\25BC';
  color: #777;
  font-weight: bold;
  float: right;
  font-size: 13px;
  float: right;
  padding: 0px 6px;
  background-color: #edf3fe;
  border-radius: 3px;
  margin-left: 0px;
}

.active {
  margin-bottom: 0px !important;
}

.active:after {
  content: "\25B2";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #ddd;
}

