<h3 class="mb-4">Frequently Asked Questions</h3>
<div class="row mx-0 p-4 af-box">

  <div class="w-100" *ngFor="let item of data; let i = index">
    <button class="accordion" (click)="toggleAccordian($event, i)">
      {{ item.Question }}
    </button>
    <div class="panel" hide="!item.isActive">
      <p> {{item.Answer}} </p>
    </div>
  
  </div>
  <div class="text-center no-brdr w-100" *ngIf="data?.length == 0 && !loading">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="pt-3">No data found</p>
  </div>
  <ngx-skeleton-loader count="4" appearance="line" *ngIf="loading"></ngx-skeleton-loader>
</div>
