<h3 class="mb-4">Chat or Call</h3>
<div class="w-100 mx-0 pb-4 af-box">
  <div class="row mx-0 text-center af-chat">
    <!-- <div class="col-lg-12">
      <div class="container">
        <input ngx-google-places-autocomplete [options]='options' class="form-control"
            (onAddressChange)="handleAddressChange($event)" />

        <p>Address: {{ userAddress }}</p>
        <p>Latitude: {{ userLatitude }}</p>
        <p>Longitude: {{ userLongitude }}</p>
      </div>
    </div> -->
    <div class="col-lg-6 col-md-6 col-sm-12 p-4">
      <div class="bg-lightblue w-100 as-msngr">
        <a href="tel:8769299253" rel="noopener noreferrer">
          <div class="row col-lg-8 mx-auto">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="ico-circle float-right">
                <img src="../../../assets/img/call-now.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
              <h4 class="font-weight-bold mt-3">Call <br>Now</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-4">
      <div class="bg-lightblue w-100 as-msngr">
        <a href="https://api.whatsapp.com/send?phone=+18764525626" rel="noopener noreferrer" target="_blank">
          <div class="row col-lg-8 mx-auto">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="ico-circle float-right">
                <img src="../../../assets/img/chat.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
              <h4 class="font-weight-bold mt-3">Chat via <br>Whatsapp</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- https://www.facebook.com/profile.php?id=100073292649967 http://m.me/<PAGE_NAME>?ref=<id=100073292649967>-->
    <div class="col-lg-6 col-md-6 col-sm-12 p-4">
      <div class="bg-lightblue w-100 as-msngr">
        <a href="https://www.messenger.com/t/100840860043842" rel="noopener noreferrer" target="_blank">
          <div class="row col-lg-8 mx-auto">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="ico-circle float-right">
                <img src="../../../assets/img/facebook-messenger.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
              <h4 class="font-weight-bold mt-3">Chat via <br>Messanger</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-4">
      <div class="bg-lightblue w-100 as-msngr">
        <a (click)="liveChat()">
          <div class="row col-lg-8 mx-auto">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="ico-circle float-right">
                <img src="../../../assets/img/live-chat.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-left">
              <h4 class="font-weight-bold mt-3">Live<br>Chat</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>