@media (max-width: 575.98px) {
  .af-chat h4 {
    text-align: center !important;
  }

  .ico-circle {
    margin: 0 auto;
    float: initial !important;
  }

  .as-msngr {
    padding-top: 30px;
  }
}
