<!-- <h3 class="pl-4 mb-4">Repayment Schdule of the loan </h3> -->
<div class="row mb-4">
  <div class="col-lg-9">
<h3 class="mb-4">Repayment Schedule<span *ngIf="loanId"> of the loan #{{lmsloanid}}</span></h3>
  </div>
  <div class="col-lg-3 d-flex justify-content-end align-items-end">
    <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
  </div>
</div>


<div class="row mx-0 pb-4 af-box">
  <div class="container table-responsive py-4">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tenure</th>
          <th scope="col">Payment</th>
          <th scope="col">Interest</th>
          <th scope="col">Principal</th>
          <th scope="col">Due Date</th>
          <!-- <th scope="col">Balance</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="5">
            <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
          </td>
        </tr>
        <ng-container *ngIf="emiData?.length>0; else empty">
          <tr *ngFor="let item of emiData">
            <th scope="row">{{item.Term}}</th>
            <td>{{ item.emi | currency:'$'}}</td>
            <td>{{item.Interest | currency:'$'}}</td>
            <td>{{item.Amount | currency:'$'}}</td>
            <td>{{item.Duedate | date:'yyyy/MM/dd'}}</td>
            <!-- <td>{{item.Amount}}</td> -->
          </tr>
        </ng-container>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@mdo</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@mdo</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@mdo</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@mdo</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>

<ng-template  #empty >
  <tr>
    <td colspan="5">
      <div class="col-md-3 pl-0 mx-auto" *ngIf="!loading">
        <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
      </div>
      <p class="text-center" *ngIf="!loading">No data found</p>
    </td>
  </tr>
</ng-template>
