<input id="menu-switch" type="checkbox">
<div class="leftnav">
  <div class="apptitle">
    <div class="w-100 af-logo">
      <a class="logotext" href="javascript:void(0)">
        <img src="assets/img/afs-logo.png" alt="" class="w-50 mx-auto d-block">
      </a>
    </div>
  </div>
  <label for="menu-switch" id="togglemenu">
    <i class="ri-menu-2-line"></i>
  </label>
  <p class="py-2 mb-0 txt-menu">Menu</p>
  <ul class="leftmenu navbar-nav indent">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/products']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-function-fill"></i>
        Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/my-loans']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-money-dollar-box-line"></i>
        My Loans
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/offers']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-service-fill"></i>
        Offers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/services']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-service-fill"></i>
        Services
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/loan-calculator']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-calculator-fill"></i>
        Loan Calculator
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/trackrequest']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-briefcase-4-fill"></i>
        Track Request/Enquiry
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/feedback']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-calculator-fill"></i>
        Feedback
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/chat-or-call']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-calculator-fill"></i>
        Chat or Call
      </a></li>
    <li class="nav-item">
      <a class="nav-link"  href="https://www.accessfinanceonline.com/faq" rel="noopener noreferrer" target="_blank" (click)="getNotification()">
        <i _ngcontent-usn-c209="" class="ri-function-fill"></i> FAQ
      </a>
      <!-- <a class="nav-link" href="{{getdropdownList('signuplink')[4]['name']}}" target="_blank" (click)="getNotification()">
        FAQ
      </a> -->
      <!-- <a class="nav-link" [routerLink]="['/faq']" routerLinkActive='active' (click)="getNotification()">
        <i class="ri-calculator-fill"></i>
        FAQ
      </a> -->
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="https://www.google.com/" target="_blank" routerLinkActive='active'>
        <i class="ri-contacts-line"></i>
        Contact Info
      </a></li> -->
  </ul>
  <div class="clearfix"></div>
  <div class="w-100 mx-0 ftr">
    <ul>
      <li>
        <a href="https://www.accessfinanceonline.com/about-us" rel="noopener noreferrer" target="_blank">
          About Us
        </a>
      </li>
      <li>
        <a href="https://www.accessfinanceonline.com/contact-us" rel="noopener noreferrer" target="_blank">
          Contact Information
        </a>
      </li>
      <li>
        <!-- <a href="{{getdropdownList('signuplink')[0]['name']}}" target="_blank" (click)="getNotification()">
          Terms and conditions
        </a> -->
        <a [routerLink]="['/terms-conditions']" rel="noopener noreferrer" target="_blank" (click)="getNotification()">
          Terms Of Use
        </a>
      </li>
      <li>
        <!-- <a href="{{getdropdownList('signuplink')[1]['name']}}" target="_blank" (click)="getNotification()">
          Privacy Policy
        </a> -->
        <a [routerLink]="['/privacy-policy']" rel="noopener noreferrer" target="_blank" (click)="getNotification()">
          Privacy Policy
        </a>
      </li>
    </ul>
    <!-- <p class="mt-3 mb-0 text-center">&copy; 2021. All rights reserved.</p> -->
  </div>
</div>
<div class="page-wrap" role="main">
  <div class="page-header">
    <div class="row mx-0">
      <div #brudcrum class="col-sm-4 col-md-4 col-lg-4">
        <app-ng-dynamic-breadcrumb [symbol]="'#'" [bgColor]="'transparent'" [fontSize]="'16px'" [fontColor]="'#fff'"
          [lastLinkColor]="'#245497'"></app-ng-dynamic-breadcrumb>
        <!-- <h5 class="mt-4">Page title</h5> -->
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8 profile-block">
        <ul class="list-inline float-right mt-2">
          <li class="list-inline-item">
            <a class="notify position-relative" (click)="notification()">
              <span class="notifi-alert" *ngIf="notificationAlert>0">{{notificationAlert}}</span>
              <i class="ri-notification-3-fill"></i>
            </a>
          </li>
          <li class="list-inline-item dropdown">
            <a class="nav-link pr-0 pt-1" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="media align-items-center">
                <div class="media-body ml-2 mr-3">
                  <span class="mb-0 text-sm font-weight-bold user-name d-block">{{userInfo.FirstName}}
                    {{userInfo.LastName}}</span>
                  <span class="mb-0 user-mail d-md-block d-lg-block">{{userInfo.Email}}</span>
                </div>
                <span class="avatar avatar-sm rounded-circle">
                  <img *ngIf="imageloader" width="20" class="hdr-profile" height="20"
                    src="../../../assets/img/imageLoader.gif" alt="Loading..">
                  <!-- <img alt="Image placeholder" src="../../../../assets/img/default-profile.png" class="hdr-profile"> -->
                  <img *ngIf="!imageloader" alt="Image placeholder"
                    [src]="imagePath ? imagePath :'assets/img/default-profile.png'" class="hdr-profile">
                </span>
              </div>
            </a>

            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <a class="dropdown-item" (click)="editProfile()">
                <span>Edit Profile</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="activities()">
                <!-- <a class="dropdown-item" [routerLink]="['/activities']"> -->
                <span>Activities</span>
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item">
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class=" content">
    <!--row-->
    <router-outlet (onButtonClick)="fetchRequestsStatus()"></router-outlet>
  </div>

</div>
