.af-logo {
  background: #1d4386 url(../../../../assets/img/corner-curve.jpg) no-repeat left top;
  /* border-radius: 0 0 0 50px; */
  height: 57px;
  padding-top: 5px;
}

.page-wrap {
  background: #edf3fe;
}

::ng-deep.custom-bread-crumb {
  padding: 18px 16px !important;
  list-style: none;
}

::ng-deep .custom-bread-crumb li a {

  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
}

/*left Navigation*/
#menu-switch {
  display: none;
}

.apptitle {
  background: #ffcf01;
  position: relative;
}

.leftnav {
  position: fixed;
  left: 0;
  width: 235px;
  height: 100%;
  padding: 0;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 9;
}

#menu-switch:checked~.leftnav {
  left: -200px;
}

#menu-switch:checked~.leftnav .apptitle,
#menu-switch:checked~.leftnav ul.leftmenu li a i,
#menu-switch:checked~.leftnav label.tree-toggle.nav-header span {
  display: block;
}

#menu-switch:checked~.leftnav .navbar-nav>li a i {
  right: 0px;
  top: 14px;
  position: absolute;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#menu-switch:checked~.page-wrap {
  margin-left: 35px;
}

.apptitle {
  padding: 0px 0px 8px 0;
}

.leftnav .apptitle a:hover {
  text-decoration: none;
}

.apptitle a h1 {
  display: block;
  text-transform: uppercase;
  margin: 6px auto -2px;
  text-align: center;
  width: 100%;
}

#togglemenu {
  display: inline-block;
  clear: both;
  cursor: pointer;
  border: none;
  background: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#togglemenu:focus {
  outline: none;
}

label#togglemenu {
  width: 35px;
  float: right;
  position: absolute;
  z-index: 9;
  right: 5px;
  top: 2%;
}

label#togglemenu,
.notify {
  width: 35px;
  background: #f8f9fa2e;
  padding: 6px 6px 2px;
  border-radius: 5px;
  text-align: center;
}

.profile-block .nav-link,
.notify i,
.user-name {
  color: #fff;
}

.notify {
  top: 12px;
}

.user-name {
  color: #fff;
  font-size: 11px !important;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

#togglemenu i {
  color: #fff;
  /* float: right;
  padding: 10px; */
  font-size: 20px;
  text-align: center;
}

#togglemenu:before,
#togglemenu:after {
  position: absolute;
}

#togglemenu:before {
  top: 12px;
  left: 25px;
  width: 1px;
  height: 27px;
}

#togglemenu:after {
  top: 25px;
  left: 12px;
  width: 27px;
  height: 1px;
}

#menu-switch:checked~.page-wrap #togglemenu {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-switch:checked~.page-wrap .page-header {
  width: 100%;
  padding: 0px 40px 0 0;
}

ul.leftmenu.navbar-nav {
  margin: 0px;
  padding: 0px;
  clear: both;
  float: left;
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: auto;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link {
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 11px 20px;
  position: relative;
  font-weight: 600;
}

.indent .navtitle {
  padding-left: 10px;
}

ul.leftmenu.navbar-nav.indent li.nav-item a.nav-link {
  padding-left: 25px;
  color: #222 !important;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link,
ul.leftmenu.navbar-nav li.nav-item a.nav-link:hover {
  text-decoration: none;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link:hover {
  background: #f4f5f7;
  color: #1d4386;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link.active {
  color: #fff !important;
  background: #1d4386;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link span {
  float: right;
  font-size: 10px;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  display: none;
}

ul.leftmenu.navbar-nav li.nav-item a.nav-link i {
  background: #1d4386;
  color: #fff;
  padding: 1px 4px;
  margin-right: 10px;
  float: left;
}

.content {
  margin: 25px;
  margin-top: 0;
  padding-top: 85px;
}

#outer {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  display: table-cell;
  vertical-align: bottom;
}

#inner {
  border: 1px solid green;
  height: 50px;
}
.clearfix{
  height: 90px;
}
.page-header {
  background: #1f4384;
  height: 65px;
  border-bottom: 8px solid #ffcf01;
  position: fixed;
  width: calc(100% - 235px);
  z-index: 9;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.active i {
  background-color: #ffcf01 !important;
  color: #1d4386 !important;
}

/* .ftr {
  border-top: 1px solid #b6b8bb;
} */

/*Page content structure */
.page-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-left: 235px;
}

.dropdown-item {
  cursor: pointer;
}

/* .w-content{
  width: max-content;
} */
@media (max-width: 1199.98px) {
  .leftnav {
    left: -193px;
  }

  .page-wrap {
    margin-left: 35px;
  }

  #menu-switch:checked~.leftnav {
    left: 0px;
  }

  #menu-switch:checked~.page-wrap {
    margin-left: 234px;
  }

  /* 
  ul.leftmenu.navbar-nav li.nav-item a.nav-link span {
    display: block;
  }

  #menu-switch:checked~.leftnav .navbar-nav>li a span {
    margin-right: inherit !important;
  } */

  /* #menu-switch:checked~.leftnav {
  left: -200px;
} */
  .leftnav .apptitle,
  .leftnav ul.leftmenu li a i,
  .leftnav label.tree-toggle.nav-header span {
    display: block;
  }

  .leftnav .navbar-nav>li a i {
    right: 0px;
    top: 14px;
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .page-wrap {
    margin-left: 40px;
  }

  .page-header {
    width: calc(100% - 35px);
  }

}

@media (min-width: 1200px) {
  .leftnav {
    left: 0;
  }

  .page-wrap {
    margin-left: 234px;
  }

  #menu-switch:checked~.leftnav {
    left: -190px;
  }

  #menu-switch:checked~.page-wrap {
    margin-left: 44px;
  }

  ul.leftmenu.navbar-nav li.nav-item a.nav-link span {
    display: none;
    margin-right: -15px !important;
  }

  #menu-switch:checked~.leftnav .navbar-nav>li a span {
    margin-right: inherit !important;
  }
}
