<div class="row mb-4">
  <div class="col-lg-4 ">
    <h3>Add Comment</h3>
  </div>
  <div class="col-lg-8 d-flex justify-content-end align-items-end">
    <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
  </div>
</div>
<div class="row mx-0 pb-4 af-box">
  <div class="fullpage" *ngIf="loading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" >
    </div>
  <div class="col-lg-6">
    <!-- <form class="pb-4 needs-validation" [formGroup]="commentForm" (ngSubmit)="submitComment()"> -->
    <form class="p-4 comment-form" [formGroup]="commentForm" autocomplete="off">
      <div class="form-inner w-100 mb-3">
        <label class="d-block">Comments</label>
        <textarea class="form-control" placeholder=" " formControlName="userComments">
          Comment
          </textarea>

        <span *ngIf="!isClickedOnce && commentForm.controls.userComments.errors">
          <span *ngIf="commentForm.controls.userComments.errors.required" class="error">
            Comment required
          </span>
        </span>
      </div>
      <div class="form-inner w-100 mb-3">
        <label class="d-block">Upload Images</label>
        <div class="row">
          <div class="col-lg-11 pr-4">
            <div class="custom-file">
              <input type="file" class="custom-file-input"  required
                (change)="fileChange($event, 'loanImage')">
              <label class="custom-file-label" for="customFile">
                {{commentForm.controls.loanImage.value && commentForm.controls.loanImage.value!=''?commentForm.controls.loanImage.value:'Add a file'}}
                <i class="ri-upload-2-line"></i>
              </label>
              <a class="viewimage" *ngIf="geturl(commentForm.controls['loanImage'].value) !=false" rel="noopener noreferrer" href="{{geturl(commentForm.controls['loanImage'].value)}}" target="_blank">View file/image</a>
              <div *ngIf="fieldname.includes('loanImage')">
                <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
              </div>
            </div>
            <span *ngIf="(!isClickedOnce || commentForm.controls.loanImage.dirty) && commentForm.controls.loanImage.errors">
              <!-- <span *ngIf="commentForm.controls.loanImage.errors.required" class="error">
                Image required
              </span>
              <span *ngIf="commentForm.controls.loanImage.errors.notSupportedFileType" class="error">
                Invalid file type
              </span> -->

                <span class="error" *ngIf="commentForm.controls.loanImage.errors.notSupportedFileType">
                      The image must be a file of type: jpg, jpeg, png
                    </span>
                    <span class="error" *ngIf="commentForm.controls.loanImage.errors.filleSizeincorrect">
                      Please upload the file size below 25 MB
                    </span>
            </span> 
          </div>
          <div class="col-lg-1">
            <button class="icon float-right" (click)="cloneDiv()" *ngIf="addField.length == 0"> <i
                class="ri-add-circle-fill"></i>
            </button>
            <!-- <button class="icon float-right" (click)="cloneDiv()" *ngIf="addField.length !== 0"> <i
                class="ri-indeterminate-circle-fill"></i>
            </button> -->
          </div>
        </div>

        <ng-container *ngIf="addField.length !== 0">
          <div *ngFor="let item of addField; let i = index">
            <!-- <p>{{item}}</p> -->
            <div class="row mt-3">
              <div class="col-lg-11 pr-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" required
                    (change)="fileChange($event,'customFile'+item )">
                  <label class="custom-file-label" for="customFile">
                    {{commentForm.controls['customFile'+item].value && commentForm.controls['customFile'+item].value!=''?commentForm.controls['customFile'+item].value:'Add a file'}}
                    <i class="ri-upload-2-line"></i>
                  </label>
                  <a class="viewimage" *ngIf="geturl(commentForm.controls['customFile'+item].value) !=false" rel="noopener noreferrer" href="{{geturl(commentForm.controls['customFile'+item].value)}}" target="_blank">View file/image</a>
                  <div *ngIf="fieldname.includes('customFile'+item)">
                    <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
                  </div>
                </div>
                 <span *ngIf="(!isClickedOnce || commentForm.controls['customFile'+item]?.dirty) && commentForm.controls['customFile'+item]?.errors">
                  <!-- <span *ngIf="commentForm.controls['customFile'+i].errors?.required" class="error">
                    Image required
                  </span>
                  <span *ngIf="commentForm.controls['customFile'+i].errors?.notSupportedFileType" class="error">
                    Invalid file type
                  </span> -->
                  <span class="error" *ngIf="commentForm.controls['customFile'+item].errors?.notSupportedFileType">
                      The image must be a file of type: jpg, jpeg, png, pdf
                    </span>
                    <span class="error" *ngIf="commentForm.controls['customFile'+item].errors?.filleSizeincorrect">
                      Please upload the file size below 25 MB
                    </span>
                </span> 
              </div>
              <div class="col-lg-1">
                <!-- <button class="icon float-right" (click)="cloneDiv()"> <i class="ri-add-circle-fill"></i>
                </button> -->
                <button class="icon float-right" (click)="removeDiv(item)"><i class="ri-indeterminate-circle-fill"></i>
                </button>
              </div>
            </div>
          </div>
          <button class="icon float-right mt-3" (click)="cloneDiv()" *ngIf="addField.length !== 0"> <i
              class="ri-add-circle-fill"></i>
          </button>
        </ng-container>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="container text-center">
    <div class="button-group my-4 text-center">
      <button type="button" class="btn btn-primary mx-3" (click)="submitComment()">Submit</button>
      <button type="button" class="btn btn-secondary mx-3" (click)="goBack()">Cancel</button>
    </div>
  </div>
</div>
