.fullpage {
    position: absolute;
    top: 100px;
    left: 15%;
    width: 85%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.04);
}
.fullpage .af-loading {
    margin: 20% auto;
}
.viewimage{
    font-size: 11px;
  }