<div class="row mb-4">
  <div class="col-lg-4 ">
    <h3>Loan Details</h3>
  </div>
  <div class="col-lg-8 d-flex justify-content-end align-items-end">
    <button class="btn btn-secondary mr-3" (click)="goBack()">Back</button>
  </div>
</div>

<ul class="list-inline h-tab mt-4">
  <li class="list-inline-item mr-4" *ngFor="let tab of tabsData" [ngClass]="{ 'selected': tab.id == sectionId}">
    <button type="button" class="btn btn-link py-2 px-5" (click)="goTo(tab.id)"
      [ngClass]="{ 'btn-tab': tab.id != sectionId,'btn-tab-selected': tab.id == sectionId }">{{tab.name}}</button>
  </li>
  <!-- <li class="list-inline-item" *ngIf="commentStatus == 'Y'">
    <button type="button" class="btn  py-2 px-2 w-100 btn-tab">Comments</button>
  </li> -->
</ul>

<div class="w-100 p-5 text-center" *ngIf="tabsLoader">
  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
</div>

<div class="row mt-4 mx-auto af-box p-4 br-rdus pl-form position-relative" *ngIf="showFormData">
  <div class="fullpage" *ngIf="fullPageLoader && filterFields">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>

  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="!filterFields">
  <!-- *ngIf="fullPageLoader" -->

  <ng-container *ngFor="let field of filterFields">
    <div class="col-md-6">
      <h4 class="font-weight-bold">{{field.name?field.name:'-'}}</h4>
      <div *ngFor="let item of field.forms">
        <div class="d-flex form-data">
          <p>{{item.placeHolder}}
          </p>
          <p
            *ngIf="item.fieldType != 'Calendar'&& item.dataType != 'Phonenumber' &&item.fieldType != 'Photo' && item.fieldType != 'docUpload' && item.fieldType != 'Signature' && item.fieldType != 'Dropdown' && item.fieldType != 'RadioButton'">
            <span
              *ngIf="item.responseKey == 'GrossSalary' || item.responseKey == 'NetSalary' || item.responseKey == 'LoanAmount' || item.responseKey == 'MonthlyRepaymentAmount'">{{item.value | currency:'$'}}</span>
            <span
              *ngIf="!(item.responseKey == 'GrossSalary' || item.responseKey == 'NetSalary' || item.responseKey == 'LoanAmount' || item.responseKey == 'MonthlyRepaymentAmount')">{{item.value?item.value:'-'}}</span>
          </p>
          <p *ngIf="item.dataType == 'Phonenumber'">
            {{item.value?'+':'-'}}{{((item.value?('1'+item.value) :'') | mask: '0(000) 000-0000')}}</p>
          <p *ngIf="item.fieldType == 'Calendar' && item.dataType != 'Phonenumber'">
            {{item.value?(item.value | date: 'yyyy/MM/dd' ):'-'}}</p>
          <p *ngIf="(item.fieldType == 'Dropdown' || item.fieldType == 'RadioButton') && item.responseKey !='BranchList'">
            {{getdropdownList(item.responseKey,item.value)}}</p>
            <p *ngIf="item.fieldType == 'Dropdown'&& item.responseKey =='BranchList'">
              {{item.value}}</p>
          <div *ngIf="item.fieldType == 'Photo' || item.fieldType == 'docUpload'|| item.fieldType == 'Signature'"> <a
              *ngIf="geturl(item.value) !=false" rel="noopener noreferrer" href="{{geturl(item.value)}}" target="_blank">View</a>
            <div *ngIf="item.value!=''&&geturl(item.value) ==false" >
              <img width="20" height="20" src="../../../assets/img/loading.png" alt="Loading..">
            </div>
            <p *ngIf="item.value=='' ||!item.value">-</p>
          </div>
        </div>
        <!-- | number -->

        <div *ngIf="item.fieldName == 'PaymentType'">
          <div class="d-flex form-data" *ngFor="let sub of item.additionalFields[getnumber(item.value)-1].forms">
            <p>{{sub.placeHolder}}
            </p>
            <p *ngIf="sub.fieldType == 'Dropdown' || sub.fieldType == 'RadioButton'">
              {{getdropdownList(sub.responseKey,sub.value)}}</p>
            <p *ngIf="sub.fieldType != 'Dropdown' && sub.fieldType != 'RadioButton'">{{sub.value?sub.value:'-'}}
            </p>

          </div>
        </div>


      </div>
    </div>

  </ng-container>
</div>
<div class="row mt-4 mx-auto af-box p-4 br-rdus pl-form position-relative" *ngIf="errorMessage">
  <p class="w-100 text-center">{{errorMessage}}</p>
</div>
