<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
<div class="clogin">
  <div class="fullpage cus-loading" *ngIf="isloading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <section>
    <div class="container-fluid">
      <div class="row single-pg">
        <!-- <div class="col-md-6 logo-section-left"> -->
        <div class="col-md-6">
          <div class="row logo-section-left">
            <ngb-carousel class="carousel-fade">
              <ng-template ngbSlide *ngFor="let data of scrollBlocks">
                <div class="wrapper">
                  <img [src]="data.src" alt="{{data.title}}">
                </div>
                <div class="carousel-caption">
                  <h1 class="font-weight-bold">{{ data.title }}</h1>
                  <h3 class="font-weight-normal">{{ data.short }}</h3>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="col-md-6 p-3 bg-color d-flex">
          <div class="login-logo pt-3">
            <img src="./assets/img/Logo.svg" class="mx-auto d-block pb-4 mt-5" alt="logo">
            <div class="login-section">
              <div class="otp">
                <h3 class="pb-2 text-center">Login</h3>
                <!-- <div class="w-100" style="border: 1px solid red;">
                  <div class="container">
                    <input ngx-google-places-autocomplete class="form-control"
                      (onAddressChange)="handleAddressChange($event)" />

                    <p>Address: {{ userAddress }}</p>
                    <p>Latitude: {{ userLatitude }}</p>
                    <p>Longitude: {{ userLongitude }}</p>
                  </div>
                </div> -->

                <div class="form-cover">
                  <form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="login(captcha);" autocomplete="off">
                    <label>Email/Mobile Number <span class="star">*</span></label>
                    <div class="form-inner">
                      <input type="email" class="form-control py-4" formControlName="userEmail" required
                        (keypress)="keyPressEmail($event)" autocomplete="nope">
                      <span *ngIf="isSumitted && logincontrols.userEmail.errors">
                        <span class="error" *ngIf=" logincontrols.userEmail.errors.required">
                          Please enter email/mobile number
                        </span>
                        <span class="error" *ngIf=" logincontrols.userEmail.errors.pattern">
                          Please enter valid email/mobile number
                        </span>
                      </span>
                    </div>

                    <label class="pt-3">Password <span class="star">*</span></label>
                    <div class="form-inner">
                      <!-- <input type="password" class="form-control mb-1" formControlName="passWord" required> -->
                      <input [type]="showPword ? 'text' : 'password'" class="form-control py-4 mb-1"
                        formControlName="passWord"  maxlength="20" required autocomplete="new-password">
                      <span class="input-group-append field-icon">
                        <!-- <img src="assets/img/eye-off.svg" alt="show-pwd" id="hide">
                        <img src="assets/img/eye.svg" alt="show-pwd" id="show"> -->
                        <img [src]="showPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
                          (mousedown)="showPassword()" (mouseleave)="hidePassword()">
                      </span>
                      <!-- <p class="text-right"><a class="link" [routerLink]="['forgot-password']">Forgot
                        Password?</a></p> -->
                      <span *ngIf="isSumitted && logincontrols.passWord.errors">
                        <span class="error" *ngIf=" logincontrols.passWord.errors.required">
                          Please enter password
                        </span>
                        <!-- <span class="error" *ngIf="logincontrols.passWord.errors.minlength">
                          Minimum 6 characters required
                        </span> -->
                        <span class="error" *ngIf="logincontrols.passWord.errors.maxlength">
                          Maximum 20 characters only accepted
                        </span>
                      </span>

                      <p class="text-right"><a class="link" (click)="forgotPassword()">Forgot
                          Password?</a></p>
                    </div>
                    <div class="form-inner mb-2"> 
                      <!--6LcwWS0fAAAAABoNeFeEZryj7pJQ2feGBYDIHpqV-->
                    <p-captcha siteKey={{sitekey}} #captcha (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha>
                    <span *ngIf="isSumitted && logincontrols.token.errors" >
                      <span class="error" *ngIf="logincontrols.token.errors?.['required']">Please confirm captcha to proceed</span>
                    </span>
                  </div>
                    <!-- <div class="form-inner mb-2">
                      <re-captcha id="recaptcha" name="recaptcha" formControlName="token" required [class.is-invalid]="isSumitted && logincontrols.token.errors"></re-captcha>
                      <span *ngIf="isSumitted && logincontrols.token.errors" >
        <span class="error" *ngIf="logincontrols.token.errors?.['required']">Please confirm captcha to proceed</span>
      </span>
                      </div> -->
                    <button type="submit" class="login-btn" [disabled]="!isClickedOnce">Login</button>
                    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p" *ngIf="loading">
                  </form>
                  <div class="another-login pt-4 pb-3">
                    <p class="text-center pb-3" *ngIf="socialstatus=='1'">Or login using</p>
                    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p mx-auto mt-0 mb-0" *ngIf="issocialload">
                    <div class="row" *ngIf="socialstatus=='1'">
                      <div class="col-md-6">
                        <button type="button" class="btn btn-light" (click)="loginWithGoogle()">
                          <img src="./assets/img/google.png" alt="google">
                          Google
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn btn-light" (click)="loginWithFacebook()">
                          <img src="./assets/img/facebook-64.png" alt="facebook">
                          Facebook
                        </button>
                      </div>
                    </div>
                    <!-- <p class="text-center pt-5">
                      Don't have an account?<a (click)="logOut()">Sign Up</a>
                    </p> -->
                    <p class="text-center " [class.pt-5]="socialstatus=='1'">
                      Don't have an account?<a class="u-line txt-bold" routerLink="/sign-up">Sign Up</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

  <!-- Modal Set New Password -->
  <div class="modal fade" id="setnew_pwd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="pop-box">
            <div class="otp">
              <div class="text-center">
                <img src="assets/img/forgot-password.png" alt="otp" class="w-50">
                <h3 class="p-2">Set new password</h3>
              </div>
              <div class="set-pwd">
                <form action="#" class="needs-validation pb-4 " novalidate
                  oninput='confirm_pwd.setCustomValidity(confirm_pwd.value != new_pwd.value ? true : false)'
                  autocomplete="off">
                  <label for="new_pwd" class="pt-3 mb-1">New Password</label>
                  <div class="form-inner">
                    <input id="new_pwd" type="password" class="form-control mb-1" name="new_pwd" required>
                    <span class="input-group-append field-icon">
                      <img src="assets/img/eye-off.svg" alt="show-pwd" id="hide" onclick="myPassword()">
                      <img src="assets/img/eye.svg" alt="show-pwd" id="show" onclick="myPassword()">
                    </span>
                  </div>

                  <label for="confirm_pwd" class="pt-3 mb-1">Confirm Password</label>
                  <div class="form-inner">
                    <input id="confirm_pwd" type="password" class="form-control mb-1" name="confirm_pwd" required>
                    <span class="input-group-append field-icon">
                      <img src="assets/img/eye-off.svg" alt="show-pwd" id="hide2" onclick="myPassword_2()">
                      <img src="assets/img/eye.svg" alt="show-pwd" id="show2" onclick="myPassword_2()">
                    </span>
                  </div>
                  <button type="submit" class="submit-btn mt-3" data-toggle="modal" data-target="#reset_success"
                    data-dismiss="modal">Submit</button>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Modal Success -->
  <div class="modal fade" id="reset_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="pop-box">
            <div class="otp">
              <div class="text-center">
                <img src="assets/img/success 1.png" alt="success">
                <h3>Your password has been reset successfully</h3>
                <p class="py-2">Please login to continue</p>
              </div>
              <button type="submit" class="submit-btn">Login</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openMarket()">
  Launch demo modal
</button> -->
