.clogin .fullpage.cus-loading {
  top: 102px;
  left: 50%;
  width: 50%;
  height: 104%;
}

ngb-carousel {
  width: 100%;
  height: 100%;
}

.carousel-caption h1,
.carousel-caption h3 {
  color: #fff;
}

.carousel-caption h3 {
  font-weight: 400 !important;
}

@media (max-width: 767.98px) {
  .clogin .fullpage.cus-loading {
    left: 0;
    width: 100%;
  }
}
