@import 'animate.css';
@import 'remixicon/fonts/remixicon.css';
@import "@fontsource/noto-sans";
@import "@fontsource/roboto";

html,
body {
  margin: 0;
  padding: 0;
  background: #edf3fe;
  height: 100%;
}

* {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  color: #000;
}

ul,
ol {
  list-style: none;
}

.u-line {
  text-decoration: underline !important;
}

.bg-lightblue {
  background: #edf3fe;
}

.bg-white {
  background: #fff !important;
}

.p-scroll {
  max-height: 100%;
  overflow: auto;
}

.text-primary {
  color: #1f4384 !important;
}
.mat-button.mat-button-disabled, .mat-icon-button.mat-button-disabled, .mat-stroked-button.mat-button-disabled, .mat-flat-button.mat-button-disabled {
    cursor: default;
    opacity: .3;
}
.bdr-btm {
  border-bottom: 1px solid #ccc;
}

.btn-radio .text-primary {
  font-weight: 600;
}

.btn {
  min-width: 122px;
  font-weight: 600;
  height: 35px;
}

.txt-11p {
  font-size: 11px;
}

.txt-12p {
  font-size: 12px;
}

.txt-16p {
  font-size: 16px;
}

.txt-bold {
  font-weight: 600;
}

.txt-whit {
  color: #fff !important;
}

button:disabled,
button[disabled] {
  opacity: .8;
  cursor: no-drop;
}

.bloan .btn,
.serv-tab .btn {
  min-width: 120px;
}

.serv-tab .btn {
  font-size: 12px;
  font-weight: 600;
}

.loan-status-list .btn {
  min-width: 110px;
  font-size: 12px;
  padding: .5rem 20px;
}

a,
.link {
  color: #597ebc !important;
  text-decoration: none !important;
  cursor: pointer;
}

a:hover,
.link:hover,
.txt-drkgray {
  color: #555;
}

.txt-gray {
  color: #888;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-25p {
  width: 25px !important;
}

.w-40p {
  width: 40px !important;
}

.w-50p {
  width: 50px !important;
}

.w-75 {
  width: 75% !important;
}

.mt-10p {
  margin-top: 10%;
}

.cl-txt {
  font-weight: 700;
  color: #1d4386;
}

.single-pg,
.logo-section-left {
  height: 100vh;
}

/* .sign-up {
  background: url(./assets/img/Login-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.logo-section-left .carousel-indicators {
  display: none !important;
}

.logo-section-left .carousel-inner {
  background: #274e8c;
  height: 100vh !important;
}

.logo-section-left img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.logo-section-left .carousel-caption {
  bottom: 110px;
}

.login-section {
  padding: 0rem 2rem 0;
}

.login-width {
  width: 300px;
  margin: auto;
  padding-top: 2rem;
}

/* #login .container-fluid{
     padding-left: 0;
 } */
.bg-color {
  background: #E6EFFE;
  justify-content: center;
  align-items: center;
}

.login-logo,
.signup-logo {
  background: #fff;
  border-radius: 10px;
  width: 84%;
  height: 100%;
}

.signup-logo {
  height: auto;
  /* margin-top: 495px */
}

.login-logo img,
.signup-logo img {
  width: 150px;
}

.login-logo h3,
.signup-logo h3,
.modal-title {
  font-weight: bold !important;
}

.modal-title {
  margin-bottom: 0 !important;
}

.form-inner {
  position: relative;
}

.field-icon {
  right: 10px;
  position: absolute;
  z-index: 2;
  top: 12px;
}

.forgot-password .field-icon {
  top: 40px;
}

span.fa.fa-fw.fa-eye.field-icon.toggle-password {
  color: #1877f2;
}

.form-control,
.cstm-box p,
.form-check-label,
.form-cover .link {
  font-weight: 600;
  font-size: 11px;
}

.form-control:focus {
  color: #000;
  border: 1px solid #1F4384 !important;
  outline: 0;
  box-shadow: unset;
  font-weight: bold;
}

#password-field:focus {
  background-color: #fff;
  border-color: #1F4384;
}

.input-group-append img {
  width: 17px;
}

#show {
  display: none;
}

#show2 {
  display: none;
}

.login-btn {
  background-color: #1F4384;
  color: #fff;
  border: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.another-login img,
.login-logo .another-login img {
  width: 25px;
  margin-right: 4px;
}

.another-login button {
  font-weight: 600;
  width: 100%;
}

.another-login p {
  margin: 0;
  font-size: .9rem;
}

.another-login p a {
  margin-left: 5px;
  text-decoration: underline;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.form-control {
  appearance: auto !important;
}

/* ========================== Sign Up =============================== */
.iti__flag-container {
  border-right: 1px solid #ccc;
  z-index: 1;
}

.terms_policy {
  line-height: 24px;
  padding: 1rem 0;
}

.terms_policy p {
  margin: 0;
  font-size: .9rem;
}

.terms_policy p a {
  text-decoration: underline;
  color: #1F4384;
  font-size: .9rem;
}

.another-login {
  /* width: 300px; */
  margin: 0 auto;
}

/* ========================== OTP =============================== */
.resend-btn {
  background: transparent;
  color: #000;
  border: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.resend-btn:hover,
.resend-btn:active {
  background-color: #1F4384;
  color: #fff;
}

.otp {
  width: 80%;
  margin: auto;
  /* padding-top: 2rem; */
}

.opt-input form {
  justify-content: center;
}

.opt-input form input {
  width: 45px !important;
  height: 50px;
  margin-right: 12px;
  text-align: center;
  font-size: 18px;
}

.ngx-otp-input {
  background: #f4f4f5;
  border: none !important;
  height: 45px !important;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.verify-btn {
  width: 100%;
}

.verify-btn .verify {
  float: right;
  margin-right: 15px;
  background-color: #1F4384;
  color: #fff;
}

.verify-btn button {
  padding: 10px 35px;
  border: transparent;
  background-color: #E6EFFE;
  color: #1F4384;
  font-weight: 600;
  width: 45%;
}

.dot {
  width: 10px;
  height: 10px;
  background: #1F4384;
  display: inline-block;
  border-radius: 10px;
  margin-right: 5px;
}

.otp p {
  color: #969494;
}

.submit-btn {
  border: transparent;
  background-color: #1F4384;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

button:focus {
  outline: unset !important;
}

.forgot-password input {
  width: 100% !important;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-header .close {
  background: #E6EFFE;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  top: 12px;
  right: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 1.5;
}

.modal-header .close span {
  font-size: 20px;
}

.ngx-toastr {
  color: #fff !important;
}

.af-box {
  background: #fff;
  border-radius: 7px;
  /* box-shadow: 0px 2px 3px rgb(0 0 0 / 20%); */
}

.br-rdus {
  border-radius: 7px;
}

.btn-primary,
.h-tab .list-inline-item.selected,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #1d4386;
  border-color: #1d4386;
  border-radius: 5px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: .7;
}

/* .btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
  background-color: #ffcf01;
  border-color: #ffcf01;
  color: #444;
} */
.btn-primary.focus,
.btn-primary:focus {
  background-color: #1d4386;
  border-color: #1d4386;
  color: white;
} 
.btn-primary:hover {
  background-color: #1d4386;
  border-color: #1d4386;
  color: white;
}
.h-tab .list-inline-item.selected .btn-link,
.toast-message {
  color: #fff;
}

.list-inline-item.selected:hover,
.btn-tab-selected:hover {
  color: #fff;
}

.btn-tab {
  background-color: #fff;
  border-color: #fff;
  color: #1d4386;
  font-size: 11.5px;
}

.btn-tab-selected {
  font-size: 11.5px;
  color: #fff;
}

.form-control {
  border-radius: 7px;
  border: 1px solid #f0f0f1;
}

.pl-form .form-control,
.form-control,
.autocomplete-container .input-container input {
  border: none;
  background: #f0f0f1;
  font-size: 12px;
  color: #444;
  height: 35px;
  font-weight: 600;
}

.autocomplete-container .input-container input {
  text-transform: capitalize;
}

.pl-form label,
label,
.ftr p {
  font-size: 11px;
  color: #666;
}

.cstm-tooltip i {
  color: #ffcf01;
}

label.custom-file-label {
  font-size: 10px;
}

.pl-form h5 {
  font-weight: 600;
  color: #1d4386;
}


.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
}

.custom-file-label {
  padding: 16px 10px;
  color: #606b7e;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.custom-file-label::after {
  z-index: -1;
  height: 40px;
  width: 40px;
  background-color: #ffcf06;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "";
}

.custom-file-label i {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  right: 8px;
}

/* .pl-form .form-control::placeholder {
  color: #aaa;
} */
.pl-form .form-control::placeholder,
.form-control::placeholder {
  color: #aaa;
  font-weight: 400;
}


.star {
  color: #ff3333;
}

.star.dark {
  color: #888;
}

.pl-form .form-control.is-invalid {
  border: 1px solid red !important;
}

app-personal-loan,
app-my-loans,
app-emi-schedule,
app-transactions,
app-loan-form,
app-loan-details,
app-loan-calculator,
app-comment-list,
app-add-comment,
app-edit-comment,
app-view-comment,
app-notifications,
app-activities,
app-profile,
app-chat-or-call,
app-faq,
ngx-skeleton-loader {
  width: 100%;
}

.loan-status-list {
  background: #edf3fe;
  padding: 1.5rem 10px;
  border-radius: 10px;
  margin-top: 1rem;
  position: relative;
}

.loan-status-list h5,
.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  font-weight: 600 !important;
}

.mat-typography h3 span {
  font-weight: 600 !important;
  font-size: 16px;
}

.loan-status-list h4,
.notification h4 {
  font-weight: 600 !important;
  margin-bottom: 0;
  font-size: 13px;
}

.loan-status-list span {
  color: #0a1529;
  font-size: 12px;
}

.loan-status-list button.btn-status {
  border: transparent;
  color: #fff;
  padding: .5rem 20px;
  font-weight: 600;
  min-width: 90px;
  border-radius: 20px;
  cursor: unset;
  font-size: 12px;
}

.badge {
  font-size: 9px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 1;
}

.incomplete,
.badge.not-verified {
  background: #ff3333;
}

.submitted {
  background: #1f4384;
}

.cancelled {
  background: #d81919 !important;
  color: #fff !important;
}

.completed,
.badge.verified {
  background: #2ecc71 !important;
}

.open_account button.completed {
  color: #fff !important;
}

.btn-active {
  background: #ffcf06;
  color: #333 !important;
}

.loan-details {
  border-radius: 10px;
}

.loan-details p {
  font-size: 12px;
  color: #666;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}

.loan-details span {
  font-size: 11px;
  color: #999;
  display: block;
  line-height: 16px;
}

.loan-details .list-group-item {
  border: none;
}

.status-btn .button-left button {
  background: #fff;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.table .thead-dark th {
  background-color: #edf3fe;
  border-color: #edf3fe;
  color: #444;
}

.form-data p {
  width: 50%;
}

.form-data p:first-child {
  color: #888;
}

.af-loading {
  display: block;
  margin: 12% auto;
  width: 45px;
}

.fullpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgb(253 252 252 / 4%);
}

.fullpage .af-loading {
  margin: 8% auto;
}

.fullpage.cus-loading {
  top: -60px;
  height: 104%;
}

.fullpage.nor-loading {
  top: 0px;
  height: 100%;
}

.fullpage.nor-loading .af-loading,
.fullpage.cus-loading .af-loading {
  margin-top: 20%;
}

.profie-info .user-name,
.user-mail {
  color: #fff;
  font-size: 11px !important;
}

.user-mail {
  margin-top: -2px !important;
  display: inherit;
}

.hdr-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.notification li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.info-icon {
  display: flex;
}

.appoint_id_date {
  text-align: left;
  margin-left: 10px;
}

.open_account button {
  background: #ffcf06;
  border: transparent;
  padding: .3rem 3rem;
  border-radius: 15px;
  margin-bottom: 5px;
}

.appoint_id_date span {
  font-size: 11px;
  color: #606b7e;
  font-weight: 600;
}

.af-card {
  width: 100%;
}

.inner-card,
.card-add {
  background: #edf3fe;
  padding: 10px;
  border-radius: 5px;
}

.card-block {
  max-height: 170px;
  overflow: auto;
}

.payment_amt span {
  font-size: 12px;
  color: #606b7e;
}

.card-add button {
  font-size: 10px;
  padding: 3px 10px;
  margin: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.card-add .btn {
  width: 65px;
  min-width: inherit;
  height: 25px;
}

.card-add .remove {
  color: #fff;
  background: #ff3333;
}

.card-add .btn-ctrl {
  position: absolute;
  top: 0;
  right: 0;
}

.card-add .btn-ctrl span {
  color: #fff;
  font-size: 10px;
}

.dropdown-menu {
  border: none;
  box-shadow: 1px 0px 10px rgb(0 0 0 / 10%);
  padding: 0;
}

.dropdown .dropdown-divider {
  margin: 0;
}

.dropdown .dropdown-item {
  padding: 10px 15px;
}

.dropdown .dropdown-item span,
select option {
  font-size: 12px;
}

.card-head i {
  background: #1f4384;
  color: #fff;
  font-size: 1.2rem;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.no-brdr {
  border: none !important;
}

.fields-sigup {
  max-height: 390px;
  overflow: auto;
}

.otp .form-control,
.autocomplete-container .input-container input {
  padding: 5px ​10px !important;
  height: 35px;
  /* font-size: 11px; */
}

.form-cover {
  width: 84%;
  margin: auto;
}

/* common scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .4);
}

.btn-radio .form-check-label {
  position: relative;
  width: 100%;
  display: flex;
}

.btn-radio .form-check-inline .form-check-input {
  position: absolute;
  right: 0;
  top: 4px;
}

.btn-radio .form-check-inline {
  background: #f0f0f1;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

.btn-radio i {
  font-size: 18px;
  margin-right: 5px;
  color: #1F4384;
}

.error {
  color: red !important;
  font-size: 11px;
}

.chart img {
  width: 30%;
  margin: 20% auto 20px;
  display: block;
}

.c-loan .form-control,
.select-type .form-control {
  background: #fff;
}

.filter-form .btn-radio .form-check-inline {
  padding: 5px;
}

.mat-slider-thumb {
  border: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffcf01;
}

/* 
#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
} */

.comment-form textarea {
  height: 100px;
}

.otp .form-control.custom-otp {
  background: url(../src/assets/img/otp-bg.png) repeat-x;
  background-size: 58px 40px;
  width: 350px !important;
  letter-spacing: 48px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 0 26px !important;
}

.info-icon {
  display: flex;
}

.info-icon .notify-error,
.info-icon .ri-check-fill,
.info-icon .notify-error {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
}

.info-icon .notify-error {
  background-color: #ff33331f;
  color: #ff3333;
}

.info-icon .ri-check-fill {
  background-color: #edf3fe;
  padding: 2px 0;
}

.ri-error-warning-fill:before {
  content: "\eca0";
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.info-icon .ri-check-fill:before {
  width: 18px;
  height: 18px;
  background-color: #1f4384;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  right: 0;
}

.info-icon .ri-check-fill.notify-success:before {
  background-color: #2ecc71;
}

.text-notif {
  margin-left: 15px;
}

.text-notif p {
  font-size: 16px;
  margin-bottom: 0.7rem;
}

.text-notif span {
  font-size: 0.9rem;
  color: #606b7e;
}

.comment-img img {
  width: 175px;
  margin-right: 15px;
}

.edit_profile {
  position: relative;
}

.p-image,
.edit_profile .file-upload {
  position: absolute;
  color: #fff;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  right: 7px;
  bottom: 7px;
  background: #1f4384;
  padding: 11px 12px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.circle,
.circle .profile-pic {
  border-radius: 50% !important;
  /* overflow: hidden; */
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  object-fit: cover;
}

.p-image i {
  color: #fff;
  font-size: 20px;
}

.edit_profile .file-upload {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 9;
  opacity: 0;
}

.pro-update .btn-radio .form-check-inline {
  padding: 7px 10px;
}

.pro-update .field-icon {
  top: 7px;
}

button.icon {
  border: none;
  background: #1d4386;
  border-radius: 5px;
  padding: 5px 7px 0;
}

button.icon i {
  color: #fff;
  font-size: 20px;
}

.notifi-alert {
  display: flex;
  min-width: 15px;
  height: 15px;
  background: #ff3333;
  border-radius: 15px;
  position: absolute;
  top: -5px;
  left: 14px;
  font-size: 8px;
  color: #fff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
}

.mat-paginator {
  margin: auto;
}

.btn-resend {
  border: none;
  background: none;
}

.select-type .btn {
  font-size: 11px;
  min-width: inherit;
  width: 100%;
}

.theme-green .bs-datepicker-head {
  background-color: #1f4384 !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #1f4384 !important;
}

.bs-datepicker-head button span {
  color: #fff;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*=select-]:after,
.theme-green .bs-datepicker-body table td[class*=select-] span:after {
  background-color: #ffcf06;
  color: #444;
}

.bs-datepicker-body table th,
.bs-datepicker-body table.days span {
  font-size: 11px;
}


/* For UI Animation Effects */
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

ngx-skeleton-loader .loader {
  height: 60px !important;
}

.as-msngr {
  height: 200px;
  padding-top: 60px;
}

.ico-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
}

.ico-circle img {
  max-width: 65%;
  margin-top: 16%;
}

.tooltip>.tooltip-inner {
  background: rgb(0 0 0 / 70%);
  color: #fff;
  font-size: 10px;
}

bs-days-calendar-view {
  margin: 5px;
}
.calendar {
  cursor: pointer;
}
.ftr {
  position: absolute;
  bottom: 0;
}

.ftr ul {
  margin-left: 25px;
  padding-left: 0;
  margin-bottom: 0;
}

.ftr li a {
  color: #aaa !important;
  font-weight: 600;
  margin: 2px 0;
  display: block;
  font-size: 10px;
}

.ftr li a:hover,
.cstm-link:hover {
  color: #ffcf01 !important;
}

.cstm-input {
  background: #edf3fe !important;
}

.cstm-box {
  height: 35px;
  border-radius: 7px;
  padding: 8px 10px;
  background: #edf3fe;
}

app-personal-loan .btn {
  height: auto;
}

app-personal-loan .btn.cstm-link {
  text-decoration: underline !important;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #1d4386;
  background-color: #f0f0f1;
  border-radius: 50%;
}

input[type=radio]:checked {
  padding: 2px;
  background-clip: content-box;
  background-color: #1d4386;
}

.txt-menu {
  font-size: 12px;
  color: #999;
  padding-left: 25px;
}

.img-thumb {
  height: 80px;
  object-fit: cover;
}

.ng-autocomplete,
.autocomplete-container {
  width: 100% !important;
  height: 35px !important;
  box-shadow: none !important;
}

.autocomplete-container .input-container input {
  height: 35px !important;
  line-height: inherit !important;
  background: #f0f0f1 !important;
  font-size: 11px !important;
  border-radius: 7px !important;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 5px 15px !important;
  font-size: 11px !important;
  color: #666 !important;
}

.autocomplete-container .suggestions-container ul li b,
.autocomplete-container .input-container .x i {
  font-size: 11px !important;
}

input[type=date]:invalid::-webkit-datetime-text,
input[type=date]:invalid::-webkit-datetime-edit,
input[type=date]:invalid::-webkit-datetime-month-field,
input[type=date]:invalid::-webkit-datetime-year-field,
input[type="date"]:invalid::-webkit-datetime-edit-day-field {
  color: transparent;
  content: '';
}

.bs-datepicker-container {
  padding: 0 !important;
}

input.calendar {
  background: #f0f0f1 url('../src/assets/img/calendar.png') no-repeat 95% center/15px 15px !important;
}

input.whit-bg.calendar {
  background: #fff url('../src/assets/img/calendar.png') no-repeat 95% center/15px 15px !important;
}

input.clock {
  background: #f0f0f1 url('../src/assets/img/pngclock.png') no-repeat 95% center/15px !important;
}
.disabled {
  pointer-events: none;
}

.viewimage {
  font-size: 11px !important;
  display: inline-block;
  margin-top: 5px;
}

.no-drops {
  pointer-events: none;
}
.center-tag{
  display: flex;
  align-items: center;
  justify-content: center;
}
.af-info{
  width: 25px;
  height: 25px;
}
.verticle-center{
  display: flex;
  align-items: center;
}
/* .error {
  text-transform: lowercase;
} */
/* 
span.error:first-letter {
  text-transform: capitalize !important;
} */

/* Responsive Settings */

@media (max-width: 575.98px) {

  /* @media (max-width: 419.99px) { */
  .modal {
    top: 50px;
  }

  .login-logo,
  .signup-logo,
  .otp {
    width: 100%;
  }

  .mbl-view .w-50 {
    width: 90% !important
  }

  .logo-section-left,
  .custom-bread-crumb,
  .txt-menu {
    display: none;
  }

  .p-10m {
    padding: 10px !important;
  }

  ul.leftmenu.navbar-nav li.nav-item a.nav-link i {
    margin-top: -4px;
  }

  .h-tab .list-inline-item {
    display: inline-block;
    width: 47%;
    margin: 5px !important;
  }

  .mat-h4,
  .mat-subheading-1,
  .mat-typography h4 {
    font-size: 13px !important;
  }

  .ln-form-btn .btn {
    min-width: 38%;
    display: inline-block;
  }

  .d-sm-block,
  .loan-details .list-group {
    display: block !important;
  }

  .loan-status-list .w-20,
  .loan-details .list-group-item {
    width: 50%;
    /* display: inline-grid; */
    min-height: 60px;
    float: left;
  }

  /* .loan-details .list-group-item {
    border: 1px solid red;
  } */
  .status-btn .btn {
    width: 100%;
    margin: 0 0 5px 0 !important;
  }

  .status-btn .button-right,
  .m-view .btn,
  .m-view .btn-status {
    width: 100% !important;
    margin: 5px 0 5px 0 !important;
  }
}

@media (max-width: 419.98px) {
  .modal {
    top: 50px;
  }

  .h-tab .list-inline-item {
    width: 45%;
    display: inline-block !important;
    margin: 5px !important;
  }

  .loan-status-list .w-20,
  .loan-details .list-group-item {
    width: 100%;
  }

  .status-btn .btn {
    width: 100%;
    margin: 0 0 5px 0 !important;
  }

  .status-btn .button-right,
  .m-view .btn,
  .m-view .btn-status {
    width: 100% !important;
    margin: 5px 0 5px 0 !important;
  }

  .loan-status-list h4,
  .loan-status-list p,
  .loan-status-list span {
    text-align: center;
    width: 100%;
    display: block;
  }

  .another-login .btn.btn-light {
    margin-bottom: 10px;
  }

  .ngx-otp-input-box {
    margin: 0 -4px !important;
  }
}

@media (max-width: 392px) {
  .h-tab .list-inline-item {
    width: 46% !important;
  }

  .btm-btn .btn {
    width: 100% !important;
    margin: 0 0 10px 0 !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .modal {
    top: 50px;
  }

  .logo-section-left,
  .custom-bread-crumb,
  .txt-menu {
    display: none;
  }

  .otp {
    width: 100%;
  }

  .mbl-view .w-50 {
    width: 90% !important
  }

  .h-tab .list-inline-item {
    display: inline-block;
    width: 47% !important;
    margin: 5px !important;
  }

  .mat-h4,
  .mat-subheading-1,
  .mat-typography h4 {
    font-size: 13px !important;
  }

  .loan-status-list .w-20,
  .loan-details .list-group-item {
    width: 50%;
    /* display: inline-grid; */
    min-height: 60px;
    float: left;
  }

  .loan-details ul.list-group {
    display: block;
  }

  .status-btn .button-right,
  .m-view .btn,
  .m-view .btn-status,
  .status-btn .btn {
    width: 48% !important;
    margin: 0 5px 5px 0 !important;
    display: inline-block;
  }

  .another-login .btn.btn-light {
    margin-bottom: 10px;
  }
}

@media (max-width: 767.99px) {
  .af-loading {
    width: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .login-logo,
  .signup-logo,
  .otp {
    width: 100%;
  }

  .mbl-view .w-50 {
    width: 90% !important
  }

  .loan-status-list .w-20,
  .loan-details .list-group-item {
    width: 33%;
    /* display: inline-grid; */
    min-height: 60px;
    float: left;
  }

  .loan-details ul.list-group {
    display: block;
  }

  .status-btn .button-right,
  .m-view .btn,
  .m-view .btn-status,
  .status-btn .btn {
    width: 33% !important;
    margin: 0 5px 5px 0 !important;
    display: inline-block;
  }

  .loan-status-list button.btn-status,
  .loan-status-list .btn {
    font-size: 10px;
  }

  .loan-status-list .btn {
    min-width: 103px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .d-sm-block {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .d-sm-block {
    display: flex !important;
  }
}
