<div class="row" *ngIf="!allTransactionDetail">
  <div class="col-lg-10">
    <h3 class="mb-4">Transactions<span *ngIf="loanId"> for the loan #{{loanId}}</span></h3>
  </div>

  <div class="col-lg-2">
    <button type="button" class="btn btn-secondary font-weight-bold" (click)="back()">Back</button>
  </div>
</div>
<div class="row" *ngIf="allTransactionDetail">
  <div class="col-lg-3">
    <h3 class="mb-4">All Transactions</h3>
  </div>
  <div class="col-lg-9">
    <form [formGroup]="transactionsForm" autocomplete="off">
      <div class="row select-type">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <!-- <select class="form-control" id="select_all" formControlName="transactionType" (change)="changeInputValue($event)" required> -->
          <select class="form-control" id="select_all" formControlName="transactionType" (change)="getAllTransactions()" required>
            <option value="" checked>All</option>
            <option *ngFor="let vl of getdropdownList('TransactionStatus')" [value]="vl['id']">{{vl['name']}}</option>
          </select>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-4">
          <input type="text" placeholder="YYYY/MM/DD - YYYY/MM/DD" class="form-control whit-bg calendar"  bsDaterangepicker formControlName="transactionDuration" [bsConfig]="{rangeInputFormat: 'YYYY/MM/DD',dateInputFormat: 'YYYY/MM/DD'}" [maxDate]="today"
            (onHidden)="getAllTransactions()">
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <button type="button" class="btn btn-primary font-weight-bold" (click)="requestDownload()">Request
            Download</button>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <button type="button" class="btn btn-secondary font-weight-bold" (click)="back()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="w-100 p-4 af-box">
  <div class="notification">
    <ul class="pl-2">
      <li class="no-brdr" *ngIf="loading">
      <ngx-skeleton-loader count="8" appearance="line"></ngx-skeleton-loader>
      <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading"> -->
      </li>
      <ng-container *ngIf="transactionData && !loading">
        <li *ngFor="let data of transactionData">
          <div class="appoint_id d-flex justify-content-between">
            <div class="info-icon">
              <div class="bg-icon">
              <i class="ri-arrow-right-up-fill text-white"></i>
            </div>
              <div class="appoint_id_date">
                <p>{{data.TransactionStatusName}}</p>
                <span>#{{data.transaction_id}}</span>
              </div>
              <div class="open_account d-block ml-4">
                <!-- <button>{{data.status}}</button><br> -->
                <button class="point">{{getPaymentType(data.PaymentMode)}}</button><br>
              </div>
            </div>
            <div class="appoint_id_date text-right">
              <p class="font-weight-bold">
                <!-- {{data.currency_code}} -->
                
                {{getdropdownList('Currency')[0]['code']}}{{data.amount }}</p>
              <span>{{data.created_at | date: 'yyyy/MM/dd h:mm a'}}</span>
            </div>
          </div>
        </li>
      </ng-container>
      <li class="text-center no-brdr" *ngIf="transactionData?.length == 0 && !loading">
        <div class="col-md-3 pl-0 mx-auto">
          <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
        </div>
        <p>No data found</p>
      </li>
    </ul>
    
    <mat-paginator class="mr-5" #page *ngIf="paginationSettings?.enablePagination" [length]="paginationSettings?.length"
      [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>
  </div>
</div>
