
.point{
  cursor:text;
}
.bg-icon{
  background-color: #1f4384 !important;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 767.98px) {
  .select-type .form-control,
  .select-type .btn {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 469.98px) {
  .notification .appoint_id {
    display: block !important;
  }

  .notification p {
    margin-bottom: 0 !important;
  }

  .info-icon,
  .appoint_id_date {
    width: 100% !important;
  }

  .open_account {
    width: 50% !important;
  }

  .appoint_id_date {
    text-align: center !important;
    margin-top: 10px;
  }
}
