<div id="login">
  <div class="fullpage cus-loading" *ngIf="isloading">
    <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
  </div>
  <section>
    <div class="container-fluid">
      <div class="row single-pg">
        <div class="col-md-6 logo-section-left">
          <div class="row logo-section-left">
            <ngb-carousel class="carousel-fade">
              <ng-template ngbSlide *ngFor="let data of scrollBlocks">
                <div class="wrapper">
                  <img [src]="data.src" alt="{{data.title}}">
                </div>
                <div class="carousel-caption">
                  <h1 class="font-weight-bold">{{ data.title }}</h1>
                  <h3 class="font-weight-normal">{{ data.short }}</h3>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="col-md-6 p-3 bg-color d-block pt-4 p-scroll">
          <div class="signup-logo py-4 mx-auto">
            <img src="./assets/img/Logo.svg" class="mx-auto d-block pb-4 mt-5" alt="logo">
            <div class="login-section">

              <h3 class="pb-2 text-center">Sign Up</h3>
              <!-- <div class="col-xs-12 col-12 col-md-4 form-group" style="border: 1px solid red;">
                <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
                  mask="00/00/0000" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
                  <input type="text" class="form-control" #dp="bsDatepicker"
                  mask="00/00/0000" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
              </div> -->

              <div class="otp">
                <div class="form-cover">
                  <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="register(captcha);" autocomplete="off">
                    <div class="form-group">
                      <label>First Name <span class="star">*</span></label>
                      <div class="form-inner">
                        <input type="text" id="firstname" formControlName="firstName" class="form-control" required
                          (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
                        <span *ngIf="(isSumitted || signupcontrols.firstName.dirty) && signupcontrols.firstName.errors">
                          <span class="error" *ngIf="signupcontrols.firstName.errors.required">
                            Please enter first name
                          </span>
                          <span class="error" *ngIf="signupcontrols.firstName.errors.minlength">
                            Minimum 3 characters required
                          </span>
                          <span class="error" *ngIf="signupcontrols.firstName.errors.maxlength">
                            Maximum 100 characters only accepted
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastname">Last Name <span class="star">*</span></label>
                      <div class="form-inner">
                        <input type="text" id="lastname" formControlName="lastName" class="form-control" required
                          (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
                        <span *ngIf="(isSumitted || signupcontrols.lastName.dirty) && signupcontrols.lastName.errors">
                          <span class="error" *ngIf=" signupcontrols.lastName.errors.required">
                            Please enter last name
                          </span>
                          <span class="error" *ngIf="signupcontrols.lastName.errors.minlength">
                            Minimum 1 characters required
                          </span>
                          <span class="error" *ngIf="signupcontrols.lastName.errors.maxlength">
                            Maximum 50 characters only accepted
                          </span>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="phone">Mobile Number <span class="star">*</span></label>
                      <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                          <input type="tel" id="phone" formControlName="countryCode" class="form-control" value="1" readonly />
                          <!-- <select class="form-control" formControlName="countryCode"  readonly="readonly">
                            <option selected> +1 </option>
                            <option *ngFor="let data of allContries"> {{data.dial_code}} </option>
                          </select> -->
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 pl-0 mob-no">
                          <div class="form-inner">
                            <input type="tel" id="phone" formControlName="userPhone" class="form-control" required
                              [showMaskTyped]="false" mask="(000) 000-0000" (keypress)="keyPressNumbers($event)" />
                          </div>
                        </div>
                      </div>
                      <span *ngIf="(isSumitted || signupcontrols.userPhone.dirty) && signupcontrols.userPhone.errors">
                        <span class="error" *ngIf=" signupcontrols.userPhone.errors.required">
                          Please enter mobile number
                        </span>

                        <span class="error" *ngIf="signupcontrols.userPhone.errors.minlength">
                          Mobile number should have minimum of 7 characters
                        </span>

                      </span>
                    </div>

                    <!-- <div class="form-group">
                      <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true" [enablePlaceholder]="false" [searchCountryFlag]="true"
                        [searchCountryField]="[
                        SearchCountryField.Iso2,
                        SearchCountryField.Name
                      ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Jamaica"
                        [phoneValidation]="true" [separateDialCode]="separateDialCode"
                        [numberFormat]="PhoneNumberFormat.National" name="userPhone" formControlName="userPhone">
                      </ngx-intl-tel-input>
                    </div> -->

                    <div class="form-group">
                      <p>Occupation <span class="star">*</span></p>
                      <div class="d-flex justify-content-between btn-radio ">
                        <div class="form-check-inline">
                          <label class="form-check-label" for="radio1">
                            <i class="ri-user-2-fill"></i> Salaried
                            <input type="radio" class="form-check-input" formControlName="occupation" name="occupation"
                              value="1" checked />

                          </label>
                        </div>
                        <div class="form-check-inline mr-0">
                          <label class="form-check-label" for="radio2">
                            <i class="ri-briefcase-3-fill"></i> Business
                            <input type="radio" class="form-check-input" formControlName="occupation" name="occupation"
                              value="2" />
                          </label>
                        </div>
                      </div>
                      <span *ngIf="(isSumitted || signupcontrols.occupation.dirty) && signupcontrols.occupation.errors">
                        <span class="error" *ngIf=" signupcontrols.occupation.errors.required">
                          Please select occupation
                        </span>
                      </span>
                    </div>
                    <div class="form-group" *ngIf="occupationType == 1">
                      <label for="exampleFormControlSelect1">Employer <span class="star">*</span></label>
                      <!-- <select class="form-control" formControlName="employerData">
                        <option value="" selected="selected">Select employer</option>
                        <option *ngFor="let data of employerDatas" [value]="data.id">{{data.name}}</option>
                      </select>
                      -->
                      <div class="ng-autocomplete">

                        <ng-autocomplete [data]="allEmployers" formControlName="employerData" [searchKeyword]="keyword"
                          placeholder="" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                          (inputFocused)='onFocused($event)' historyIdentifier="allEmployers"
                          (keypress)="keyPressAlphaEmployer($event)"
                          [itemTemplate]="itemTemplate"
                          [customFilter]="customFilter">
                
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.name" *ngIf="signupcontrols.employerData.value.length>2"></a>
                        </ng-template>

                      </div>
                      <span
                        *ngIf="(isSumitted || signupcontrols.employerData.dirty) && signupcontrols.employerData.errors">
                        <span class="error" *ngIf=" signupcontrols.employerData.errors.required">
                          Please select employer
                        </span>
                      </span>
                    </div>

                    <div class="form-group" *ngIf="occupationType == 2">
                      <label for="exampleFormControlSelect1">Business Name <span class="star">*</span></label>
                      <input type="text" formControlName="businessName" class="form-control" required
                        (keypress)="keyPressAlpha($event)" (paste)="onPaste($event)" />
                      <span
                        *ngIf="(isSumitted || signupcontrols.businessName.dirty) && signupcontrols.businessName.errors">
                        <span class="error" *ngIf=" signupcontrols.businessName.errors.required">
                          Please enter business name
                        </span>
                        <span class="error" *ngIf="signupcontrols.businessName.errors.minlength">
                          Minimum 1 characters required
                        </span>
                        <span class="error" *ngIf="signupcontrols.businessName.errors.maxlength">
                          Maximum 50 characters only accepted
                        </span>
                      </span>
                    </div>
                    <!--  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
                  mask="00/00/0000" bsDatepicker [(bsValue)]="myDateValue" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">-->

                    <div class="form-group lap-sign">
                      <label for="email">Date Of Birth <span class="star">*</span>
                        <span
                        class="float-right ml-2 cstm-tooltip"  placement="top"
                        ngbTooltip="Please select year first, followed by month and date
                        (YYYY/MM/DD)"><i class="ri-information-line text-primary"></i>
      
                      </span>
                      
                      
                      </label>
                      <div class="form-inner hackyhack">  
                        <!-- [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" -->
                        <input type="text" placeholder="YYYY/MM/DD" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY/MM/DD','customTodayClass': 'today'}"
                          (onHidden)="changeTnr()" (keypress)="keyPressNumbers($event)" (paste)="onPaste($event)"
                          onkeydown="return false" class="form-control calendar"  [maxDate]="maxDate" 
                          formControlName="dateOfBirth" readonly required>
                        <span
                          *ngIf="(isSumitted || signupcontrols.dateOfBirth.dirty) && signupcontrols.dateOfBirth.errors">
                          <span class="error" *ngIf=" signupcontrols.dateOfBirth.errors.required">
                            Please enter date of birth
                          </span>
                          <!-- <span class="error" *ngIf="signupcontrols.dateOfBirth.errors.minlength">
                            Minimum 5 characters required
                          </span>
                          <span class="error" *ngIf="signupcontrols.dateOfBirth.errors.maxlength">
                            Maximum 50 characters only accepted
                          </span> -->
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">TRN <span class="star">*</span></label>
                      <div class="form-inner">
                        <!-- <input type="text" formControlName="trnNo"
                          class="form-control" required minlength="9" maxlength="15"
                          (keypress)="keyPressNumbers($event)" (change)="changeTnr($event)" (paste)="onPaste($event)" /> -->
                        <input type="text" placeholder="xxx-xxx-xxx" [showMaskTyped]="false" mask="000-000-000" formControlName="trnNo"
                          class="form-control " required minlength="9" maxlength="11" (keypress)="forTrn($event)"
                          (change)="changeTnr($event,0)" (keyup)="changeKeyupTnr($event)" (paste)="onPaste($event)" />

                        <span
                          *ngIf="!trnloader && (isSumitted || signupcontrols.trnNo.dirty) && signupcontrols.trnNo.errors">
                          <span class="error" *ngIf=" signupcontrols.trnNo.errors.required">
                            Please enter TRN no
                          </span>
                          <span class="error" *ngIf="signupcontrols.trnNo.errors.minlength">
                            Minimum 9 characters required
                          </span>
                          <span class="error" *ngIf="signupcontrols.trnNo.errors.maxlength">
                            Maximum 15 characters only accepted
                          </span>
                          <span class="error" *ngIf="signupcontrols.trnNo.errors.incorrect">
                            {{tnrerror}}
                          </span>
                        </span>
                        <div *ngIf="trnloader">
                          <img width="20" class="imageloader" height="20" src="../../../assets/img/loading.png"
                            alt="Loading..">
                        </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="email">Email <span class="star">*</span></label>
                      <div class="form-inner">
                        <input type="email" formControlName="userEmail" class="form-control" required
                          (keypress)="keyPressEmail($event)" />
                        <span *ngIf="(isSumitted || signupcontrols.userEmail.dirty) && signupcontrols.userEmail.errors">
                          <span class="error" *ngIf=" signupcontrols.userEmail.errors.required">
                            Please enter email
                          </span>
                          <span class="error" *ngIf=" signupcontrols.userEmail.errors.pattern">
                            Please enter valid email
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="new_pwd" class="pt-2">Password <span class="star">*</span></label>
                      <div class="form-inner">
                        <input [type]="showPword ? 'text' : 'password'" (keyup)="changepass()" class="form-control py-4"
                          placeholder=" " formControlName="newPassword" (paste)="onPaste($event)" required>
                        <span class="input-group-append field-icon">
                          <img [src]="showPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
                            (mousedown)="showPassword()" (mouseleave)="hidePassword()">
                        </span>
                        <span
                          *ngIf="(isSumitted || signupcontrols.newPassword.dirty) && signupcontrols.newPassword.errors">
                          <span class="error" *ngIf=" signupcontrols.newPassword.errors.required">
                            Please enter password
                          </span>
                          <span class="error" *ngIf=" signupcontrols.newPassword.errors.pattern">
                            Password should contain minimum 6 characters containing at least one uppercase letter, one number, one special character and no white space.
                          </span>
                          <!-- <span class="error" *ngIf="signupcontrols.newPassword.errors.minlength">
                            <br>Minimum 6 characters required
                          </span> -->
                          <span class="error" *ngIf="signupcontrols.newPassword.errors.maxlength">
                            Maximum 12 characters only accepted
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="confirm_pwd" class="pt-2">Confirm Password <span class="star">*</span></label>
                      <div class="form-inner">
                        <input [type]="showCPword ? 'text' : 'password'" class="form-control py-4" placeholder=" "
                          formControlName="confirmPassword" (paste)="onPaste($event)" required>
                        <span class="input-group-append field-icon">
                          <img [src]="showCPword ? 'assets/img/eye.svg' : 'assets/img/eye-off.svg'" alt=""
                             (mousedown)="showCPassword()" (mouseleave)="hideCPassword()">
                        </span>
                        <span
                          *ngIf="(isSumitted || signupcontrols.confirmPassword.dirty) && signupcontrols.confirmPassword.errors">
                          <span class="error" *ngIf=" signupcontrols.confirmPassword.errors.required">
                            Please enter confirm password
                          </span>
                          
                        </span>
                        <span class="error" *ngIf="registerForm.errors?.notSame">
                          Password and confirm password should be same
                        </span>
                      </div>
                    </div>

                     <div class="form-group mb-2">
                      <!-- <re-captcha id="recaptcha" name="recaptcha" formControlName="token" required [class.is-invalid]="isSumitted && signupcontrols.token.errors"></re-captcha> -->
                      <p-captcha siteKey={{sitekey}} #captcha  (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha>
                      <span *ngIf="isSumitted && signupcontrols.token.errors " >
        <span class="error" *ngIf="signupcontrols.token.errors?.['required']">Please confirm captcha to proceed</span>
      </span>
                      </div> 
                    <div class="terms_policy pt-0">
                      <p>By clicking "Next" you are agreeing to our <a [routerLink]="['/terms-conditions']"
                        rel="noopener noreferrer" target="_blank">Terms of Use</a> and <a [routerLink]="['/privacy-policy']"
                        rel="noopener noreferrer"  target="_blank">Privacy
                          Policy</a></p>
                    </div>

                    <div class="another-login pb-3">
                      <button type="submit" class="submit-btn mb-2" [disabled]="!isClickedOnce || trnloader">Next</button>
                      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p"
                        style="margin: 12px auto;" *ngIf="loading">

                    </div>
                  </form>

                  <p class="text-center" *ngIf="socialstatus=='1'">Or Sign up using</p>
                  <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading w-25p mx-auto mt-0 mb-0" *ngIf="issocialload">
                  <div class="row another-login" *ngIf="socialstatus=='1'">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-light" (click)="loginWithGoogle()">
                        <img src="./assets/img/google.png" alt="google" />
                        Google
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-light" (click)="loginWithFacebook()">
                        <img src="./assets/img/facebook-64.png" alt="facebook" />
                        Facebook
                      </button>
                    </div>
                  </div>
                  <p class="text-center " [class.pt-3]="socialstatus=='1'">
                    Already have an account? <a class="u-line txt-bold" routerLink="/login">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
