.error {
  color: red !important;
}

#login .fullpage.cus-loading {
  top: 102px;
  left: 50%;
  width: 50%;
  height: 104%;
}

.imageloader {
  width: 20px !important;
}
.today{
  background-color: red
}
.hackyhack {
  position: relative;
}
select[readonly] {
  background: #eee;
  /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}
.lap-sign{
  position: relative;
}
ngb-carousel {
  width: 100%;
  height: 100%;
}

.carousel-caption h1,
.carousel-caption h3 {
  color: #fff;
}

.carousel-caption h3 {
  font-weight: 400 !important;
}

@media (max-width: 575.98px) {
  .mob-no {
    padding-left: 15px !important;
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .clogin .fullpage.cus-loading {
    left: 0;
    width: 100%;
  }

}
