<!-- <h3 class="mb-4">Offers</h3> -->
<div class="row mx-0 pb-3 pt-3 af-box">
  <div class="col-lg-12">
    <img src="../../../assets/img/AFS-Offer.jpg" alt="card" class="br-rdus img-thumb" style="height:100%">
  </div>
  <!-- <div class="fullpage nor-loading"> -->
  <!-- <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" *ngIf="loading"> -->
  <!-- </div> -->
<!-- 
    <div class="fullpage nor-loading" *ngIf="floading">
      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading" >
      </div>
  <div class="row w-100 mx-3 py-3 bdr-btm" *ngFor="let item of allOffers">
    <div class="col-lg-2 center-image">
      <img alt="card" [src]="item?.PromotionImage ? item.PromotionImage :'../../../assets/img/SVG/Price Tag.svg'" alt=""
        class=" br-rdus img-thumb" >
        <img src="../../../assets/img/SVG/Price Tag.svg" alt="card" class="br-rdus img-thumb"> -->
   <!--</div>
    <div class="col-lg-6">
      <h4 class="mb-2 font-weight-bold txt-drkgray">{{item.PromotionName}}</h4>
      <p class="mb-2 txt-gray">{{item.PromotionDescription}}</p>
      <p class="mb-0 font-weight-bold"><span class="txt-11p">Start Date:
          {{item.StartDate | date: 'dd-MM-yyyy h:mm a'}}</span>
        <span class="ml-5 txt-11p">End
          Date:
          {{item.EndDate | date: 'dd-MM-yyyy h:mm a'}}</span></p>
    </div>
    <div class="col-lg-4 d-flex justify-content-end align-items-center">
      <div class="outstand_amt px-4 py-2 bg-lightblue" *ngIf="item.EnabledPersonalLoan == true">
        <p class="mb-0 font-weight-bold">Personal Loan</p>
      </div>
      <div class="outstand_amt px-4 py-2 bg-lightblue ml-3" *ngIf="item.EnabledBusinessLoan == true">
        <p class="mb-0 font-weight-bold">Business Loan</p>
      </div>
    </div> -->
    <!-- <div class="col-lg-2">
      <img src="../../../assets/img/SVG/Price Tag.svg" alt="card" class="br-rdus img-thumb">
    </div> -->
  <!-- </div> -->
  <!-- <div class="w-100 mx-3 py-5" *ngIf="allOffers?.length==0 && !loading">
    <div class="col-md-3 pl-0 mx-auto">
      <img src="../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
    </div>
    <p class="text-center mt-5">No data found</p>
  </div>
  <mat-paginator #page *ngIf="paginationSettings?.enablePagination" [length]="paginationSettings?.length"
    [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>  -->
</div>
