<div class="w-100 af-box appoint">
  <div class="notification mt-4">
    <ul class="pl-2">
      <li class="no-brdr w-100 " *ngIf="loading">

        <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
      </li>
      <ng-container *ngIf="appointmentData">
        <li *ngFor="let data of appointmentData">
          <div class="fullpage" *ngIf="floading">
            <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
          </div>
          <div class="appoint_id row mx-0">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <i class="ri-arrow-right-up-fill text-primary"></i>
              <div class="appoint_id_date" *ngIf="!data.ProposedStartDate || data.statusname1=='Cancel'">
                <p class="font-weight-bold mb-0">#{{data.AppointNumber}}</p>
                <span>{{data.AppointmentDate | date: 'yyyy/MM/dd' }}
                  {{'  '+transform(data.AppointmentStartTime.substring(0,5))}}</span>
              </div>
              <div class="appoint_id_date" *ngIf="data.ProposedStartDate && data.statusname1!='Cancel'">
                <p class="font-weight-bold mb-0">#{{data.AppointNumber}}</p>
                <span>{{data.ProposedStartDate | date: 'yyyy/MM/dd' }}
                  {{'  '+transform(data.ProposedEndTime.substring(0,5))}}</span>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="open_account">
                <div class="center">
                  <button class="text-bold"
                    [ngClass]="{'completed': data.statusname2=='Closed'}">{{data.statusname2 }}</button>
                </div>
                <p class="w-100 text-center txt-11p font-weight-bold">{{data.AppointmentBookingTypeName }}</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="open_account d-block mt-2">
                <div class="w-100 text-center center-word">{{data.Comments?data.Comments:'-'}}</div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="filter-button d-flex">
                <p *ngIf="data.statusname1=='Cancel'" class="btn  schdule font-weight-bold  mr-2 mt-2">Appointment has
                  been
                  cancelled</p>
                <button *ngIf="data.statusname1=='Submitted'" type="button"
                  (click)="reschedule(data.AppointmentBookingId,data.AppointmentDate,data.AppointmentStartTime,rescheduleModel,data.BranchId)"
                  class="btn  schdule font-weight-bold  mr-2 mt-2">Reschedule</button>
                <button *ngIf="data.statusname1=='Rescheduled'" (click)="updateschedule(3,data.AppointmentBookingId)"
                  type="button" class="btn btn-primary font-weight-bold cacelbtn mt-2 mr-2">Approval</button>
                <button
                  *ngIf="(data.statusname1=='Submitted')|| (data.statusname1=='Rescheduled')||(data.statusname1=='Resubmitted')||(data.statusname1=='Approved') "
                  (click)="updateschedule(4,data.AppointmentBookingId)" type="button"
                  class="btn btn-secondary font-weight-bold cacelbtn mt-2 ">Cancel</button>
              </div>
            </div>

            <!-- <div class="info-icon w-80">
              <div class="col-sm-12 col-md-4 col-lg-4 row">
                <i class="ri-arrow-right-up-fill text-primary"></i>
                <div class="appoint_id_date">
                  <p class="font-weight-bold">#{{data.AppointNumber}}</p>
                  <span>{{data.AppointmentDate | date: 'dd-MM-yyyy' }}
                    {{transform(data.AppointmentStartTime.substring(0,5))}}</span>
                </div>
              </div>
              <div class="open_account d-block col-sm-12 col-md-3 col-lg-3">
                <div class="center">
                  <button class="text-bold">{{data.statusname2 }}</button>
                </div>
                <p class="w-100 text-center txt-11p font-weight-bold">{{data.AppointmentBookingTypeName }}</p>
              </div>
              <div class="open_account d-block col-sm-12 col-md-5 col-lg-5 mt-2">
                <div class="w-100 text-center center-word">{{data.Comments?data.Comments:'-'}}</div>
              </div>
            </div> -->
            <!-- <div class="appoint_id_date text-right"> -->

            <!-- </div> -->
          </div>
        </li>
      </ng-container>
      <li class="text-center no-brdr" *ngIf="appointmentData?.length == 0 ">
        <div class="col-md-3 pl-0 mx-auto">
          <img src="../../../../assets/img/SVG/No Data.svg" alt="card" class="af-card">
        </div>
        <p>No data found</p>
      </li>
    </ul>
  </div>
</div>
<mat-paginator #page class="pr-5" *ngIf="paginationSettings?.enablePagination && appointmentData?.length>0" [length]="paginationSettings?.length"
  [pageSize]="paginationSettings?.offset" (page)="getServerData($event)"></mat-paginator>
<ng-template #rescheduleModel let-modals>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reschedule</h4>
    <button type="button" class="close mr-2" aria-label="Close" (click)="modals.close('Save click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="fullpage" *ngIf="rloading">
      <img src="../../../assets/img/loading.png" alt="Loading.." class="af-loading">
    </div>
    <form [formGroup]="rescheduleForm" class="filter-form w-100" autocomplete="off">
      <div class="row pb-4  mx-auto">
        <div class="col-md-6">
          <div class="form-group">
            <label>Preferred date  <span
              class="float-right ml-2 cstm-tooltip"  placement="top"
              ngbTooltip="Please select year first, followed by month and date
              (YYYY/MM/DD)"><i class="ri-information-line text-primary"></i>
  
            </span></label>
            <!-- <input type="date" formControlName="appointmentDate" min={{currentdate}} class="form-control"
              onkeydown="return false" /> -->
              <input type="text" placeholder="YYYY/MM/DD" bsDatepicker [minDate]="mindate" [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
              [daysDisabled]="[6,0]" class="form-control calendar" formControlName="appointmentDate" onkeydown="return false" >
            <span
              *ngIf="(submitted || rescheduleForm.controls.appointmentDate.dirty) && rescheduleForm.controls.appointmentDate.errors">
              <span *ngIf="rescheduleForm.controls.appointmentDate.errors.required" class="error">
                Appointment date required
              </span>
              
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Time Slot</label>
            <input [ngxMatTimepicker]="pickerA" placeholder="hh:mm" formControlName="timeslot" class="form-control calendar" onkeydown="return false" (change)="gethourminutesMinMax($event)" />
          
            <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
            <span
              *ngIf="(submitted || rescheduleForm.controls.timeslot.dirty) && rescheduleForm.controls.timeslot.errors">
              <span *ngIf="rescheduleForm.controls.timeslot.errors.required" class="error">
                Timeslot required
              </span>
              <span *ngIf="rescheduleForm.controls.timeslot.errors.minMaxError" class="error">
                Please select time between {{branchid=='12'? get12HourFormat(defaultstartTime) : get12HourFormat(startTime)}} to {{branchid=='12'?get12HourFormat(defaulttoTime): get12HourFormat(toTime)}}
              </span>
              <span *ngIf="rescheduleForm.controls.timeslot.errors.minTodayError" class="error">
                This time is not available today
              </span>
            </span>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary mx-2  py-2" (click)="resuduleSubmit()">Submit</button>
    <button type="button" class="btn btn-secondary mx-3" (click)="modals.close('Save click')">Cancel</button>
  </div>
</ng-template>
