.appoint .info-icon i {
  padding: 5px;
  background-color: #edf3fe;
  height: max-content;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.center {
  width: max-content;
  margin: auto;
}

.center-word {
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px 20px;
  background-color: #edf3fe;
  border-radius: 5px;
}

.schdule {
  height: max-content;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.cacelbtn {
  height: max-content;
}

.w-80 {
  width: 70%;
}

.appoint_id_date {
  display: inline-block;
}

.filter-button .btn {
  min-width: 50%;
}


::ng-deep .cdk-overlay-container {
  z-index: 999999 !important;
}

/* @media (max-width: 469.98px) { */
@media (max-width: 575.99px) {
  .info-icon.w-80 {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .open_account {
    display: flex;
    margin: 10px auto;
  }
}
